@font-face {
    font-family: 'ITC Century Std';
    src: url('CenturyStd-Book.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ITC Century Std';
    src: url('CenturyStd-Bold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Italianno';
    src: url('Italianno-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1';
    src: url('GothicA1-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1';
    src: url('GothicA1-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1';
    src: url('GothicA1-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}