<template>
  <div id="app">
    <A109Component />
  </div>
</template>

<script>
import A109Component from '../components/a1-09.vue'

export default {
  name: 'App',
  components: { A109Component }
}
</script>
