<template>
  <div id="app">
    <S116Component/>
  </div>
</template>

<script>
import S116Component from '../components/s1-16.vue'

export default {
  name: 'App',
  components: {
    S116Component
  }
}
</script>

<style>
</style>
