<template>
  <div id="app">
    <S117Component/>
  </div>
</template>

<script>
import S117Component from '../components/s1-17.vue'

export default {
  name: 'App',
  components: {
    S117Component
  }
}
</script>

<style>
</style>
