<template>
  <div id="app">
    <S110Component/>
  </div>
</template>

<script>
import S110Component from '../components/s1-10.vue'

export default {
  name: 'App',
  components: {
    S110Component
  }
}
</script>

<style>
</style>
