<template>
  <div id="app">
    <S114Component/>
  </div>
</template>

<script>
import S114Component from '../components/s1-14.vue'

export default {
  name: 'App',
  components: { S114Component }
}
</script>
