<template>
  <div id="app">
    <S118Component/>
  </div>
</template>

<script>
import S118Component from '../components/s1-18.vue'

export default {
  name: 'App',
  components: {
    S118Component
  }
}
</script>

<style>
</style>
