<template>
  <div id="app">
    <S119Component/>
  </div>
</template>

<script>
import S119Component from '../components/s1-19.vue'

export default {
  name: 'App',
  components: {
    S119Component
  }
}
</script>

<style>
</style>
