<template>
  <div id="app">
    <S127Component/>
  </div>
</template>

<script>
import S127Component from '../components/s1-27.vue'

export default {
  name: 'App',
  components: {
    S127Component
  }
}
</script>

<style></style>
