<template>
  <div id="app">
    <S125Component/>
  </div>
</template>

<script>
import S125Component from '../components/s1-25.vue'

export default {
  name: 'App',
  components: { S125Component }
}
</script>
