<template>
  <div id="app">
    <S128Component/>
  </div>
</template>

<script>
import S128Component from '../components/s1-28.vue'

export default {
  name: 'App',
  components: {
    S128Component
  }
}
</script>

<style>
</style>
