<template>
  <div id="app1">
    <div>
      <!-- figure displaying according to task -->
      <S121Component v-bind:is-cylinder1="true" v-bind:is-cylinder2="false" ref="cylinder"/>
      <S121Component v-bind:is-cone1="true" v-bind:is-cone2="false" ref="cone"/>
    </div>
    <div class="actions">
      <button id="action-reset" @click="reset()" ref="resetBtn"></button>
    </div>
  </div>
</template>

<script>
import S121Component from '../components/s1-21.vue'

export default {
  name: 'App',
  components: { S121Component },
  methods: {
    reset() {
      if (this.$refs && this.$refs.cylinder && this.$refs.cone) {
        this.$refs.cylinder.reset();
        this.$refs.cone.reset();
      }
    }
  }
}
</script>

<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
  .actions {
    top: 72% !important;
  }
</style>
