<template>
  <div id="app">
    <S124Component/>
  </div>
</template>

<script>
import S124Component from '../components/s1-24.vue'

export default {
  name: 'App',
  components: {
    S124Component
  }
}
</script>

<style>
</style>
