<template>
  <div id="app">
    <S120Component/>
  </div>
</template>

<script>
import S120Component from '../components/s1-20.vue'

export default {
  name: 'App',
  components: {
    S120Component
  }
}
</script>

<style>
</style>
