<template>
  <div id="app">
    <S129Component/>
  </div>
</template>

<script>
import S129Component from '../components/s1-29.vue'

export default {
  name: 'App',
  components: {
    S129Component
  }
}
</script>

<style>
</style>
