<template>
  <div id="app">
    <S126Component/>
  </div>
</template>

<script>
import S126Component from '../components/s1-26.vue'

export default {
  name: 'App',
  components: {
    S126Component
  }
}
</script>

<style>
</style>
