<template>
  <div id="app">
    <!-- displaying of triangle within for s2-24 is setting here -->
    <S224Component v-bind:is-show-triangle="true"/>
  </div>
</template>

<script>
import S224Component from '../components/s2-24.vue'

export default {
  name: 'App',
  components: { S224Component }
}
</script>