<template>
  <div id="app">
    <!-- displaying of line within for s3-22 is setting here -->
    <S323Component v-bind:is-show-triangle="false"/>
  </div>
</template>

<script>
import S323Component from '../components/s3-23.vue'

export default {
  name: 'App',
  components: { S323Component }
}
</script>
