<template>
  <div id="app">
    <S324Component/>
  </div>
</template>

<script>
import S324Component from '../components/s3-24.vue'

export default {
  name: 'App',
  components: { S324Component }
}
</script>
