<template>
    <div>
      <div class="project-wrap">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>
      <div class="actions">
        <button id="button1" @click="button1()" :class="button1Class"></button>
        <button id="button2" @click="button2()" :class="button2Class"></button>
        <div class="check-container">
          <div class="check-text"></div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox" v-model="visibleAmin" @change="checkbutton()">
            <label for="checkbox" class="label-check"></label>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
  import * as THREE from 'three'
  import $ from 'jquery'
  import { MeshLine } from '../assets/js/THREE.MeshLine.js'
  import { MeshLineMaterial } from 'three.meshline'
  import { CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer.js';

export default {
  name: "s1-16",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      // first clone
      groupClone: null,
      groupArray: [],
      // animation
      startAnim: false,
      visibleAmin: true,
      counter: 70,
      aminwork: false,
      animInterval: false,
      animIntervalNum: 0,
      speedAnim: 5,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      l_material2: null,
      width: 1024,
      height: 768,

      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  mounted() {
    this.init()
    
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    this.renderer.debug.checkShaderErrors = false
  },
  methods: {
    getMaterial() {
      return {
        color: '#FCEDED',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        depthWrite: false,
        side: THREE.DoubleSide,
      }
    },
    getMaterialActive() {
      return {
        color: '#fcdad9',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        depthWrite: false,
        side: THREE.DoubleSide,
      }
    },
    init() {
      document.getElementById("three_view").innerHTML = '';
      
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);

      this.button1Class = ''
      this.button2Class = 'active'
      this.startAnim = false
      this.visibleAmin = true

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.rotation.x = .3;
      this.scene.rotation.y = 0;
      this.scene.position.y = 0;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(500);
      this.camera.zoom = 2.3;
      this.camera.updateProjectionMatrix();

      this.light = new THREE.DirectionalLight( 0xffffff );
      this.scene.add( this.light );

      var resolution = new THREE.Vector2( this.width, this.height );

      this.l_material = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .003,
      });
      this.l_material2 = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .005,
      });

      let l_material1 = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( "#f69258" ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .006,
      });

      this.groupClone = new THREE.Group()

      let line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -55, 80, 0 ) );
      line.vertices.push( new THREE.Vector3( -55, -80, 0 ) );

      var g2 = new MeshLine();
      g2.setGeometry( line );

      var mesh = new THREE.Mesh( g2.geometry, this.l_material );
      mesh.position.set(-62, 0, 0)
      this.groupClone.add(mesh)

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -55, -80, 0 ) );
      line.vertices.push( new THREE.Vector3( 60, -80, 0 ) );

      g2 = new MeshLine();
      g2.setGeometry( line );

      mesh = new THREE.Mesh( g2.geometry, this.l_material );
      mesh.position.set(-62, 0, 0)
      this.groupClone.add(mesh)

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 60, -40, 0 ) );
      line.vertices.push( new THREE.Vector3( 60, -80, 0 ) );

      g2 = new MeshLine();
      g2.setGeometry( line );

      mesh = new THREE.Mesh( g2.geometry, this.l_material );
      mesh.position.set(-62, 0, 0)
      this.groupClone.add(mesh)


      let torusGeometry = new THREE.TorusGeometry( 220, .4, 2, 31, 1.535 );
      let torusMaterial = new THREE.MeshBasicMaterial( { color: 0x000000 } );
      let torus = new THREE.Mesh( torusGeometry, torusMaterial );
      torus.position.set(3, 80, 0)
      torus.rotation.set(0, 0, Math.PI)

      this.groupClone.add(torus)

			const heartShape = new THREE.Shape();

			heartShape.moveTo( -55, -80 );
			heartShape.lineTo( -55, 80 );
			heartShape.bezierCurveTo( -55, 70, -50, -32, 60, -42 );
			heartShape.lineTo( 60, -40 );
			heartShape.lineTo( 60, -80 );
			heartShape.lineTo( -60, -80 );

			let geometry = new THREE.ShapeGeometry( heartShape, 8 );
			let material = new THREE.MeshBasicMaterial( this.getMaterial() );
			mesh = new THREE.Mesh( geometry, material ) ;
      mesh.position.set(-62, 0, 0)
			this.groupClone.add(mesh)

      this.groupArray = []

      for (let i = 1; i < 71; i++) {
        let newOb = this.groupClone.clone();
        newOb.name = i
        newOb.visible = false
        newOb.rotation.set(0, (2 * Math.PI / 70) * i, 0)
        this.scene.add( newOb );
      }

      this.ativeClone(this.scene.children[70])
      this.counter = 70

      //add central line

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 0, 140, 0 ) );
      line.vertices.push( new THREE.Vector3( 0, -140, 0 ) );

      g2 = new MeshLine();
      g2.setGeometry( line );

      mesh = new THREE.Mesh( g2.geometry, l_material1 );

      this.scene.add(
        mesh
      );

      this.$nextTick(() => {
        // this.canvas = document.getElementById('three_view');
        // this.canvas.addEventListener(this.mouseDown, this.startRotate);
        // this.canvas.addEventListener(this.mouseMove, this.onRotate);
        // this.canvas.addEventListener(this.mouseUp, this.endRotate);
        // window.addEventListener(this.mouseUp, this.endRotate);

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });
      })
    },
    ativeClone(ob) {
      ob.children[0].material = this.l_material2
      ob.children[1].material = this.l_material2
      ob.children[2].material = this.l_material2
      ob.children[3].geometry = new THREE.TorusGeometry( 120, .9, 3, 31, 1.535 );
      ob.children[4].material = new THREE.MeshBasicMaterial( this.getMaterialActive() )
      ob.visible = true
    },
    disativeClone(ob) {
      if (!this.visibleAmin) {
        ob.visible = false
      }
      ob.children[0].material = this.l_material
      ob.children[1].material = this.l_material
      ob.children[2].material = this.l_material
      ob.children[3].geometry = new THREE.TorusGeometry( 120, .4, 2, 31, 1.535 );
      ob.children[4].material = new THREE.MeshBasicMaterial( this.getMaterial() )
    },
    animation() {
      if (this.counter == 1) {
        this.ativeClone(this.scene.children[this.counter])
        this.disativeClone(this.scene.children[70])
      } else {
        this.ativeClone(this.scene.children[this.counter])
        this.disativeClone(this.scene.children[this.counter - 1])
      }
      this.counter++
      if (this.counter > 70) {
        this.counter = 1
      }
    },
    render() {
      if (this.startAnim && this.animInterval) {
        this.animation()
        this.animInterTurn()
      } else {
        this.animInterTurn()
      }
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    animInterTurn() {
      if (this.animIntervalNum > this.speedAnim) {
        this.animInterval = true
        this.animIntervalNum = 0
      } else {
        this.animInterval = false
        this.animIntervalNum++
      }
      
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Safari 3.0+ "[object HTMLElementConstructor]"
      var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (isSafari) {
          name = "Safari";
      }
      return name;
    },
    button1() {
      this.startAnim = true
      this.animInterval = true
      this.button1Class = 'active'
      this.button2Class = ''
    },
    button2() {
      this.startAnim = false
      this.animInterval = false
      this.button1Class = ''
      this.button2Class = 'active'
    },
    checkbutton() {
        for (let i = 1; i < 71; i++) {
          this.scene.children[i].visible = false
        }
        if (this.counter - 1 < 1) {
          this.ativeClone(this.scene.children[1])
        } else {
          this.ativeClone(this.scene.children[this.counter - 1])
        }
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        //this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        this.rotateStart.x = x;
        this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#button1{
  outline: none;
  display: block;
  background-image: url("../assets/a1/play1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button1.active{
  background-image: url("../assets/a1/play2.svg");
}
#button2{
  outline: none;
  display: block;
  background-image: url("../assets/a1/pause.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button2.active{
  background-image: url("../assets/a1/pause2.svg");
}

#button3{
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox {
  position: relative;
  width: 100px;
}

.label-check {
  height: 45px;
  width: 100px;
  display: block;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
  margin-top: -15px;
  cursor: pointer;
}

.label-check:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#checkbox:checked + .label-check {
  background-color: #0D85B7;
}

#checkbox:focus + .label-check {
  box-shadow: 0 0 1px #0D85B7;
}

#checkbox:checked + .label-check:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.label-check.round {
  border-radius: 34px;
}

.label-check.round:before {
  border-radius: 50%;
}
.check-text {
  width: 140px;
  height: 50px;
  background: url(../assets/zanzou_mode.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.check-container {
  display: flex;
  align-items: center;
  width: 223px;
}

</style>
