<template>
    <div>
      <div class="project-wrap">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>
      <div class="actions">
        <button id="button3" @click="init()"></button>
      </div>
    </div>
</template>


<script>
  import * as THREE from 'three'
  import $ from 'jquery'
  import { MeshLine } from '../assets/js/THREE.MeshLine.js'
  import { MeshLineMaterial } from 'three.meshline'
  import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';

export default {
  name: "s1-18",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      //face
      plane1: null,
      plane2: null,
      plane3: null,
      plane4: null,
      plane5: null,
      plane6: null,
      //line
      line_top1: null,
      line_top2: null,
      line_top3: null,
      line_top4: null,
      line_middle1: null,
      line_middle2: null,
      line_middle3: null,
      line_middle4: null,
      line_bottom1: null,
      line_bottom2: null,
      line_bottom3: null,
      line_bottom4: null,
      //bline
      bline_top1: null,
      bline_top2: null,
      bline_top3: null,
      bline_top4: null,
      bline_middle1: null,
      bline_middle2: null,
      bline_middle3: null,
      bline_middle4: null,
      bline_bottom1: null,
      bline_bottom2: null,
      bline_bottom3: null,
      bline_bottom4: null,
      //Alphabets
      textGeometry: null,
      textMaterial: null,
      text_A: null,
      text_B: null,
      text_C: null,
      text_D: null,
      text_E: null,
      text_F: null,
      text_G: null,
      text_H: null,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      width: 1024,
      height: 768,

      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
      font: null,
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  mounted() {
    this.init()
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
  },
  methods: {
    init() {
      document.getElementById("three_view").innerHTML = '';
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);

      this.button1Class = ''
      this.button2Class = ''

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.rotation.x = 0.3;
      this.scene.rotation.y = -0.2;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(400);
      this.camera.zoom = 1.7;
      this.camera.updateProjectionMatrix();

      this.light = new THREE.DirectionalLight( 0xffffff );
      this.scene.add( this.light );

      var resolution = new THREE.Vector2( this.width, this.height );

      let line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 33, 55, -103 ) );
      line.vertices.push( new THREE.Vector3( -64.5, 55, 97 ) );
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 64.2, -55, -97 ) );
      line.vertices.push( new THREE.Vector3( -33, -55, 103 ) );
      this.makeLine( line, this.scene, resolution, true );

      //Alphabets
      this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
      this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide,transparent:true,opacity: 0});
      this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
      this.text_B = this.text_A.clone();
      this.text_C = this.text_A.clone();
      this.text_D = this.text_A.clone();
      this.text_E = this.text_A.clone();
      this.text_F = this.text_A.clone();
      this.text_G = this.text_A.clone();
      this.text_H = this.text_A.clone();

      this.text_A.renderOrder =
      this.text_B.renderOrder =
      this.text_C.renderOrder =
      this.text_D.renderOrder =
      this.text_E.renderOrder = 200

      this.text_A.position.set(-10,135,-60);
      this.text_B.position.set(-150,55,-60);
      this.text_C.position.set(-150,-55,-60);
      this.text_D.position.set(35,55,-120);
      this.text_E.position.set(67,-55,-120);

      var a = document.createElement( 'div' );
      a.className = 'label';
      a.id = 'R';
      a.textContent = 'R';
      a.style.fontSize = '30px';
      var aLabel = new CSS2DObject( a );
      this.text_A.add( aLabel );

      var b = document.createElement( 'div' );
      b.className = 'label';
      b.textContent = 'P';
      b.style.fontSize = '30px';
      var bLabel = new CSS2DObject( b );
      this.text_B.add( bLabel );

      var c = document.createElement( 'div' );
      c.className = 'label';
      c.textContent = 'Q';
      c.style.fontSize = '30px';
      var cLabel = new CSS2DObject( c );
      this.text_C.add( cLabel );

      var d = document.createElement( 'div' );
      d.className = 'label';
      d.textContent = 'l';
      d.style.fontSize = '30px';
      var dLabel = new CSS2DObject( d );
      this.text_D.add( dLabel );

      var e = document.createElement( 'div' );
      e.className = 'label';
      e.textContent = 'm';
      e.style.fontSize = '30px';
      var eLabel = new CSS2DObject( e );
      this.text_E.add( eLabel );


      var p2_geometry5 = new THREE.BoxGeometry( 350, 200, 0);
      var p2_geometry3 = new THREE.BoxGeometry( 350, 222, 0);
      var p2_material = new THREE.MeshBasicMaterial({
        color: '#CCDF80',
        side: false,
        transparent: true,
        opacity: 0.5,
        visible: true,
        depthTest:false,
      });

      var p2_material2 = new THREE.MeshBasicMaterial({
        color: '#CCDF80',
        dithering: true,
        transparent: true,
        opacity: 0.5,
        visible: true,
        depthTest:true,
      });

      var p2_material3 = new THREE.MeshBasicMaterial({
        color: '#000000',
        dithering: true,
        transparent: true,
        opacity: .1,
        visible: true,
        depthTest: false,
      });

      var p2_edge_geometry = new THREE.EdgesGeometry( p2_geometry5 );
      var p3_edge_geometry = new THREE.EdgesGeometry( p2_geometry3 );
      var p2_edge_material = new THREE.LineBasicMaterial({ color: 0x000000,side: THREE.FrontSide,transparent:true});

      var plane1_1 = new THREE.Mesh(p2_geometry5,p2_material);
      var line1_1 = new THREE.LineSegments(p2_edge_geometry,p2_edge_material);
      var line12_2 = new THREE.LineSegments(p2_edge_geometry,p2_material3);
      plane1_1.position.set(0,-55,3);
      line1_1.position.set(0,-55,3);
      line12_2.position.set(0,-55,3);
      plane1_1.rotation.set(1/2*Math.PI,0,0);
      line1_1.rotation.set(1/2*Math.PI,0,0);
      line12_2.rotation.set(1/2*Math.PI,0,0);
      plane1_1.name = 'plane1_1';
      line1_1.name = 'line1_1';
      line12_2.name = 'line12_2';
      plane1_1.renderOrder = 100
      line1_1.renderOrder = 50
      line12_2.renderOrder = 40
      this.scene.add(plane1_1,line1_1, line12_2);

      var plane1_2 = new THREE.Mesh(p2_geometry5,p2_material);
      var line1_2 = new THREE.LineSegments(p2_edge_geometry,p2_edge_material);
      var line12_3 = new THREE.LineSegments(p2_edge_geometry,p2_material3);
      plane1_2.position.set(0,55,-3);
      line1_2.position.set(0,55,-3);
      line12_3.position.set(0,55,-3);
      plane1_2.rotation.set(1/2*Math.PI,0,0);
      line1_2.rotation.set(1/2*Math.PI,0,0);
      line12_3.rotation.set(1/2*Math.PI,0,0);
      plane1_2.name = 'plane1_2';
      line1_2.name = 'line1_2';
      line12_3.name = 'line1_2';
      plane1_2.renderOrder = 100
      line1_2.renderOrder = 50
      line12_3.renderOrder = 40
      this.scene.add(plane1_2,line1_2,line12_3);

      var plane1_3 = new THREE.Mesh(p2_geometry3,p2_material2);
      var line1_3 = new THREE.LineSegments(p3_edge_geometry,p2_edge_material);
      plane1_3.position.set(0,0,0);
      line1_3.position.set(0,0,0);
      plane1_3.rotation.set(1/2*Math.PI + 1,-1/3 * Math.PI, 1);
      line1_3.rotation.set(1/2*Math.PI + 1,-1/3 * Math.PI, 1);
      plane1_3.name = 'plane1_3';
      line1_3.name = 'line1_3';
      this.scene.add(plane1_3,line1_3);

      this.scene.add(
        this.text_A,
        this.text_B,
        this.text_C,
        this.text_D,
        this.text_E,
      )

      this.$nextTick(() => {
        this.canvas = document.getElementById('three_view');
        this.canvas.addEventListener(this.mouseDown, this.startRotate);
        this.canvas.addEventListener(this.mouseMove, this.onRotate);
        this.canvas.addEventListener(this.mouseUp, this.endRotate);
        window.addEventListener(this.mouseUp, this.endRotate);

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });

      })
    },
    render() {
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    //Edge line of the box
    makeLine( geo, scene, resolution, col) {
      var g2 = new MeshLine();
      g2.setGeometry( geo );
      let material = null
      if (col) {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xff0000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .005,
        });
      } else {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xe7e6e6 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .005,
        });
      }
      
      var mesh = new THREE.Mesh( g2.geometry, material );
      mesh.renderOrder = 350
      scene.add( mesh );
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'pointerdown';
        //   this.mouseMove = 'pointermove';
        //   this.mouseUp = 'pointerup';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Safari 3.0+ "[object HTMLElementConstructor]"
      var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (isSafari) {
          name = "Safari";
      }
      return name;
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#button1{
  outline: none;
  display: block;
  background-image: url("../assets/select_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button1.active{
  background-image: url("../assets/select_1_active.png");
}
#button2{
  outline: none;
  display: block;
  background-image: url("../assets/select_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button2.active{
  background-image: url("../assets/select_2_active.png");
}

#button3{
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

</style>
