<template>
    <div>
      <div class="project-wrap">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>
      <div class="actions">
        <button id="button1" @click="button1()" :class="button1Class"></button>
        <button id="button2" @click="button2()" :class="button2Class"></button>
        <button id="button3" @click="init()"></button>
      </div>
    </div>
</template>


<script>
  import * as THREE from 'three'
  import $ from 'jquery'
  //import detectZoom from 'detect-zoom'
  import { MeshLine } from '../assets/js/THREE.MeshLine.js'
  import { MeshLineMaterial } from 'three.meshline'
  import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';

export default {
  name: "s1-16",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      //face
      plane1: null,
      plane2: null,
      plane3: null,
      plane4: null,
      plane5: null,
      plane6: null,
      //line
      line_top1: null,
      line_top2: null,
      line_top3: null,
      line_top4: null,
      line_middle1: null,
      line_middle2: null,
      line_middle3: null,
      line_middle4: null,
      line_bottom1: null,
      line_bottom2: null,
      line_bottom3: null,
      line_bottom4: null,
      //bline
      bline_top1: null,
      bline_top2: null,
      bline_top3: null,
      bline_top4: null,
      bline_middle1: null,
      bline_middle2: null,
      bline_middle3: null,
      bline_middle4: null,
      bline_bottom1: null,
      bline_bottom2: null,
      bline_bottom3: null,
      bline_bottom4: null,
      //Alphabets
      textGeometry: null,
      textMaterial: null,
      text_A: null,
      text_B: null,
      text_C: null,
      text_D: null,
      text_E: null,
      text_F: null,
      text_G: null,
      text_H: null,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      width: 1024,
      height: 768,

      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  mounted() {
    this.init()
    
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    this.renderer.debug.checkShaderErrors = false
  },
  methods: {
    addSquareMesh(vertices) {
      const squareGeom = new THREE.Geometry();
      vertices.forEach(i => squareGeom.vertices.push(i))
      squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
      squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
      squareGeom.computeFaceNormals();
      const squareMat = new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        color: '#FCEDED',
        opacity: .8,
        transparent: true
      });
      const squareMesh = new THREE.Mesh(squareGeom, squareMat);
      this.scene.add(squareMesh);
    },
    init() {
      document.getElementById("three_view").innerHTML = '';
      
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);

      this.button1Class = ''
      this.button2Class = ''

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.rotation.x = 0.45;
      this.scene.rotation.y = 0.27;
      this.scene.position.y = 0;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(500);
      this.camera.zoom = 1.6;
      this.camera.updateProjectionMatrix();

      this.light = new THREE.DirectionalLight( 0xffffff );
      this.scene.add( this.light );

      var resolution = new THREE.Vector2( this.width, this.height );

      const A1 = new THREE.Vector3( -50, 100, -100 );
      const B1 = new THREE.Vector3( -50, 100, 100 );
      const C1 = new THREE.Vector3( 150, 100, 100 );
      const D1 = new THREE.Vector3( 150, 100, -100 );
      const E1 = new THREE.Vector3( -150, -100, -100 );
      const F1 = new THREE.Vector3( -150, -100, 100 );
      const G1 = new THREE.Vector3( 150, -100, 100 );
      const H1 = new THREE.Vector3( 150, -100,-100 );

      [
        [A1, B1, C1, D1],
        [C1, D1, H1, G1],
        [A1, B1, F1, E1],
        [A1, D1, H1, E1],
        [B1, C1, G1, F1],
        [F1, G1, H1, E1],
      ].forEach(i => this.addSquareMesh(i));

      let line = new THREE.Geometry();
      line.vertices.push(A1);
      line.vertices.push(D1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, 100, -100 ) );
      line.vertices.push( new THREE.Vector3( -150, 100, 100 ) );
      this.makeLine( line, this.scene, resolution, false );

      line = new THREE.Geometry();
      line.vertices.push(A1);
      line.vertices.push(B1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push(B1);
      line.vertices.push(C1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, 100, 100 ) );
      line.vertices.push( new THREE.Vector3( -50, 100, 100 ) );
      this.makeLine( line, this.scene, resolution, false );

      line = new THREE.Geometry();
      line.vertices.push(C1);
      line.vertices.push(D1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push(B1);
      line.vertices.push(F1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push(A1);
      line.vertices.push(E1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, 100, -100 ) );
      line.vertices.push( new THREE.Vector3( -150, -100, -100 ) );
      this.makeLine( line, this.scene, resolution, false );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, 100, 100 ) );
      line.vertices.push( new THREE.Vector3( -150, -100, 100 ) );
      this.makeLine( line, this.scene, resolution, false );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, 100, -100 ) );
      line.vertices.push( new THREE.Vector3( -50, 100, -100 ) );
      this.makeLine( line, this.scene, resolution, false );

      line = new THREE.Geometry();
      line.vertices.push(C1);
      line.vertices.push(G1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push(D1);
      line.vertices.push(H1);
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, -100, -100 ) );
      line.vertices.push( new THREE.Vector3( 150, -100, -100 ) );
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, -100, -100 ) );
      line.vertices.push( new THREE.Vector3( -150, -100, 100 ) );
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -150, -100, 100 ) );
      line.vertices.push( new THREE.Vector3( 150, -100, 100 ) );
      this.makeLine( line, this.scene, resolution, true );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 150, -100, 100 ) );
      line.vertices.push( new THREE.Vector3( 150, -100, -100 ) );
      this.makeLine( line, this.scene, resolution, true );

      //Alphabets
      this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
      this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide,transparent:true,opacity: 0});
      this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
      this.text_B = this.text_A.clone();
      this.text_C = this.text_A.clone();
      this.text_D = this.text_A.clone();
      this.text_E = this.text_A.clone();
      this.text_F = this.text_A.clone();
      this.text_G = this.text_A.clone();
      this.text_H = this.text_A.clone();

      this.text_A.renderOrder =
      this.text_B.renderOrder =
      this.text_C.renderOrder =
      this.text_D.renderOrder =
      this.text_E.renderOrder =
      this.text_F.renderOrder =
      this.text_G.renderOrder =
      this.text_H.renderOrder = 200

      this.text_A.position.set(-60,120,-110);
      this.text_B.position.set(-40,120,110);
      this.text_C.position.set(160,110,110);
      this.text_D.position.set(160,120,-110);
      this.text_E.position.set(-170,-100,-110);
      this.text_F.position.set(-170,-120,110);
      this.text_G.position.set(180,-110,110);
      this.text_H.position.set(180,-110,-120);

      var a = document.createElement( 'div' );
      a.className = 'label';
      a.id = 'A';
      a.textContent = 'A';
      a.style.fontSize = '30px';
      var aLabel = new CSS2DObject( a );
      this.text_A.add( aLabel );

      var b = document.createElement( 'div' );
      b.className = 'label';
      b.textContent = 'B';
      b.style.fontSize = '30px';
      var bLabel = new CSS2DObject( b );
      this.text_B.add( bLabel );

      var c = document.createElement( 'div' );
      c.className = 'label';
      c.textContent = 'C';
      c.style.fontSize = '30px';
      var cLabel = new CSS2DObject( c );
      this.text_C.add( cLabel );

      var d = document.createElement( 'div' );
      d.className = 'label';
      d.textContent = 'D';
      d.style.fontSize = '30px';
      var dLabel = new CSS2DObject( d );
      this.text_D.add( dLabel );

      var e = document.createElement( 'div' );
      e.className = 'label';
      e.textContent = 'E';
      e.style.fontSize = '30px';
      var eLabel = new CSS2DObject( e );
      this.text_E.add( eLabel );

      var f = document.createElement( 'div' );
      f.className = 'label';
      f.textContent = 'F';
      f.style.fontSize = '30px';
      var fLabel = new CSS2DObject( f );
      this.text_F.add( fLabel );

      var g = document.createElement( 'div' );
      g.className = 'label';
      g.textContent = 'G';
      g.style.fontSize = '30px';
      var gLabel = new CSS2DObject( g );
      this.text_G.add( gLabel );

      var h = document.createElement( 'div' );
      h.className = 'label';
      h.textContent = 'H';
      h.style.fontSize = '30px';
      var hLabel = new CSS2DObject( h );
      this.text_H.add( hLabel );

      //box's face settings and hit point for the edges
      this.p_geometry = new THREE.PlaneBufferGeometry( 200, 200);
      this.p_geometry2 = new THREE.PlaneBufferGeometry( 230, 200);
      let p_geometry3 = new THREE.PlaneBufferGeometry( 300, 200);
      this.p_material = new THREE.MeshBasicMaterial( {color: 0xffffff, side: THREE.DoubleSide,transparent:true,opacity: 0} );

      this.l_hol_geometry = new THREE.CylinderBufferGeometry( 5, 5, 205, 205 );
      this.l_ver_geometry = new THREE.CylinderBufferGeometry( 5, 5, 305, 205 );

      let l_ver_geometry1 = new THREE.CylinderBufferGeometry( 5, 5, 245, 205 );
      this.l_material = new THREE.MeshBasicMaterial({color: 0x000000, side: THREE.FrontSide,transparent:true,opacity: 0});

      this.plane1 = new THREE.Mesh(p_geometry3, this.p_material);
      this.plane1.position.set( 0, -75, 100 );
      this.plane1.renderOrder = 100;
      this.plane1.name="1";

      this.plane2=new THREE.Mesh(this.p_geometry, this.p_material);
      this.plane2.position.set( 150, -75, 0 );
      this.plane2.rotation.set(0,1/2*Math.PI,0);
      this.plane2.renderOrder=100;
      this.plane2.name="2";

      this.plane3=new THREE.Mesh(this.p_geometry2, this.p_material);
      this.plane3.position.set( -125, -75, 0 );
      this.plane3.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,0);
      this.plane3.renderOrder=100;
      this.plane3.name="3";

      this.plane4=new THREE.Mesh(p_geometry3, this.p_material);
      this.plane4.position.set( 0, -75, -100 );
      this.plane4.renderOrder=100;
      this.plane4.name="4";

      this.plane5=new THREE.Mesh(p_geometry3, this.p_material);
      this.plane5.position.set( 0, -175, 0 );
      this.plane5.rotation.set(1/2*Math.PI,0,0);
      this.plane5.renderOrder=100;
      this.plane5.name="5";

      this.plane6=new THREE.Mesh(this.p_geometry, this.p_material);
      this.plane6.position.set( 50, 25, 0 );
      this.plane6.rotation.set(1/2*Math.PI,0,0);
      this.plane6.renderOrder=100;
      this.plane6.name="6";

      this.line_top1=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_top1.renderOrder=100;
      this.line_top1.position.set( -50, 25, 0 );
      this.line_top1.rotation.set(1/2*Math.PI,0,0);
      this.line_top1.name="line_top1";

      this.line_top2=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_top2.renderOrder=100;
      this.line_top2.position.set( 150, 25, 0 );
      this.line_top2.rotation.set(1/2*Math.PI,0,0);
      this.line_top2.name="line_top2";

      this.line_top3=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_top3.renderOrder=300;
      this.line_top3.position.set( 50, 25, 100);
      this.line_top3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.line_top3.name="line_top3";

      this.line_top4=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_top4.renderOrder=100;
      this.line_top4.position.set( 50, 25, -100 );
      this.line_top4.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.line_top4.name="line_top4";

      this.line_middle1=new THREE.Mesh(l_ver_geometry1, this.l_material);
      this.line_middle1.renderOrder=100;
      this.line_middle1.position.set( -100, -75, 100 );
      this.line_middle1.rotation.set(1/2*Math.PI,1/3*Math.PI + .06, 1/2*Math.PI);
      this.line_middle1.name="line_middle1";

      this.line_middle2=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_middle2.renderOrder=100;
      this.line_middle2.position.set( 150, -75, -100 );
      this.line_middle2.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
      this.line_middle2.name="line_middle2";

      this.line_middle3=new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_middle3.renderOrder=100;
      this.line_middle3.position.set( 150, -75, 100);
      this.line_middle3.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
      this.line_middle3.name="line_middle3";

      this.line_middle4=new THREE.Mesh(l_ver_geometry1, this.l_material);
      this.line_middle4.renderOrder=100;
      this.line_middle4.position.set(-100, -75, -100 );
      this.line_middle4.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,1/2*Math.PI);
      this.line_middle4.name="line_middle4";

      this.line_bottom1 = new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_bottom1.renderOrder=100;
      this.line_bottom1.position.set( -150, -175, 0 );
      this.line_bottom1.rotation.set(1/2*Math.PI,0,0);
      this.line_bottom1.name="line_bottom1";

      this.line_bottom2 = new THREE.Mesh(this.l_hol_geometry, this.l_material);
      this.line_bottom2.renderOrder=100;
      this.line_bottom2.position.set( 150, -175, 0 );
      this.line_bottom2.rotation.set(1/2*Math.PI,0,0);
      this.line_bottom2.name="line_bottom2";

      this.line_bottom3 = new THREE.Mesh(this.l_ver_geometry, this.l_material);
      this.line_bottom3.renderOrder=100;
      this.line_bottom3.position.set( 0, -175, 100);
      this.line_bottom3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.line_bottom3.name="line_bottom3";

      this.line_bottom4 = new THREE.Mesh(this.l_ver_geometry, this.l_material);
      this.line_bottom4.renderOrder = 100;
      this.line_bottom4.position.set( 0, -175, -100 );
      this.line_bottom4.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.line_bottom4.name = "line_bottom4";

      this.meshList.push(
        this.plane1,
        this.plane2,
        this.plane3,
        this.plane4,
        this.plane5,
        this.plane6
      )

      this.meshList2.push(
        this.line_top1,
        this.line_top2,
        this.line_top3,
        this.line_top4,
        this.line_middle1,
        this.line_middle2,
        this.line_middle3,
        this.line_middle4,
        this.line_bottom1,
        this.line_bottom2,
        this.line_bottom3,
        this.line_bottom4,
      )

      this.scene.add(
        this.text_A,
        this.text_B,
        this.text_C,
        this.text_D,
        this.text_E,
        this.text_F,
        this.text_G,
        this.text_H
      )

      this.scene.add(
        this.plane1,
        this.plane2,
        this.plane3,
        this.plane4,
        this.plane5,
        this.plane6,
        this.line_top1,
        this.line_top2,
        this.line_top3,
        this.line_top4,
        this.line_middle1,
        this.line_middle2,
        this.line_middle3,
        this.line_middle4,
        this.line_bottom1,
        this.line_bottom2,
        this.line_bottom3,
        this.line_bottom4
      )

      //gray lines inside box
      var bl_hol_geometry=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -0.15,1.78);
      var bl_hol_geometry1=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -0.15,1.78);
      var bl_hol_geometry2=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, -1.7,1.78);
      var bl_hol_geometry22=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, -1.7,1.78);
      var bl_hol_geometry3=new THREE.CylinderBufferGeometry(1.2, 1.2, 252, 8,1,false, -1.7,1.85);
      var bl_hol_geometry4=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, 1.4,1.85);
      var bl_hol_geometry5=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -3.3,1.85);
      var bl_hol_geometry6=new THREE.CylinderBufferGeometry( 1.2, 1.2, 252, 8,1,false, -0.2,1.85);
      var bl_hol_geometry7=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, 1.5,1.78);
      var bl_hol_geometry77=new THREE.CylinderBufferGeometry( 1.2, 1.2, 348, 8,1,false, 1.5,1.78);
      var bl_hol_geometry8=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, 3.1,1.78);
      var bl_hol_geometry88=new THREE.CylinderBufferGeometry(1.2, 1.2, 348, 8,1,false, 3.1,1.78);
      var bl_material = new THREE.MeshBasicMaterial({color: 0xffffff, side: THREE.FrontSide,transparent:true,opacity: .7});

      this.bline_top1 = new THREE.Mesh(bl_hol_geometry1,bl_material);
      this.bline_top1.renderOrder = 10;
      this.bline_top1.position.set( -50, 100, 0 );
      this.bline_top1.rotation.set(1/2*Math.PI,0,0);
      this.bline_top1.name = "bline_top1";

      this.bline_top2=new THREE.Mesh(bl_hol_geometry,bl_material);
      this.bline_top2.renderOrder=10;
      this.bline_top2.position.set( 50, 100, -100 );
      this.bline_top2.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.bline_top2.name="bline_top2";

      this.bline_top3=new THREE.Mesh(bl_hol_geometry2,bl_material);
      this.bline_top3.renderOrder=40;
      this.bline_top3.position.set( 50, 100, 100);
      this.bline_top3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.bline_top3.name="bline_top3";

      this.bline_top4=new THREE.Mesh(bl_hol_geometry22,bl_material);
      this.bline_top4.renderOrder = 40;
      this.bline_top4.position.set( 150, 100, 0 );
      this.bline_top4.rotation.set(1/2*Math.PI, 0, 0);
      this.bline_top4.name="bline_top4";

      this.bline_middle1=new THREE.Mesh(bl_hol_geometry3,bl_material);
      this.bline_middle1.renderOrder = 40;
      this.bline_middle1.position.set( -125, 0, 100 );
      this.bline_middle1.rotation.set(1/2*Math.PI,1/4*Math.PI + .14, 1/2*Math.PI);
      this.bline_middle1.name="bline_middle1";

      this.bline_middle2=new THREE.Mesh(bl_hol_geometry4,bl_material);
      this.bline_middle2.renderOrder=40;
      this.bline_middle2.position.set( 150, 0, -100 );
      this.bline_middle2.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
      this.bline_middle2.name="bline_middle2";

      this.bline_middle3=new THREE.Mesh(bl_hol_geometry5,bl_material);
      this.bline_middle3.renderOrder=40;
      this.bline_middle3.position.set( 150, 0, 100);
      this.bline_middle3.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
      this.bline_middle3.name="bline_middle3";

      this.bline_middle4=new THREE.Mesh(bl_hol_geometry6,bl_material);
      this.bline_middle4.renderOrder=40;
      this.bline_middle4.position.set( -125, 0, -100 );
      this.bline_middle4.rotation.set(1/2*Math.PI,1/4*Math.PI + .14, 1/2*Math.PI);
      this.bline_middle4.name="bline_middle4";

      this.bline_bottom1=new THREE.Mesh(bl_hol_geometry7,bl_material);
      this.bline_bottom1.renderOrder=40;
      this.bline_bottom1.position.set( -200, -100, 0 );
      this.bline_bottom1.rotation.set(1/2*Math.PI,0,0);
      this.bline_bottom1.name="bline_bottom1";

      this.bline_bottom2=new THREE.Mesh(bl_hol_geometry77,bl_material);
      this.bline_bottom2.renderOrder=40;
      this.bline_bottom2.position.set( -25, -100, -100 );
      this.bline_bottom2.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.bline_bottom2.name="bline_bottom2";

      this.bline_bottom3=new THREE.Mesh(bl_hol_geometry88,bl_material);
      this.bline_bottom3.renderOrder = 40;
      this.bline_bottom3.position.set( -25, -100, 100);
      this.bline_bottom3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
      this.bline_bottom3.name="bline_bottom3";

      this.bline_bottom4=new THREE.Mesh(bl_hol_geometry8,bl_material);
      this.bline_bottom4.renderOrder=40;
      this.bline_bottom4.position.set( 150, -100, 0 );
      this.bline_bottom4.rotation.set(1/2*Math.PI,0,0);
      this.bline_bottom4.name="bline_bottom4";

      this.scene.add(
        this.bline_top1,
        this.bline_top2,
        this.bline_top3,
        this.bline_top4,
        this.bline_middle2,
        this.bline_middle3,
        this.bline_bottom1,
        this.bline_bottom1,
        this.bline_bottom2,
        this.bline_bottom3,
        this.bline_bottom4
      )

      this.$nextTick(() => {
        this.canvas = document.getElementById('three_view');
        this.canvas.addEventListener(this.mouseDown, this.startRotate);
        this.canvas.addEventListener(this.mouseMove, this.onRotate);
        this.canvas.addEventListener(this.mouseUp, this.endRotate);
        window.addEventListener(this.mouseUp, this.endRotate);

        this.fun = 3
        this.select()

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });
      })
    },
    render() {
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    //Edge line of the box
    makeLine( geo, scene, resolution, col) {
      var g2 = new MeshLine();
      g2.setGeometry( geo );
      let material = null
      if (col) {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0x000000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      } else {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xe7e6e6 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      }
      
      var mesh = new THREE.Mesh( g2.geometry, material );
      scene.add( mesh );
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Safari 3.0+ "[object HTMLElementConstructor]"
      var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (isSafari) {
          name = "Safari";
      }
      return name;
    },
    button1() {
      if (this.button1Class == 'active') {
        this.button1Class = ''
      } else {
        this.button1Class = 'active'
        this.button2Class = ''
      }
      if (this.fun === 0 || this.fun === 2) {
        this.fun = 1
        this.select()
      } else {
        this.fun = 3
        this.select()
      }
    },
    button2() {
      if (this.button2Class == 'active') {
        this.button2Class = ''
      } else {
        this.button2Class = 'active'
        this.button1Class = ''
      }
      if (this.fun === 0 || this.fun === 1) {
        this.fun = 2
        this.select()
        } else {
        this.fun = 3
        this.select()
      }
    },
    //button event changer
    select() {
      if (this.fun === 1) {
        this.canvas.removeEventListener(this.mouseDown, this.onDocumentMouseDown2);
        this.canvas.addEventListener(this.mouseDown, this.onDocumentMouseDown1);
      } else if (this.fun === 2) {
        this.canvas.removeEventListener(this.mouseDown, this.onDocumentMouseDown1);
        this.canvas.addEventListener(this.mouseDown, this.onDocumentMouseDown2);
      } else if (this.fun === 3) {
        this.canvas.removeEventListener(this.mouseDown, this.onDocumentMouseDown1);
        this.canvas.removeEventListener(this.mouseDown, this.onDocumentMouseDown2);
        this.fun = 0;
      } else { return false }
    },
    onDocumentMouseDown1 (event) {
      event.preventDefault();
      var element = event.currentTarget;
      // x and y coordinates on this canvas
      var wrap = document.querySelector('.project-wrap');
      var style = window.getComputedStyle(wrap);
      var margin = style.getPropertyValue('margin-left')
      let scaleStage = document.querySelector('#stage_1');
      let scaleStageText = scaleStage.style.transform
      let scaleStageVal = scaleStageText.substring(6, scaleStageText.length - 1)
      scaleStageVal = Number(scaleStageVal)

      var mar = parseInt(margin,10);
      var x0 = event.clientX ? event.clientX : (event.touches[0] || event.changedTouches[0] || {}).clientX;
      var y0 = event.clientY ? event.clientY : (event.touches[0] || event.changedTouches[0] || {}).clientY;

      var x = x0 - (element.offsetLeft + mar);
      var y = y0 - element.offsetTop;

      this.mouse.x = (x / (this.width * scaleStageVal)) * 2 - .005;
      this.mouse.y = - (y / (this.height * scaleStageVal)) * 2 + .92;

      this.raycaster.setFromCamera( this.mouse, this.camera );
      var intersects = this.raycaster.intersectObjects( this.meshList2 );

      
      if ( intersects.length > 0 ) {
        //rotation is disabled during mousedown
        this.rotateBox = false;
        this.selectObj = intersects[ 0 ].object;

        var l2_geometry = new THREE.CylinderBufferGeometry( 1.4, 1.4, 260, 100 );
        var l2_geometry1 = new THREE.CylinderBufferGeometry( 1.4, 1.4, 360, 100 );
        var l2_material = new THREE.MeshBasicMaterial({
          color: 0x004DA0,
          side: THREE.FrontSide,
          transparent:true,
          opacity:1
        });
        const result = $.inArray(this.selectObj.name, this.list);

        if ( result === -1 && this.selectObj.name === 'line_top1') {
          this.scene.children.forEach((element) => {
            var ind0 = [element.name, this.scene.children.indexOf(element)];
            if (ind0[0] === 'bline_top1') {
              this.d = [];
              this.d.push(ind0[1])
            }
          });
          this.scene.children[this.d].visible = false;

          var line_t1 = new THREE.Mesh(l2_geometry,l2_material);
          line_t1.position.set(-50,100,0);
          line_t1.rotation.set(1/2*Math.PI,0,0);
          line_t1.renderOrder=30;
          line_t1.name='line_t1';
          this.scene.add(line_t1);
          this.list.push(this.selectObj.name);
        } else if (this.list.indexOf('line_top1') >= 0 && this.selectObj.name === 'line_top1') {
          var target = 'line_top1';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'line_t1') {
              this.a=[];
              this.a.push(ind[1])
            }
            if (ind[0] === 'bline_top1') {
              this.d = [];
              this.d.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a]);
          this.scene.children[this.d].visible = true;
        }

        if (result === -1 && this.selectObj.name === 'line_top2') {
          this.scene.children.forEach((element) => {
            var ind0 = [element.name,this.scene.children.indexOf(element)];
            if (ind0[0] === 'bline_top4') {
              this.d = [];
              this.d.push(ind0[1])
            }
          });
          this.scene.children[this.d].visible = false;
          var line_t2 = new THREE.Mesh(l2_geometry,l2_material);
          line_t2.position.set(150, 100, 0);
          line_t2.rotation.set(1/2*Math.PI,0,0);
          line_t2.renderOrder = 30;
          line_t2.name = 'line_t2';
          this.scene.add(line_t2);
          this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_top2') >= 0 && this.selectObj.name === 'line_top2') {
            let target = 'line_top2';
            this.list.some((v, i) => {
              if ( v == target) this.list.splice(i,1)
            });
            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if(ind[0] === 'line_t2'){
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_top4') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible=true;
          }

          if (result === -1 && this.selectObj.name === 'line_top3') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0]==='bline_top3') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_t3 = new THREE.Mesh(l2_geometry1,l2_material);
            line_t3.position.set(0, 100, 100);
            line_t3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
            line_t3.renderOrder = 30;
            line_t3.name = 'line_t3';
            this.scene.add(line_t3);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_top3') >= 0 && this.selectObj.name === 'line_top3') {
            let target = 'line_top3';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_t3') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_top3') {
                this.d=[];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if (result===-1 && this.selectObj.name === 'line_top4') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0]==='bline_top2') {
                this.d=[];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_t4=new THREE.Mesh(l2_geometry1,l2_material);
            line_t4.position.set(0, 100, -100);
            line_t4.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
            line_t4.renderOrder=30;
            line_t4.name='line_t4';
            this.scene.add(line_t4);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_top4') >= 0 && this.selectObj.name === 'line_top4') {
            let target = 'line_top4';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_t4') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] ===' bline_top2') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if(result === -1 && this.selectObj.name === 'line_middle1') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name, this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_middle1') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_m1 = new THREE.Mesh(l2_geometry,l2_material);
            line_m1.position.set(-100, 0, 100);
            line_m1.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,1/2*Math.PI);
            line_m1.renderOrder = 30;
            line_m1.name = 'line_m1';
            this.scene.add(line_m1);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_middle1') >= 0 && this.selectObj.name === 'line_middle1') {
            let target = 'line_middle1';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });
            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_m1') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_middle1') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible=true;
          }

          if (result === -1 && this.selectObj.name === 'line_middle2') {
            this.scene.children.forEach((element) =>{
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_middle2') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_m2 = new THREE.Mesh(l2_geometry,l2_material);
            line_m2.position.set(150, 0, -100);
            line_m2.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
            line_m2.renderOrder = 30;
            line_m2.name = 'line_m2';
            this.scene.add(line_m2);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_middle2') >= 0 && this.selectObj.name === 'line_middle2') {
            let target = 'line_middle2';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_m2') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_middle2') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if (result===-1 && this.selectObj.name === 'line_middle3') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if(ind0[0]==='bline_middle3') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_m3 = new THREE.Mesh(l2_geometry,l2_material);
            line_m3.position.set(150, 0, 100);
            line_m3.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
            line_m3.renderOrder=30;
            line_m3.name = 'line_m3';
            this.scene.add(line_m3);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_middle3') >= 0 && this.selectObj.name === 'line_middle3') {
            let target = 'line_middle3';
            this.list.some((v, i) => {
              if (v == target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_m3') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_middle3') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible=true;
          }

          if (result === -1 && this.selectObj.name === 'line_middle4') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_middle4') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible=false;

            var line_m4 = new THREE.Mesh(l2_geometry,l2_material);
            line_m4.position.set(-100, 0, -100);
            line_m4.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,1/2*Math.PI);
            line_m4.renderOrder = 30;
            line_m4.name = 'line_m4';
            this.scene.add(line_m4);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_middle4') >= 0 && this.selectObj.name === 'line_middle4') {
            let target = 'line_middle4';
            this.list.some((v, i) => {
              if (v == target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_m4') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_middle4') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if (result === -1 && this.selectObj.name === 'line_bottom1') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_bottom1') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });

            this.scene.children[this.d].visible=false;

            var line_b1 = new THREE.Mesh(l2_geometry,l2_material);
            line_b1.position.set(-150, -100, 0);
            line_b1.rotation.set(1/2*Math.PI,0,0);
            line_b1.renderOrder = 30;
            line_b1.name = 'line_b1';
            this.scene.add(line_b1);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_bottom1') >= 0 && this.selectObj.name === 'line_bottom1') {
            let target = 'line_bottom1';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_b1') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_bottom1') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }
          if(result === -1 && this.selectObj.name === 'line_bottom2') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0]==='bline_bottom4') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible = false;

            var line_b2 = new THREE.Mesh(l2_geometry,l2_material);
            line_b2.position.set(150, -100, 0);
            line_b2.rotation.set(1/2*Math.PI,0,0);
            line_b2.renderOrder = 30;
            line_b2.name = 'line_b2';
            this.scene.add(line_b2);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_bottom2') >= 0 && this.selectObj.name === 'line_bottom2') {
            let target = 'line_bottom2';
            this.list.some((v, i) => {
              if (v==target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_b2') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_bottom4') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if (result === -1 && this.selectObj.name === 'line_bottom3') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_bottom3') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible = false;

            var line_b3 = new THREE.Mesh(l2_geometry1,l2_material);
            line_b3.position.set(0, -100, 100);
            line_b3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
            line_b3.renderOrder = 30;
            line_b3.name = 'line_b3';
            this.scene.add(line_b3);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_bottom3') >= 0 && this.selectObj.name === 'line_bottom3') {
            let target = 'line_bottom3';
            this.list.some((v, i) => {
              if (v == target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_b3') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_bottom3') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }

          if (result === -1 && this.selectObj.name === 'line_bottom4') {
            this.scene.children.forEach((element) => {
              var ind0 = [element.name,this.scene.children.indexOf(element)];
              if (ind0[0] === 'bline_bottom2') {
                this.d = [];
                this.d.push(ind0[1])
              }
            });
            this.scene.children[this.d].visible = false;

            var line_b4 = new THREE.Mesh(l2_geometry1,l2_material);
            line_b4.position.set(0, -100, -100);
            line_b4.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
            line_b4.name = 'line_b4';
            line_b4.renderOrder = 30;
            this.scene.add(line_b4);
            this.list.push(this.selectObj.name);
          } else if (this.list.indexOf('line_bottom4') >= 0 && this.selectObj.name === 'line_bottom4') {
            let target = 'line_bottom4';
            this.list.some((v, i) => {
              if (v == target) this.list.splice(i,1)
            });

            this.scene.children.forEach((element) => {
              var ind = [element.name,this.scene.children.indexOf(element)];
              if (ind[0] === 'line_b4') {
                this.a = [];
                this.a.push(ind[1])
              }
              if (ind[0] === 'bline_bottom2') {
                this.d = [];
                this.d.push(ind[1])
              }
            });
            this.scene.remove(this.scene.children[this.a]);
            this.scene.children[this.d].visible = true;
          }
        }
    },
    onDocumentMouseDown2 (event) {
      event.preventDefault();
      var element = event.currentTarget;
      // x and y coordinates on this canvas
      var wrap = document.querySelector('.project-wrap');
      var style = window.getComputedStyle(wrap);
      var margin = style.getPropertyValue('margin-left')
      var mar = parseInt(margin,10);
      let scaleStage = document.querySelector('#stage_1');
      let scaleStageText = scaleStage.style.transform
      let scaleStageVal = scaleStageText.substring(6, scaleStageText.length - 1)
      scaleStageVal = Number(scaleStageVal)
      var x0 = event.clientX ? event.clientX : (event.touches[0] || event.changedTouches[0] || {}).clientX;
      var y0 = event.clientY ? event.clientY : (event.touches[0] || event.changedTouches[0] || {}).clientY;

      var x = x0 - (element.offsetLeft + mar);
      var y = y0 - element.offsetTop - 75 * scaleStageVal;

      console.log(element)
      console.log(element.offsetLeft)

      this.mouse.x = (x / (this.width * scaleStageVal)) * 2;
      this.mouse.y = - (y / (this.height * scaleStageVal)) * 2 + .73;

      this.raycaster.setFromCamera( this.mouse, this.camera );
      var intersects = this.raycaster.intersectObjects( this.meshList );

      if ( intersects.length > 0 ) {
        //rotation is disabled during mousedown
        this.rotateBox = false;

        this.selectObj = intersects[0].object;

        var p2_geometry = new THREE.BoxGeometry( 250, 250,0.5);
        var p2_geometry2 = new THREE.BoxGeometry( 250, 250,0.5);
        //var p2_geometry5 = new THREE.BoxGeometry( 250, 230,0.5);
        var p2_material = new THREE.MeshBasicMaterial({
          vertexColors: THREE.FaceColors,
          side: THREE.FrontSide,
          transparent:true,
          opacity: 0.5
        });

        for (let i = 0; i < p2_geometry.faces.length; i++) {
          if (i<=9) {
            p2_geometry.faces[i].color.setHex( 0xEAEEF2 );
          } else {
            p2_geometry.faces[i].color.setHex( 0xF4F4F4 )
          }
        }

        for (let i = 0; i < p2_geometry2.faces.length; i++) {
          if (i<=9) {
            p2_geometry2.faces[i].color.setHex( 0xEAEEF2 );
          } else {
            p2_geometry2.faces[i].color.setHex( 0xF4F4F4 )
          }
        }

        var p2_geometry3 = new THREE.BoxGeometry( 270, 250,0.5);
        var p2_material3 = new THREE.MeshBasicMaterial({
          vertexColors: THREE.FaceColors,
          side: THREE.FrontSide,
          transparent:true,
          opacity: 0.5
        });

        for (let i = 0; i < p2_geometry3.faces.length; i++) {
          if (i<=7) {
            p2_geometry3.faces[ i ].color.setHex( 0xEAEEF2 );
          } else if (i>=8 && i<=9) {
            p2_geometry3.faces[i].color.setHex( 0xF4F4F4 );
          } else {
            p2_geometry3.faces[i].color.setHex( 0xEAEEF2 )
          }
        }
        //top
        var p2_geometry4 = new THREE.BoxGeometry( 250, 250,0.5);
        var p2_material4 = new THREE.MeshBasicMaterial({
          vertexColors: THREE.FaceColors,
          side: THREE.FrontSide,
          transparent:true,
          opacity: 0.5
        });
        for (let i = 0; i < p2_geometry4.faces.length; i++) {
          if (i<=7) {
            p2_geometry4.faces[ i ].color.setHex( 0xEAEEF2 );
          } else if (i>=8 && i<=9) {
            p2_geometry4.faces[i].color.setHex( 0xF4F4F4 );
          } else {
            p2_geometry4.faces[i].color.setHex( 0xEAEEF2 )
          }
        }

        var p2_geometry6 = new THREE.BoxGeometry( 350, 250,0.5);
        var p2_material6 = new THREE.MeshBasicMaterial({
          vertexColors: THREE.FaceColors,
          side: THREE.FrontSide,
          transparent:true,
          opacity: 0.5
        });
        for (let i = 0; i < p2_geometry6.faces.length; i++) {
          if (i<=7) {
            p2_geometry6.faces[ i ].color.setHex( 0xEAEEF2 );
          } else if (i>=8 && i<=9) {
            p2_geometry6.faces[i].color.setHex( 0xF4F4F4 );
          } else {
            p2_geometry6.faces[i].color.setHex( 0xEAEEF2 )
          }
        }

        var p2_edge_geometry = new THREE.EdgesGeometry( p2_geometry );
        var p2_edge_geometry4 = new THREE.EdgesGeometry( p2_geometry3 );
        var p2_edge_geometry3 = new THREE.EdgesGeometry( p2_geometry6 );
        var p2_edge_geometry2 = new THREE.EdgesGeometry( p2_geometry2 );
        var p2_edge_material = new THREE.LineBasicMaterial({ color: 0xFFA500,side: THREE.FrontSide,transparent:true});

        const result = $.inArray(this.selectObj.name, this.list);

        if (this.num < 2 && result === -1 && this.selectObj.name === '1') {
          this.num++;
          var plane1_1 = new THREE.Mesh(p2_geometry6,p2_material6);
          var line1_1 = new THREE.LineSegments(p2_edge_geometry3,p2_edge_material);
          plane1_1.position.set(0,0,100.5);
          line1_1.position.set(0,0,100.5);
          plane1_1.name = 'plane1_1';
          line1_1.name = 'line1_1';
          plane1_1.renderOrder = 50;
          line1_1.renderOrder = 50;
          this.scene.add(plane1_1,line1_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2) return false
        } else if (this.num >= 0 && this.list.indexOf('1') >= 0 && this.selectObj.name === '1') {
          this.num--;
          let target = '1';
          this.list.some((v, i) => {
            if (v==target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) =>{
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'plane1_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line1_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }

        if (this.num < 2 && result === -1 && this.selectObj.name === '2') {
          this.num++;
          var plane2_1 = new THREE.Mesh(p2_geometry,p2_material);
          var line2_1 = new THREE.LineSegments(p2_edge_geometry,p2_edge_material);
          plane2_1.rotation.set(0,1/2*Math.PI,0);
          line2_1.rotation.set(0,1/2*Math.PI,0);
          plane2_1.position.set(150.5,0,0);
          line2_1.position.set(150.5,0,0);
          plane2_1.name = 'plane2_1';
          line2_1.name = 'line2_1';
          plane2_1.renderOrder = 50;
          line2_1.renderOrder = 50;
          this.scene.add(plane2_1,line2_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2) {return false}
        } else if (this.num >= 0 && this.list.indexOf('2') >= 0 && this.selectObj.name === '2') {
          this.num--;
          let target = '2';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'plane2_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line2_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }

        if (this.num < 2 && result === -1 && this.selectObj.name === '3') {
          this.num++;
          var plane3_1 = new THREE.Mesh(p2_geometry3,p2_material3);
          var line3_1 = new THREE.LineSegments(p2_edge_geometry4,p2_edge_material);
          plane3_1.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,0);
          line3_1.rotation.set(1/2*Math.PI,1/3*Math.PI + .06,0);
          plane3_1.position.set(-100.5,0,0);
          line3_1.position.set(-100.5,0,0);
          plane3_1.name = 'plane3_1';
          line3_1.name = 'line3_1';
          plane3_1.renderOrder = 50;
          line3_1.renderOrder = 50;
          this.scene.add(plane3_1,line3_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2 ) {return false}
        } else if (this.num >= 0 && this.list.indexOf('3') >= 0 && this.selectObj.name === '3') {
          this.num--;
          let target = '3';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'plane3_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line3_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }

        if (this.num < 2 && result === -1 && this.selectObj.name === '4') {
          this.num++;
          var plane4_1 = new THREE.Mesh(p2_geometry6,p2_material6);
          var line4_1 = new THREE.LineSegments(p2_edge_geometry3,p2_edge_material);
          plane4_1.position.set(0,0,-100.5);
          line4_1.position.set(0,0,-100.5);
          plane4_1.name = 'plane4_1';
          line4_1.name = 'line4_1';
          plane4_1.renderOrder = 50;
          line4_1.renderOrder = 50;
          this.scene.add(plane4_1,line4_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2) {return false;}
        } else if (this.num >= 0 && this.list.indexOf('4') >= 0 && this.selectObj.name === '4') {
          this.num--;
          let target = '4';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'plane4_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line4_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }

        if (this.num < 2 && result === -1 && this.selectObj.name === '5') {
          this.num++;
          var plane5_1 = new THREE.Mesh(p2_geometry6,p2_material6);
          var line5_1 = new THREE.LineSegments(p2_edge_geometry3,p2_edge_material);
          plane5_1.rotation.set(1/2*Math.PI,0,0);
          line5_1.rotation.set(1/2*Math.PI,0,0);
          plane5_1.position.set(0,-100.5,0);
          line5_1.position.set(0,-100.5,0);
          plane5_1.name = 'plane5_1';
          line5_1.name = 'line5_1';
          plane5_1.renderOrder = 50;
          line5_1.renderOrder = 50;
          this.scene.add(plane5_1,line5_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2) {return false;}
        } else if (this.num >= 0 && this.list.indexOf('5') >= 0 && this.selectObj.name === '5') {
          this.num--;
          let target = '5';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0]==='plane5_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line5_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }

        if (this.num < 2 && result === -1 && this.selectObj.name === '6') {
          this.num++;
          var plane6_1 = new THREE.Mesh(p2_geometry4,p2_material4);
          var line6_1 = new THREE.LineSegments(p2_edge_geometry2,p2_edge_material);
          plane6_1.rotation.set(1/2*Math.PI,0,0);
          line6_1.rotation.set(1/2*Math.PI,0,0);
          plane6_1.position.set(50,100.5,0);
          line6_1.position.set(50,100.5,0);
          plane6_1.name = 'plane6_1';
          line6_1.name = 'line6_1';
          plane6_1.renderOrder = 50;
          line6_1.renderOrder = 50;
          this.scene.add(plane6_1,line6_1);
          this.list.push(this.selectObj.name);
          if (this.num === 2) {return false;}
        } else if (this.num >= 0 && this.list.indexOf('6') >= 0 && this.selectObj.name === '6') {
          this.num--;
          let target = '6';
          this.list.some((v, i) => {
            if (v == target) this.list.splice(i,1)
          });

          this.scene.children.forEach((element) => {
            var ind = [element.name,this.scene.children.indexOf(element)];
            if (ind[0] === 'plane6_1') {
              this.a = [];
              this.a.push(ind[1])
            }
            if (ind[0] === 'line6_1') {
              this.b = [];
              this.b.push(ind[1])
            }
          });
          this.scene.remove(this.scene.children[this.a],this.scene.children[this.b]);
        }
      }
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#button1{
  outline: none;
  display: block;
  background-image: url("../assets/select_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button1.active{
  background-image: url("../assets/select_1_active.png");
}
#button2{
  outline: none;
  display: block;
  background-image: url("../assets/select_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button2.active{
  background-image: url("../assets/select_2_active.png");
}

#button3{
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

</style>
