<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="wrapper">
          <canvas id="c"></canvas>
        </div>
      </div>
    </div>
    <div class="actions">
      <button id="action1" @click="toggleLineSelection()" v-bind:class="{active: isLineSelectable}"></button>
      <button id="action2" @click="toggleMeshSelection()" v-bind:class="{active: isMeshSelectable}"></button>
      <button id="action3" @click="togglePointSelection()" v-bind:class="{active: isPointSelectable}"></button>
      <button id="action-reset" @click="reset()"></button>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';

export default {
  name: 's1-14',
  data() {
    return {
      // basics
      canvas: null,
      camera: null,
      scene: null,
      renderer: null,
      aspectRatio: null,
      orbitControls: null,
      pointCoords: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      boxSize: 1,
      raycaster: new THREE.Raycaster(),
      mouseVector: new THREE.Vector2(),
      rendererWidth: 1024,
      rendererHeight: 768,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      // selectable objects
      linesFat: [],
      lines: [],
      pointsFat: [],
      points: [],
      meshes: [],
      // colors
      meshColor: '#fffcde',
      meshColorSelected: '#dae3f3',
      lineColor: '#000000',
      lineColorSelected: '#c63e29',
      // fast settings
      enableRotate: true,
      isLineSelectable: false,
      isMeshSelectable: false,
      isPointSelectable: false,
    }
  },
  methods: {
    initGeometry() {
      this.initRenderers();
      this.initCameraScene();
      this.addLines();
      this.addPoints();
      this.addMeshes();
      this.addControls();
      this.resize(); // default zoom
      this.canvas.addEventListener(this.mouseDown, this.onCanvasMouseDown);
      this.canvas.addEventListener(this.mouseDown, this.startRotate);
      this.canvas.addEventListener(this.mouseMove, this.onRotate);
      this.canvas.addEventListener(this.mouseUp, this.endRotate);
      window.addEventListener(this.mouseUp, this.endRotate);

      requestAnimationFrame(this.render); // execute rendering
    },
    toggleLineSelection() {
      this.isLineSelectable = true;
      this.isMeshSelectable = false;
      this.isPointSelectable = false;
    },
    toggleMeshSelection() {
      this.isLineSelectable = false;
      this.isMeshSelectable = true;
      this.isPointSelectable = false;
    },
    togglePointSelection() {
      this.isLineSelectable = false;
      this.isMeshSelectable = false;
      this.isPointSelectable = true;
    },
    resize() {
      this.camera.zoom = 1;
      this.camera.updateProjectionMatrix();
    },
    destroyer() {
      this.isLineSelectable = false;
      this.isMeshSelectable = false;
      this.isPointSelectable = false;
      this.linesFat = [];
      this.lines = [];
      this.points = [];
      this.meshes = [];
    },
    render() {
      requestAnimationFrame(this.render);
      if (this.renderer) {
        this.renderer.render(this.scene, this.camera);
      }
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    meshMaterial() {
      return new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        transparent: true,
        opacity: .8,
        color: this.meshColor
      });
    },
    initPointCoords() {
      const indent = .14;
      const top = this.boxSize * 1.2;
      this.pointCoords = {
        A: { x: 0, y: 0, z: this.boxSize },
        B: { x: -this.boxSize + indent, y: 0, z: -this.boxSize/2 },
        C: { x: this.boxSize - indent, y: 0, z: -this.boxSize/2 },
        H: { x: 0, y: top, z: 0 },
        O: { x: 0, y: -top, z: 0 },
      };
    },
    onCanvasMouseDown(event) {
      // settings of coordinates to toggle
      const navWrapStyle = window.getComputedStyle(document.querySelector('#nav'));
      const navWrapHeight = navWrapStyle.getPropertyValue('height');
      const projectWrapStyle = window.getComputedStyle(document.querySelector('.project-wrap'));
      const marginLeft = projectWrapStyle.getPropertyValue('margin-left');
      const margin = parseInt(marginLeft, 10);
      const navHeight = parseInt(navWrapHeight, 10);
      let scaleStage = document.querySelector('#stage_1');
      let scaleStageText = scaleStage.style.transform
      let scaleStageVal = scaleStageText.substring(6, scaleStageText.length - 1)
      scaleStageVal = Number(scaleStageVal)
      const clientX = event.clientX ? event.clientX : (event.touches[0] || event.changedTouches[0] || {}).clientX;
      const clientY = event.clientY ? event.clientY : (event.touches[0] || event.changedTouches[0] || {}).clientY;
      const element = event.currentTarget;
      const x = clientX - (element.offsetLeft + margin);
      const y = clientY - element.offsetTop - (navHeight * scaleStageVal) / 2;
      this.mouseVector.x = ((x * scaleStageVal) / (this.renderer.domElement.clientWidth * scaleStageVal)) * 2 - 1;
      this.mouseVector.y = -(y / (this.renderer.domElement.clientHeight  * scaleStageVal)) * 2 + 1 + (this.isIE() ? .17 : 0);

      this.raycaster.setFromCamera(this.mouseVector, this.camera);
      const objects = this.isLineSelectable ? this.linesFat : this.isMeshSelectable ? this.meshes : this.isPointSelectable ? this.pointsFat : [];
      const intersects = this.raycaster.intersectObjects(objects);
      const obj3d = intersects?.length && intersects[0] ? intersects[0] : null;
      this.toggleSelected(obj3d);
    },
    isIE() {
      return /*@cc_on!@*/false || !!document.documentMode;
    },
    reset() {
      this.rotateStart.x = 0;
      this.rotateStart.y = 0;
      this.scene.rotation.set(.33, -.09 , 0);
      this.lines.forEach((el) => {
        el.material.color.set(this.lineColor);
      })
      this.meshes.forEach((el) => {
        el.material.color.set(this.meshColor);
      })
      this.points.forEach((el) => {
        el.visible = false
      })
      this.isMeshSelectable = false
      this.isLineSelectable = false
      this.isPointSelectable = false
      this.renderer.render(this.scene, this.camera);
    },
    toggleSelected(obj3d) {
      if (obj3d) {
        const material = obj3d.object.material;
        const isSelected = material.name === 'selected';

        if (this.isLineSelectable) {
          // looking for related line by index
          const index = obj3d.object.index;
          if (typeof index === 'number') {
            const line = this.lines.find(i => i.index === index);
            if (line) {
              line.material.color.set(isSelected ? this.lineColor : this.lineColorSelected);
              material.name = isSelected ? '' : 'selected';
            }
          }
        } else if (this.isPointSelectable) {
          // looking for related point by index
          const index = obj3d.object.index;
          if (typeof index === 'number') {
            const point = this.points.find(i => i.index === index);
            if (point) {
              point.visible = !point.visible;
            }
          }
        } else if (this.isMeshSelectable) {
          material.color.set(isSelected ? this.meshColor : this.meshColorSelected);
          material.name = isSelected ? '' : 'selected';
        }

        this.renderer.render(this.scene, this.camera);
      }
    },
    initRenderers() {
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      document.getElementById('wrapper').appendChild(this.renderer.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 250;
      const h = this.canvas.clientHeight / 250;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      }

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );

      this.camera.position.set(0, 0, 5);

      // scene
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xffffff);
      this.scene.rotation.set(.33, -.09 , 0);
      // this.scene.add(new THREE.AxesHelper(5));
    },
    addLines() {
      const points = [
        // top
        [ this.pointCoords.A, this.pointCoords.H ],
        [ this.pointCoords.B, this.pointCoords.H ],
        [ this.pointCoords.C, this.pointCoords.H ],
        // middle
        [ this.pointCoords.A, this.pointCoords.B ],
        [ this.pointCoords.A, this.pointCoords.C ],
        [ this.pointCoords.B, this.pointCoords.C ],
        // bottom
        [ this.pointCoords.A, this.pointCoords.O ],
        [ this.pointCoords.B, this.pointCoords.O ],
        [ this.pointCoords.C, this.pointCoords.O ],
      ];

      points.forEach((i, x) => this.addLine(i, x, false));
      points.forEach((i, x) => this.addLine(i, x, true));
    },
    addLine(points, index, isFat) {
      const paramsFat = { linewidth: 40, transparent: true, opacity: 0 };
      const params = { color: this.lineColor, linewidth: 4 };
      const material = this.lineMaterial(isFat ? paramsFat : params);
      const buffer = new THREE.BufferGeometry().setFromPoints(points);
      const segments = new LineSegmentsGeometry().setPositions(buffer.attributes.position.array);
      const line = new LineSegments2(segments, material);
      line.index = index;
      if (isFat) {
        line.renderOrder = 99;
        this.linesFat.push(line);
      } else {
        this.lines.push(line);
      }
      this.scene.add(line);
    },
    addPoints() {
      Object.keys(this.pointCoords).forEach((i, x) => {
        const coords = this.pointCoords[i];
        this.addPoint(coords, x, false);
        this.addPoint(coords, x, true);
      });
    },
    addPoint(coords, index, isFat) {
      const sphereGeom = new THREE.SphereGeometry(isFat ? .3 : .05, 32, 32);
      const sphereMat = new THREE.MeshBasicMaterial(isFat ? null : { color: '#4fb050' });
      const sphere = new THREE.Mesh(sphereGeom, sphereMat);
      sphere.visible = false;
      sphere.position.set(coords.x, coords.y, coords.z);
      sphere.index = index;

      if (isFat) {
        this.pointsFat.push(sphere);
      } else {
        this.points.push(sphere);
      }
      this.scene.add(sphere);
    },
    addMeshes() {
      [
        // top
        [this.pointCoords.A, this.pointCoords.B, this.pointCoords.H],
        [this.pointCoords.A, this.pointCoords.C, this.pointCoords.H],
        [this.pointCoords.C, this.pointCoords.B, this.pointCoords.H],
        // bottom
        [this.pointCoords.A, this.pointCoords.B, this.pointCoords.O],
        [this.pointCoords.A, this.pointCoords.C, this.pointCoords.O],
        [this.pointCoords.C, this.pointCoords.B, this.pointCoords.O],
      ].forEach(i => {
        const indent = .01;
        const addIndent = number => number + (number > 0 ? -indent : number < 0 ? indent : 0);
        const triangle = new THREE.Geometry();
        i.forEach(point => {
          triangle.vertices.push(new THREE.Vector3(addIndent(point.x), addIndent(point.y), addIndent(point.z)));
        });
        triangle.faces.push(new THREE.Face3( 0, 1, 2 ));
        triangle.computeFaceNormals();
        const mesh = new THREE.Mesh(triangle, this.meshMaterial());
        this.meshes.push(mesh);
        this.scene.add(mesh);
      })
    },
    addControls() {
      this.orbitControls = new OrbitControls(this.camera, this.renderer.domElement);
      this.orbitControls.enableZoom = false;
      this.orbitControls.enablePan = false; // default (right click dragging)
      this.orbitControls.enableRotate = false;
      this.orbitControls.enabled = false
      this.orbitControls.mouseButtons = {
        LEFT: null,
        RIGHT: null, // default right click rotate
        MIDDLE: null
      };
    },
    // utilities
    detectMouseEventName() {
      const isTouch = this.isTouchDevice();
      const isSafari = this.getBrowserName() === 'Safari';
      this.mouseDown = isTouch ? isSafari ? 'touchstart' : 'touchstart' : 'mousedown';
      this.mouseMove = isTouch ? isSafari ? 'touchmove' : 'touchmove' : 'mousemove';
      this.mouseUp = isTouch ? isSafari  ? 'touchend' : 'touchend' : 'mouseup';
    },
    // check touch device
    isTouchDevice() {
      return 'ontouchstart' in window || navigator.maxTouchPoints; // check on most browsers || IE10/11 and Surface
    },
    // check browser
    getBrowserName() {
      const edge = !internetExplorer && !!window.StyleMedia; // Edge 20+
      const internetExplorer = /*@cc_on!@*/false || !!document.documentMode ? 'IE' : null; // Internet Explorer 6-11
      const firefox = typeof InstallTrigger !== 'undefined' ? 'Firefox' : null; // Firefox 1.0+
      const opera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ? 'Opera' : null; // Opera 8.0+
      const chrome = !!window.chrome && !!window.chrome.webstore ? 'Chrome' : null; // Chrome 1+
      const safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent) ? 'Safari' : null; // Safari 3.0+ [object HTMLElementConstructor]
      return edge || internetExplorer || firefox || opera || chrome || safari || 'Unknown';
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
  },
  created() {
    this.detectMouseEventName();
  },
  beforeMount() {
    this.initPointCoords();
  },
  mounted() {
    this.canvas = document.getElementById('c');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    this.initGeometry();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#action1 {
  background-image: url("../assets/s1-14-line.svg");
}
#action1.active {
  background-image: url("../assets/s1-14-line-active.svg");
}
#action2 {
  background-image: url("../assets/s1-14-mesh.svg");
}
#action2.active {
  background-image: url("../assets/s1-14-mesh-active.svg");
}
#action3 {
  background-image: url("../assets/s1-14-point.svg");
}
#action3.active {
  background-image: url("../assets/s1-14-point-active.svg");
}
</style>
