<template>
    <div>
      <div class="project-wrap" v-bind:class="{'visible-index': !isAnimation}">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>

      <div class="white l"></div>
      <div class="white r"></div>

      <video id="video1" width="1920" height="768" autoplay muted playsinline v-bind:class="{'visible-index': isAnimation}">
        <source src="../assets/s1-26_1200x768.mp4" type="video/mp4">
      </video>

      <div v-show="startimg" class="preview">
        <img src="../assets/s1-26_1.jpg" alt="Preview">
      </div>

      <div class="hide"></div>
      <div class="actions">
        <button id="action3" v-bind:class="{disabled: clicked}" @click="button2()"></button>
        <button id="button3" v-bind:class="{disabled: isAnimation}" @click="button3()"></button>
      </div>
    </div>
</template>
w

<script>
import * as THREE from 'three'
import $ from 'jquery'
//import detectZoom from 'detect-zoom'
import { MeshLine } from '../assets/js/THREE.MeshLine.js'
import { MeshLineMaterial } from 'three.meshline'
import { CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer.js';
import { DragControls } from 'three/examples/jsm/controls/DragControls';

export default {
  name: "s1-16",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      maxRotation: -1.5707963267948966,
      minRotation: 0,
      nowRotation: -1.5707963267948966,
      speedOpen: 0.05,
      open: false,
      posx: 91,
      posz: 0,
      maxRange: 260,
      posNow: {},
      startimg: true,
      // body
      lineBody: null,
      lineBody2: null,
      lineBody3: null,
      lineBody4: null,
      lineBodyGeometry: null,
      lineBodyOb: null,
      meshBody: null,
      is_angle: false,
      //circle
      botCircle: null,
      botLine: null,
      botLineGeometry: null,
      botCircleLine: null,
      botCircleLine2: null,
      botCircleSphere: null,
      //line
      ellipse: null,
      supline: null,
      redline: null,
      wayarr: [],
      // position
      normalPos: null,
      circlePos: [],
      geometryWay: null,
      bodyGroup: null,
      //Alphabets
      textGeometry: null,
      textMaterial: null,
      text_A: null,
      text_B: null,
      text_C: null,
      text_D: null,
      text_E: null,
      text_F: null,
      text_G: null,
      text_H: null,
      //moveContainer
      wayAllArr: [],
      wayZarr: [],
      wayXYarr: [],
      // animHelp
      counter: 1,
      animCenterOn: false,
      animTransformation: false,
      animWork: false,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      width: 1920,
      height: 768,
      isAnimation: true,
      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
      isDragActive: false,
      clicked: false,
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  mounted() {
    this.init()
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    this.renderer.debug.checkShaderErrors = false
  },
  methods: {
    getVideo() {
      return document?.getElementById('video1');
    },
    getMaterial() {
      return {
        color: '#FCEDED',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        depthWrite: false,
        side: THREE.DoubleSide,
      }
    },
    button2() {
      this.startimg = false
      if (!this.animStart && !this.clicked) {
        this.clicked = true
        this.open = !this.open
        this.animStart = true
        this.animWork = true
      }

      this.isAnimation = true;
      const video1 = this.getVideo();
      if (video1?.currentTime !== 0) {
        video1.currentTime = 0;
      }
      video1?.play();

      // setTimeout(() => {
      //   this.isAnimation = false;
      // }, video1.duration * 1000);
    },
    button3() {
      if (!this.animWork) {
        this.init()
      }
    },
    init() {
      document.getElementById("three_view").innerHTML = '';
      
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);

      
      this.maxRotation = -1.5707963267948966
      this.minRotation = 0
      this.nowRotation = -1.5707963267948966
      this.speedOpen = 0.05
      this.open = false
      this.posx = 91
      this.posz = 0

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.rotation.x = .3;
      this.scene.position.y = 50;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(800);
      this.camera.translateY(-20);
      this.camera.zoom = 1.88;
      this.camera.updateProjectionMatrix();

      this.light = new THREE.DirectionalLight( 0xffffff );
      this.scene.add( this.light );

      // ADD TOP AND BOT RED SPHERE

      var geometry = new THREE.CircleGeometry( 70, 32 );
      var material = new THREE.MeshBasicMaterial( this.getMaterial() );

      let SphereGeometry = new THREE.SphereGeometry( 4, 32, 32 );
      let SphereMaterial = new THREE.MeshBasicMaterial( {color: 0xff0000} );

      let botCircle = new THREE.Mesh( geometry, material );
      botCircle.position.set(0, -70, 0)

      var p2_edge_geometry5 = new THREE.TorusBufferGeometry( 70, .1, 30, 100);
      var p2_edge_material5 = new THREE.LineBasicMaterial({ color: 0x000000, side: THREE.FrontSide, transparent:true});

      this.botCircleSphere = new THREE.Mesh( SphereGeometry, SphereMaterial );
      this.botCircleSphere.visible = false
      
      // ADD TOP AND BOT RED SPHERE

      this.botCircleLine = new THREE.Group()
      let botCircleLine = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );
      this.botCircleLine.add(botCircleLine)
      this.botCircleLine.add(this.botCircleSphere)
      this.botCircleLine.position.set(0, -70, 0)
      this.botCircleSphere.position.set(0, 70, 0)

      this.botCircleLine2 = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );
      this.botCircleLine2.rotation.set(-1/2*Math.PI, 0, 0)
      this.botCircleLine2.position.set(0, -90, 0)
      this.botCircleLine2.visible = false

      // add red line

      var redlineGeo1 = new THREE.TorusBufferGeometry( 192, 3, 1, 118, 0.001);
      var redlineMat1 = new THREE.LineBasicMaterial({ color: 0xff0000, side: THREE.DoubleSide, transparent:true});

      this.redline = new THREE.LineSegments(redlineGeo1, redlineMat1 );
      this.redline.position.set(0, 100, -70)
      this.redline.rotation.set(0, 0, Math.PI + .42)
      this.redline.visible = false

      // ADD TOP AND BOT CIRCLE

      this.botCircle = new THREE.Group()
      this.botCircle.renderOrder = 1
      this.botCircle.position.set(0, -91 , -70)
      this.botCircle.add(botCircle)
      this.botCircle.add(this.botCircleLine) 
      this.botCircle.rotation.set(-1/2*Math.PI, 0, 0)


      // ADD BODY CYLINDER
      //var geometry1 = new THREE.PlaneBufferGeometry( 140 * Math.PI, 180, 31, 1 );
      var geometry1 = new THREE.CylinderGeometry( 0, 70, 180, 30, 1, true, 0, 6.29);
      var material1 = new THREE.MeshBasicMaterial( this.getMaterial() );
      this.mashBody = new THREE.Mesh( geometry1, material1 );
      this.mashBody.position.set(0, 0, 0)

      this.lineBodyGeometry = new THREE.EdgesGeometry( this.mashBody.geometry );

      var resolution = new THREE.Vector2( this.width, this.height );

      let materialLine = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .002,
      });

      let line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 0, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( 70, -90, 0 ) );
      let l2 = new MeshLine();
      l2.setGeometry( line );

      this.lineBody = new THREE.Mesh( l2.geometry, materialLine );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 0, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( -70, -90, 0 ) );
      l2 = new MeshLine();
      l2.setGeometry( line );

      this.lineBody2 = new THREE.Mesh( l2.geometry, materialLine );

      //elinse line

      const curves = new THREE.EllipseCurve(
        0,  102,
        193.5, 193.5,
        -1.14,  1.14,
        false,
        -2/4*Math.PI,
      );
      const curves2 = new THREE.EllipseCurve(
        0,  102,
        263, 263,
        -1.18, 0,
        false,
        -2/4*Math.PI,
      );


      const pointss = curves.getPoints( 31 );
      const geometrys = new THREE.BufferGeometry().setFromPoints( pointss );

      const pointWay = curves2.getPoints( 31 );
      const geometryWay1 = new THREE.BufferGeometry().setFromPoints( pointWay );

      const materials = new THREE.LineBasicMaterial( { color : 0x000000 } );

      // Create the final object to add to the scene
      this.ellipse = new THREE.Line( geometrys, materials );
      this.ellipse.position.set(0, 0, -70)
      this.ellipse.visible = false

      const ellipse = new THREE.Line( geometryWay1, materials );
      ellipse.position.set(0, 0, -70)

      this.geometryWay = geometryWay1.attributes.position.array


      // animation
      let wayarray = this.ellipse.geometry.attributes.position.array

      for (let i = 0; i <= 31; i++) {
        let ob = {
          x: wayarray[i * 3],
          y: wayarray[i * 3 + 1],
        }
        this.wayXYarr.push(ob)
      }

      this.animLineBot = new THREE.Line( this.curveConstr(this.mashBody.geometry.vertices), new THREE.LineBasicMaterial( { color : 0x000000 } ) );

      this.mashBody.geometry.vertices.forEach((el, index) => {
        if (index != 0 && index != 16) {
          if (index < 16) {
            this.wayAllArr.push(this.createdWay(this.wayXYarr[32 - index].x, this.wayXYarr[32 - index].y,el.x, el.y, el.z, index))
          } else if (index > 16) {
            this.wayAllArr.push(this.createdWayleft(this.wayXYarr[32 - index].x, this.wayXYarr[32 - index].y,el.x, el.y, el.z, index))
          }
        } else if (index == 16) {
          this.wayAllArr.push(this.createdWayCenter(this.wayXYarr[32 - index].x, this.wayXYarr[32 - index].y,el.x, el.y, el.z))
        }
      })

      this.animLineBot.visible = false

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( this.mashBody.geometry.vertices[1].x, this.mashBody.geometry.vertices[1].y, this.mashBody.geometry.vertices[1].z ) );
      line.vertices.push( new THREE.Vector3( this.mashBody.geometry.vertices[0].x, this.mashBody.geometry.vertices[0].y, this.mashBody.geometry.vertices[0].z  ) );
      l2 = new MeshLine();
      l2.setGeometry( line );

      this.lineBody3 = new THREE.Mesh( l2.geometry, materialLine );

      this.lineBody3.visible = false

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( this.mashBody.geometry.vertices[0].x, this.mashBody.geometry.vertices[0].y, this.mashBody.geometry.vertices[0].z ) );
      line.vertices.push( new THREE.Vector3( this.mashBody.geometry.vertices[31].x, this.mashBody.geometry.vertices[31].y, this.mashBody.geometry.vertices[31].z ) );
      l2 = new MeshLine();
      l2.setGeometry( line );

      this.lineBody4 = new THREE.Mesh( l2.geometry, materialLine );
      this.lineBody4.visible = false

      // animation end

      this.bodyGroup = new THREE.Group()
      this.bodyGroup.renderOrder = 1
      this.bodyGroup.add(
        this.mashBody,
        this.lineBody3,
        this.lineBody4,
        this.ellipse,
      )
      this.bodyGroup.position.set(0, 100, 0)
      this.mashBody.position.set(0, -100, 0)
      this.lineBody3.position.set(0, -100, 0)
      this.lineBody4.position.set(0, -100, 0)
      this.ellipse.position.set(0, -100, -70)

      //this.bodyGroup.rotation.set(0,0, -1)

      this.scene.add( 
        this.botCircle,
        this.bodyGroup,
        this.lineBody,
        this.lineBody2,
        this.redline,
        this.botCircleLine2,
        this.animLineBot,
      );

      this.addDragControl()
      this.botCircleSphere.visible = false
      this.isDragActive = false
      this.clicked = false
      this.onDragControl()
      this.counter = 0

      this.$nextTick(() => {
        // this.canvas = document.getElementById('three_view');
        // this.canvas.addEventListener(this.mouseDown, this.startRotate);
        // this.canvas.addEventListener(this.mouseMove, this.onRotate);
        // this.canvas.addEventListener(this.mouseUp, this.endRotate);
        // window.addEventListener(this.mouseUp, this.endRotate);

        const video1 = this.getVideo();
        video1?.pause();
        if (video1?.currentTime !== 0) {
          video1.currentTime = 0;
        }
        
        this.isAnimation = true;

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });
      })
    },
    onDragControl() {
      this.dragControl.forEach(el => {
        el.enabled = this.isDragActive
        el.transformGroup = true
      })
    },
    curveConstr(arr) {
      let newArr = []
      for (let i = 1; i < 32; i++) {
        newArr.push(arr[i])
      }
      const curve = new THREE.CatmullRomCurve3( newArr );

      const points = curve.getPoints( 50 );
      const geometry = new THREE.BufferGeometry().setFromPoints( points );
      return geometry
    },
    createdWay(x, y, xs, ys, zs, index) {
      let newindex = 32 - index
      const curve33 = new THREE.CubicBezierCurve3(
        new THREE.Vector3( xs, ys, zs ),
        new THREE.Vector3( 30 + 6 * newindex, -90, 100 / (newindex * 2)),
        new THREE.Vector3( 120 / newindex, -90, 200 / newindex),
        new THREE.Vector3( x, y, -70 )
      );

      const points33 = curve33.getPoints( 31 );
      const geometry33 = new THREE.BufferGeometry().setFromPoints( points33 );
      //return geometry33
      return geometry33.attributes.position.array
    },
    createdWayleft(x, y, xs, ys, zs, index) {
      const curve33 = new THREE.CubicBezierCurve3(
        new THREE.Vector3( xs, ys, zs ),
        new THREE.Vector3( -30 + (-6 * index), -90, 100 / (index * 2)),
        new THREE.Vector3( -120 / index, -90, 200 / index),
        new THREE.Vector3( x, y, -70 )
      );

      const points33 = curve33.getPoints( 31 );
      const geometry33 = new THREE.BufferGeometry().setFromPoints( points33 );
      return geometry33.attributes.position.array
    },
    createdWayCenter(x, y, xs, ys, zs) {
      const curve33 = new THREE.CubicBezierCurve3(
        new THREE.Vector3( xs, ys, zs ),
        new THREE.Vector3( 0, -90, -70),
        new THREE.Vector3( 0, -90, -70),
        new THREE.Vector3( x, y, -70 )
      );

      const points33 = curve33.getPoints( 31 );
      const geometry33 = new THREE.BufferGeometry().setFromPoints( points33 );
      return geometry33.attributes.position.array
    },
    animfunPoint() {
      let nowCounter = this.counter
      this.mashBody.geometry.vertices.forEach((el, index) => {
        if (index < 1) {
          el.z -= 70 / 31
        } else {
          let nowArr = this.wayAllArr[index - 1]
          el.x = nowArr[nowCounter * 3]
          el.y = nowArr[nowCounter * 3 + 1]
          el.z = nowArr[nowCounter * 3 + 2]
        }
        
      })
      this.mashBody.geometry.verticesNeedUpdate = true
      let lineGeometry = this.curveConstr(this.mashBody.geometry.vertices)
      this.animLineBot.geometry = lineGeometry
      this.animLineBot.verticesNeedUpdate = true


      if (this.counter > 30) {
        this.mashBody.geometry.vertices[31].x = -175.36
        this.mashBody.geometry.vertices[31].y = 21.4
        this.mashBody.geometry.verticesNeedUpdate = true
        this.animCenterOn = false
        this.ellipse.visible = true
        this.animTransformation = true
        this.counter = 0
        this.animcount = 0
        //this.animLineBot.visible = true
      } else {
        this.counter++
      }
      let line = new THREE.Geometry();
      line.vertices.push( this.mashBody.geometry.vertices[0] );
      line.vertices.push( this.mashBody.geometry.vertices[1] );
      let g = new MeshLine();
      g.setGeometry( line );

      this.lineBody3.geometry = g.geometry
      this.lineBody3.verticesNeedUpdate = true

      line = new THREE.Geometry();
      line.vertices.push( this.mashBody.geometry.vertices[0] );
      line.vertices.push( this.mashBody.geometry.vertices[31] );
      g = new MeshLine();
      g.setGeometry( line );

      this.lineBody4.geometry = g.geometry
      this.lineBody4.verticesNeedUpdate = true
    },
    animTransform() {
      let nowCounter = this.counter

      if (this.counter == 0) {
        this.botCircleLine.position.set(0, 0, -70)
        this.botCircle.children[0].position.set(0, 0, -70)
        this.botCircle.position.set(0, 0, -70)
      }

      let lineZ = this.botCircleLine.rotation.z
      if (lineZ > -1.12) {
        this.botCircleLine.rotation.set(0, 0, lineZ - ((1/2*Math.PI + .45) / 55))
      } else {
        this.botCircleLine.rotation.set(0, 0, -1/2*Math.PI + .45)
      }

      if (this.counter < 31) {
        if (this.counter == 30) {
          this.botCircle.position.set(-239, -10, 0 )
        } else {
          this.botCircle.position.set(this.geometryWay[(31 - nowCounter) * 3], this.geometryWay[(31 - nowCounter) * 3 + 1], 0 )
        }
        this.counter++
      } else {
        this.animTransformation = false
        this.botCircleSphere.visible = true
        this.redline.visible = true
        this.animWork = false
      }
    },
    addDragControl() {
      this.dragControl = []
      this.dragControl.push(
        new DragControls([this.botCircle],this.camera,this.labelRenderer.domElement)
      )
      this.dragControl.forEach(el => {
        el.enabled = this.isDragActive
        el.transformGroup = true
      })

      this.dragControl[0].addEventListener('dragstart', (event) => {
        if (this.open) {
          this.posNow.x = event.object.position.x
          this.posNow.y = event.object.position.y
          event.object.children[0].position.set(0,0,0)
          event.object.children[1].position.set(0,0,0)
        }
        
      });

      this.dragControl[0].addEventListener ('drag', event => {
        let x = event.object.position.x

        let radius = 265

        event.object.position.y = Math.sqrt( radius * radius - x * x ) * -1 + 103

        if (x < -239) {
          event.object.position.x = -239
          event.object.position.y = -10
        }

        if (x > 241) {
          event.object.position.x = 241
          event.object.position.y = -6
        }

        event.object.position.z = -70


        let factorRed = (2.28 / 480)  * (event.object.position.x + 240)
        if (factorRed <= 0) {
          factorRed = .00001
        }

        let rotationZ = (((2*Math.PI + 2.3)  / 2.28) * factorRed) - 1.12

        this.botCircleLine.rotation.set(0,0, rotationZ)
        let newRedlineGeo = new THREE.TorusBufferGeometry( 192, .5, 116, 20, factorRed );
        
        this.redline.geometry = newRedlineGeo
        this.redline.geometry.buffersNeedUpdate = true;
        
      });
    },
    openAngle() {
      if (this.counter > 8) {
        this.counter = 0
        this.animcount = 0
        this.animCenterOn = true
        this.is_angle = false
      } else {
        this.mashBody.geometry.vertices[1].x = this.mashBody.geometry.vertices[1].x + (7 / 7)
        this.mashBody.geometry.vertices[1].y = this.mashBody.geometry.vertices[1].y + (3 / 7)
        this.mashBody.geometry.vertices[1].z = this.mashBody.geometry.vertices[1].z + (13 / 7)

        this.mashBody.geometry.vertices[2].x = this.mashBody.geometry.vertices[2].x + (3 / 7)
        this.mashBody.geometry.vertices[2].y = this.mashBody.geometry.vertices[2].y + (2 / 7)
        this.mashBody.geometry.vertices[2].z = this.mashBody.geometry.vertices[2].z + (7 / 7)

        this.mashBody.geometry.vertices[31].x = this.mashBody.geometry.vertices[31].x - (7 / 7)
        this.mashBody.geometry.vertices[31].y = this.mashBody.geometry.vertices[31].y + (3 / 7)
        this.mashBody.geometry.vertices[31].z = this.mashBody.geometry.vertices[31].z + (13 / 7)

        this.mashBody.geometry.vertices[30].x = this.mashBody.geometry.vertices[30].x - (3 / 7)
        this.mashBody.geometry.vertices[30].y = this.mashBody.geometry.vertices[30].y + (2 / 7)
        this.mashBody.geometry.vertices[30].z = this.mashBody.geometry.vertices[30].z + (7 / 7)
        this.mashBody.geometry.verticesNeedUpdate = true


        let lineGeometry = this.curveConstr(this.mashBody.geometry.vertices)
        this.animLineBot.geometry = lineGeometry
        this.animLineBot.verticesNeedUpdate = true

        let line = new THREE.Geometry();
        line.vertices.push( this.mashBody.geometry.vertices[0] );
        line.vertices.push( this.mashBody.geometry.vertices[1] );
        let g = new MeshLine();
        g.setGeometry( line );

        this.lineBody3.geometry = g.geometry
        this.lineBody3.verticesNeedUpdate = true

        line = new THREE.Geometry();
        line.vertices.push( this.mashBody.geometry.vertices[0] );
        line.vertices.push( this.mashBody.geometry.vertices[31] );
        g = new MeshLine();
        g.setGeometry( line );

        this.lineBody4.geometry = g.geometry
        this.lineBody4.verticesNeedUpdate = true

        this.counter++

      }
    },
    animation() {
      if (this.open) {
        this.animLineBot.visible = true
        this.botCircleLine2.visible = true
        this.lineBody3.visible = true
        this.lineBody4.visible = true
        if (this.nowRotation < this.minRotation) {
          this.nowRotation += this.speedOpen
          if (this.nowRotation > this.minRotation) {
            this.nowRotation = this.minRotation
            this.animStart = false
            this.isDragActive = true
            this.onDragControl()
            this.is_angle = true
            this.lineBody.visible = false
            this.lineBody2.visible = false
            this.scene.rotation.x = 0;
            this.botCircleLine2.visible = false
          }
          this.botCircle.rotation.set(this.nowRotation, 0, 0)

        } else {
          this.nowRotation = this.minRotation
          this.botCircle.rotation.set(this.nowRotation, 0, 0)
          this.animStart = false
          this.isDragActive = true
          this.onDragControl()
          this.botCircleSphere.visible = true
          this.botCircleSphere.visible = true
          this.is_angle = true
          this.lineBody.visible = false
          this.lineBody2.visible = false
          this.botCircleLine2.visible = false
          this.botCircle.position.set(0, 0, -70)
          this.botCircle.rotation.set(0, 0, 0)
        }
      } else {
        this.botCircleSphere.visible = false
        this.isDragActive = false
        this.onDragControl()
        if (this.nowRotation > this.maxRotation) {
          this.nowRotation -= this.speedOpen
          if (this.nowRotation < this.maxRotation) {
            this.nowRotation = this.maxRotation
            this.animStart = false
            this.plane5.visible = true
            this.plane1.visible = true
            this.plane2.visible = true
            this.supLine.visible = true
            this.lineBody.visible = false
          }
          this.topCircle.rotation.set(-Math.PI - this.nowRotation, 0, 0)
          this.botCircle.rotation.set(this.nowRotation, 0, 0)
        } else {
          this.nowRotation = this.maxRotation
          this.topCircle.rotation.set(this.nowRotation, 0, 0)
          this.botCircle.rotation.set(this.nowRotation, 0, 0)
          this.animStart = false
          this.plane5.visible = true
          this.plane1.visible = true
          this.plane2.visible = true
          this.supLine.visible = true
          this.lineBody.visible = false
        }
      }
    },    
    render() {
      if (this.animStart) {
        this.animation()
      }
      const video1 = this.getVideo();
      if (video1?.currentTime !== 0) {
        if (video1.currentTime >= video1.duration - 1 && this.isAnimation) {
          this.isAnimation = false;
        }
      }
      if (this.animTransformation && this.animStop) {
        this.animTransform()
        this.animStop = false
      } else if (!this.animStop) {
        if (this.animcount < 5) {
          this.animStop = false
          this.animcount++
        } else {
          this.animStop = true
          this.animcount = 0
        }
      }
      if (this.is_angle && this.animStop) {
        this.openAngle()
        this.animStop = false
      } else if (!this.animStop) {
        if (this.animcount < 5) {
          this.animStop = false
          this.animcount++
        } else {
          this.animStop = true
          this.animcount = 0
        }
      }
      if (this.animCenterOn && this.animStop) {
        this.animfunPoint()
        this.animStop = false
      } else if (!this.animStop) {
        if (this.animcount < 5) {
          this.animStop = false
          this.animcount++
        } else {
          this.animStop = true
          this.animcount = 0
        }
      }
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    //Edge line of the box
    makeLine( geo, scene, resolution, col) {
      var g2 = new MeshLine();
      g2.setGeometry( geo );
      let material = null
      if (col) {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xff0000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      } else {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xe7e6e6 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      }
      
      geo = new THREE.Mesh( g2.geometry, material );
      scene.add( geo );
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'pointerdown';
        //   this.mouseMove = 'pointermove';
        //   this.mouseUp = 'pointerup';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    isSafari() {
      // Safari 3.0+ "[object HTMLElementConstructor]"
      return /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (this.isSafari()) {
          name = "Safari";
      }
      return name;
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.actions {
  right: 5% !important;
}
#video1, #video2 {
  display: block;
  position: absolute;
  top: 75px;
  left: calc(50% - 960px);
  z-index: 11;
}
#button3{
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}
#button3.active {
  background-image: url("../assets/reset-button-dis.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button3.active:active {
  background-image: url("../assets/reset-button-dis.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button3.disabled {
  pointer-events: none;
  background-image: url("../assets/reset.svg");
}
#action3 {
  background-image: url("../assets/2-15/3-1.svg");
}
#action3:active {
  background-image: url("../assets/2-15/3-2.svg");
}
#action3.disabled {
  pointer-events: none;
  background-image: url("../assets/Group 13.svg");
}
#three_view {
  width: 1920px !important;
}
.project-wrap {
  overflow: inherit;
}
#video1, #video2 {
  display: none;
}
.white {
  width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 12;
  position: absolute;
  top: 0;
}
.white.l {
  left: -350px;
}
.white.r {
  right: -350px;
}
</style>
