<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="wrapper">
          <canvas id="c"></canvas>
        </div>
      </div>
    </div>
    <div class="actions">
      <button id="action1" @click="toggleRotation()" v-bind:class="{active: isRotationEnabled}"></button>
      <button id="action2" @click="toggleLineSelection()" v-bind:class="{active: isLineSelectable, disabled: isDisabledLineSelection()}"></button>
      <button id="action3"
              @mousedown="toggleTransforming(true)"
              @mouseleave="toggleTransforming(false)"
              @mouseup="toggleTransforming(false)"
              @touchstart="toggleTransforming(true)"
              @touchend="toggleTransforming(false)"
              @touchcancel="toggleTransforming(false)"
              v-bind:class="{disabled: !isEnabledTransforming(), active: isTransforming}">
      </button>
      <button id="action4"
              @mousedown="toggleTransformingReverse(true)"
              @mouseleave="toggleTransformingReverse(false)"
              @mouseup="toggleTransformingReverse(false)"
              @touchstart="toggleTransformingReverse(true)"
              @touchend="toggleTransformingReverse(false)"
              @touchcancel="toggleTransformingReverse(false)"
              v-bind:class="{disabled: !isEnabledTransformingReverse(), active: isTransformingReverse}">
      </button>
      <button id="action-reset" @click="reset()"></button>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';
import { CSS2DObject, CSS2DRenderer } from "three/examples/jsm/renderers/CSS2DRenderer";

export default {
  name: 's1-25',
  data() {
    return {
      // basics
      canvas: null,
      camera: null,
      scene: null,
      renderer: null,
      labelRenderer: null,
      aspectRatio: null,
      orbitControls: null,
      pointCoords: null,
      mouseDown: null,
      boxSize: 1,
      raycaster: new THREE.Raycaster(),
      mouseVector: new THREE.Vector2(),
      rendererWidth: 1024,
      rendererHeight: 768,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      // selectable objects
      linesFat: [],
      lines: [],
      // colors
      meshColor: '#E6D4E7',
      meshColorSelected: '#dae3f3',
      lineColor: '#000000',
      lineColorSelected: '#c63e29',
      // settings
      lineParams: { color: '#000000', linewidth: 4 },
      lineFatParams: { linewidth: 20, transparent: true, opacity: 0 },
      lineFatDictionary: {},
      pivotDictionary: {},
      rotation: 0,
      translation: 1,
      transformationLimit: 2.025,
      angle: .01,
      translate: .005,
      meshTranslation: {
        ABH: { x: .5, z: 0 },
        BCH: { x: 0, z: .5 },
        CDH: { x: -.5, z: 0 },
        ADH: { x: 0, z: -.5 },
        ABCD: { x: 0, z: 0 },
      },
      lineList: [
        ['A', 'H'], ['B', 'H'], ['C', 'H'], ['D', 'H'],
        ['A', 'B'], ['B', 'C'], ['C', 'D'], ['A', 'D']
      ],
      meshList: [
        ['A', 'B', 'H'],
        ['B', 'C', 'H'],
        ['C', 'D', 'H'],
        ['A', 'D', 'H'],
        ['A', 'B', 'C', 'D']
      ],
      meshOutlineList: [
        ['A', 'B', 'B', 'H', 'H', 'A'],
        ['B', 'C', 'C', 'H', 'H', 'B'],
        ['C', 'D', 'D', 'H', 'H', 'C'],
        ['A', 'D', 'D', 'H', 'H', 'A'],
        ['A', 'B', 'B', 'C', 'C', 'D', 'D', 'A']
      ],
      transformableSelections: [
        ['AH', 'BH', 'AB'],
        ['AH', 'BH'],
        ['BH', 'CH', 'BC'],
        ['BH', 'CH'],
        ['CH', 'DH', 'CD'],
        ['CH', 'DH'],
        ['AH', 'DH', 'AD'],
        ['AH', 'DH'],
        ['AB', 'BC', 'CD', 'AD']
      ],
      // plane basics
      planeCurves: [
        [ [0, 0], [.25, .19], [.5, .28], [.6, .3], [.7, .31] ],
        [ [0, 0], [.25, .19], [.5, .28], [.6, .3], [.7, .31] ],
        [ [0, 0], [.25, .19], [.5, .28], [.8, .3], [1, .31] ],
        [ [0, 0], [.25, .19], [.5, .28], [.8, .3], [1, .31] ],
      ],
      planeRotations: [ [2,0,0], [2,3.15,0], [0,.8,1], [0,3.9,-.9] ],
      planePoints: ['A', 'D', 'A', 'H'],
      planeLines: [],
      labels: [],
      // fast settings
      isRotationEnabled: false,
      isLineSelectable: false,
      isTransforming: false,
      isTransformingReverse: false,
    }
  },
  beforeDestroy() {
    //this.renderer.clear()
  },
  methods: {
    initGeometry() {
      this.initRenderers();
      this.initCameraScene();
      this.addLines();
      this.addMeshes();
      this.addPlanes();
      this.addLabels();
      this.addControls();
      this.resize(); // default zoom
      document.getElementById('label-container').addEventListener(this.mouseDown, this.onCanvasMouseDown);

      document.getElementById('label-container').addEventListener(this.mouseDown, this.startRotate);
      document.getElementById('label-container').addEventListener(this.mouseMove, this.onRotate);
      document.getElementById('label-container').addEventListener(this.mouseUp, this.endRotate);
      window.addEventListener(this.mouseUp, this.endRotate);
      requestAnimationFrame(this.render); // execute rendering
    },
    initPointCoords() {
      this.pointCoords = {
        A: { x: -this.boxSize, y: -this.boxSize, z: this.boxSize },
        B: { x: -this.boxSize, y: -this.boxSize, z: -this.boxSize },
        C: { x: this.boxSize, y: -this.boxSize, z: -this.boxSize },
        D: { x: this.boxSize, y: -this.boxSize, z: this.boxSize },
        H: { x: 0, y: this.boxSize, z: 0 },
      };
    },
    startRotate(e) {
      if (this.notRightClick(e) && this.isRotationEnabled) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e) && this.isRotationEnabled) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
    toggleRotation() {
      this.isRotationEnabled = !this.isRotationEnabled;
      //this.orbitControls.enableRotate = this.isRotationEnabled;
    },
    toggleLineSelection() {
      this.isLineSelectable = !this.isLineSelectable;
    },
    toggleTransforming(isTransforming) {
      this.isTransforming = isTransforming;
    },
    toggleTransformingReverse(isTransforming) {
      this.isTransformingReverse = isTransforming;
    },
    resize() {
      this.camera.zoom = .7;
      this.scene.position.y = .3;
      this.camera.updateProjectionMatrix();
    },
    reset() {
      this.destroyer();
      this.initGeometry();
    },
    destroyer() {
      this.rotation = 0;
      this.translation = 1;
      //this.renderer = null;
      this.scene = null;
      this.labelRenderer = null;
      this.isLineSelectable = false;
      this.isRotationEnabled = false;
      this.isTransforming = false;
      this.linesFat = [];
      this.lines = [];
      this.labels = [];
      this.planeLines = [];
      this.lineFatDictionary = {};
      this.pivotDictionary = {};
      const labelContainer = document?.querySelector('#label-container');
      labelContainer?.parentElement?.removeChild(labelContainer);
    },
    render() {
      requestAnimationFrame(this.render);
      if (this.scene && this.camera) {
        if (this.renderer && this.scene && this.camera) {
          this.renderer?.render(this.scene, this.camera);
        }
        if (this.labelRenderer && this.scene && this.camera) {
          this.labelRenderer?.render(this.scene, this.camera);
        }
      }
      this.transformation();
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    meshMaterial() {
      return new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        transparent: true,
        opacity: .8,
        color: this.meshColor
      });
    },
    onCanvasMouseDown(event) {
      // settings of coordinates to toggle
      if (this.isLineSelectable && !this.isDisabledLineSelection()) {
        const navWrapStyle = window.getComputedStyle(document.querySelector('#nav'));
        const navWrapHeight = navWrapStyle.getPropertyValue('height');
        const projectWrapStyle = window.getComputedStyle(document.querySelector('.project-wrap'));
        const marginLeft = projectWrapStyle.getPropertyValue('margin-left');
        const margin = parseInt(marginLeft, 10);
        const navHeight = parseInt(navWrapHeight, 10);
        let scaleStage = document.querySelector('#stage_1');
        let scaleStageText = scaleStage.style.transform
        let scaleStageVal = scaleStageText.substring(6, scaleStageText.length - 1)
        scaleStageVal = Number(scaleStageVal)
        const clientX = event.clientX ? event.clientX : (event.touches[0] || event.changedTouches[0] || {}).clientX;
        const clientY = event.clientY ? event.clientY : (event.touches[0] || event.changedTouches[0] || {}).clientY;
        const element = event.currentTarget;
        const x = clientX - (element.offsetLeft + margin);
        const y = clientY - element.offsetTop - (navHeight * scaleStageVal) / 2;
        this.mouseVector.x = ((x * scaleStageVal) / (this.renderer.domElement.clientWidth * scaleStageVal)) * 2 - 1;
        this.mouseVector.y = -(y / (this.renderer.domElement.clientHeight  * scaleStageVal)) * 2 + 1 + (this.isIE() ? .17 : 0); 

        this.raycaster.setFromCamera(this.mouseVector, this.camera);
        const objects = this.isLineSelectable ? this.linesFat : this.isMeshSelectable ? this.meshes : this.isPointSelectable ? this.points : [];
        const intersects = this.raycaster.intersectObjects(objects);
        const obj3d = intersects && intersects.length && intersects[0] ? intersects[0] : null;
        this.toggleSelected(obj3d);
      }
    },
    isIE() {
      return /*@cc_on!@*/false || !!document.documentMode;
    },
    toggleSelected(obj3d) {
      if (obj3d) {
        const material = obj3d.object.material;
        const isSelected = material.name === 'selected';

        // looking for related line by index
        const index = obj3d.object.index;
        if (typeof index === 'number') {
          const line = this.lines.find(i => i.index === index);
          if (line) {
            line.material.color.set(isSelected ? this.lineColor : this.lineColorSelected);
          }
        }

        material.name = isSelected ? '' : 'selected';
        this.renderer.render(this.scene, this.camera);
      }
    },
    isDisabledLineSelection() {
      return this.rotation > this.angle || this.translation > 1;
    },
    isEnabledTransforming() {
      return this.rotation < this.transformationLimit &&
              this.translation < this.transformationLimit &&
              this.isSelectionsTransformable();
    },
    isSelectionsTransformable() {
      let transformable = false;
      this.transformableSelections.forEach(i => {
        if (this.selectedLinesCount(i) === i.length) {
          transformable = true
        }
      });
      return transformable;
    },
    isEnabledTransformingReverse() {
      return this.rotation !== 0 || this.translation !== 1;
    },
    setRotation(value) {
      const abs = Math.abs(value);
      this.rotation = abs <= this.angle ? 0 : abs > this.angle && abs < this.transformationLimit ? abs : this.transformationLimit;
    },
    setTranslate(value) {
      const abs = Math.abs(value);
      this.translation = abs < 1 ? 1 : abs < this.transformationLimit ? abs : this.transformationLimit;
    },
    transformation() {
      if (this.isTransforming || this.isTransformingReverse) {
        const isTranslationEnabled = this.translation >= 1 && this.translation < this.transformationLimit;
        const isRotationEnabled = this.rotation >= 0 && this.rotation < this.transformationLimit;
        const isTranslationReverseEnabled = this.translation > 1 && this.translation <= this.transformationLimit;
        const isRotationReverseEnabled = this.rotation > .001 && this.rotation <= this.transformationLimit;

        const isTranslating = this.isTransforming ? isTranslationEnabled : isTranslationReverseEnabled;
        const isRotating = this.isTransforming ? isRotationEnabled : isRotationReverseEnabled;

        if (this.selectedLinesCount(['AH', 'BH', 'AB']) === 3) {
          if (isTranslating) {
            const pivot = this.pivot('ABH');
            pivot.translateX(this.isTransforming ? -this.translate : this.translate);
            this.setTranslate(pivot.position.x);
          }
        } else if (this.selectedLinesCount(['AH', 'BH']) === 2) {
          if (isRotating) {
            const pivot = this.pivot('ABH');
            pivot.rotateZ(this.isTransforming ? this.angle : -this.angle);
            this.setRotation(pivot.rotation.z);
          }
        }

        if (this.selectedLinesCount(['BH', 'CH', 'BC']) === 3) {
          if (isTranslating) {
            const pivot = this.pivot('BCH');
            pivot.translateZ(this.isTransforming ? -this.translate : this.translate);
            this.setTranslate(pivot.position.z);
          }
        } else if (this.selectedLinesCount(['BH', 'CH']) === 2) {
          if (isRotating) {
            const pivot = this.pivot('BCH');
            pivot.rotateX(this.isTransforming ? -this.angle : this.angle);
            this.setRotation(pivot.rotation.x);
          }
        }

        if (this.selectedLinesCount(['CH', 'DH', 'CD']) === 3) {
          if (isTranslating) {
            const pivot = this.pivot('CDH');
            pivot.translateX(this.isTransforming ? this.translate : -this.translate);
            this.setTranslate(pivot.position.x);
          }
        } else if (this.selectedLinesCount(['CH', 'DH']) === 2) {
          if (isRotating) {
            const pivot = this.pivot('CDH');
            pivot.rotateZ(this.isTransforming ? -this.angle : this.angle);
            this.setRotation(pivot.rotation.z);
          }
        }

        if (this.selectedLinesCount(['AH', 'DH', 'AD']) === 3) {
          if (isTranslating) {
            const pivot = this.pivot('ADH');
            pivot.translateZ(this.isTransforming ? this.translate : -this.translate);
            this.setTranslate(pivot.position.z);
          }
        } else if (this.selectedLinesCount(['AH', 'DH']) === 2) {
          if (isRotating) {
            const pivot = this.pivot('ADH');
            pivot.rotateX(this.isTransforming ? this.angle : -this.angle);
            this.setRotation(pivot.rotation.x);
          }
        }

        if (this.selectedLinesCount(['AB', 'BC', 'CD', 'AD']) === 4) {
          if (isTranslating) {
            const pivot = this.pivot('ABCD');
            pivot.translateY(this.isTransforming ? -this.translate : this.translate);
            this.setTranslate(pivot.position.y);
          }
        }

        this.toggleLinesVisibility();
      }
    },
    pivot(points) {
      return this.pivotDictionary[points];
    },
    selectedLinesCount(lines) {
      return Object.keys(this.lineFatDictionary).length ? lines.map(i => this.lineFatDictionary[i].material.name).filter(i => i === 'selected').length : 0;
    },
    toggleLinesVisibility() {
      const isVisible = this.rotation <= this.angle && this.translation === 1;

      this.lines.forEach(i => {
        i.visible = isVisible;
      });
      this.planeLines.forEach(i => {
        i.visible = isVisible;
      })
      this.labels.forEach(i => {
        i.element.style.opacity = isVisible ? 1 : 0;
      });
    },
    initRenderers() {
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      document.getElementById('wrapper').appendChild(this.renderer.domElement);

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.rendererWidth, this.rendererHeight);
      this.labelRenderer.domElement.id = 'label-container';
      this.labelRenderer.domElement.className = 'label-container';
      this.labelRenderer.domElement.style.position = 'absolute';
      document.getElementById('wrapper').appendChild(this.labelRenderer.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 250;
      const h = this.canvas.clientHeight / 250;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      }

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );

      this.camera.position.set(0, 0, 5);

      // scene
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xffffff);
      this.scene.rotation.set(.33, -.5 , 0);
      // this.scene.add(new THREE.AxesHelper(5));
    },
    addLines() {
      this.lineList.forEach((i, x) => this.addLine(i, x, false));
      this.lineList.forEach((i, x) => this.addLine(i, x, true));
    },
    addLine(points, index, isFat) {
      const start = points[0];
      const end = points[1];
      const material = this.lineMaterial(isFat ? this.lineFatParams : this.lineParams);
      const buffer = new THREE.BufferGeometry().setFromPoints([this.pointCoords[start], this.pointCoords[end]]);
      const segments = new LineSegmentsGeometry().setPositions(buffer.attributes.position.array);
      const line = new LineSegments2(segments, material);
      line.index = index;
      line.renderOrder = 99;
      const key = start + end;
      if (isFat) {
        this.linesFat.push(line);
        this.lineFatDictionary[key] = line;
      } else {
        this.lines.push(line);
      }
      this.scene.add(line);
    },
    addMeshes() {
      this.meshList.forEach((i, x) => {
        const key = i.join('');
        const indent = .01;
        const addIndent = number => number + (number > 0 ? -indent : number < 0 ? indent : 0);
        const geometry = new THREE.Geometry();
        geometry.translate(1, 1, 1);
        i.forEach(point => {
          const coordinate = this.pointCoords[point];
          geometry.vertices.push(new THREE.Vector3(addIndent(coordinate.x), addIndent(coordinate.y), addIndent(coordinate.z)));
        });
        geometry.faces.push(new THREE.Face3( 0, 1, 2 ));
        if (i.length === 4) {
          geometry.faces.push(new THREE.Face3( 0, 3, 2 ));
        }
        geometry.computeFaceNormals();
        const mesh = new THREE.Mesh(geometry, this.meshMaterial());

        const outlinePoints = this.meshOutlineList[x]
        mesh.add(this.addOutline(outlinePoints));

        const box = new THREE.Box3().setFromObject(mesh);
        box.getCenter(mesh.position); // re-sets the mesh position
        mesh.position.multiplyScalar(-1);

        mesh.applyMatrix4(new THREE.Matrix4().makeTranslation(this.meshTranslation[key].x, 1, this.meshTranslation[key].z));
        const pivot = new THREE.Group();
        const pos = mesh.position;
        pivot.position.set(-pos.x, -pos.y, -pos.z);
        this.scene.add(pivot);
        pivot.add(mesh);
        this.pivotDictionary[key] = pivot;
      })
    },
    addOutline(points) {
      const coordinates = points.map(i => this.pointCoords[i]);
      const buffer = new THREE.BufferGeometry().setFromPoints(coordinates);
      const segments = new LineSegmentsGeometry().setPositions(buffer.attributes.position.array);
      return new LineSegments2(segments, this.lineMaterial(this.lineParams));
    },
    addPlanes() {
      this.planeCurves.forEach((points, index) => {
        const curve = new THREE.SplineCurve(points.map(i => new THREE.Vector2(i[0], i[1])));
        const curvePoints = curve.getPoints(9);
        const geometry = new THREE.BufferGeometry().setFromPoints(curvePoints);
        const material = new THREE.LineBasicMaterial({ color: this.lineColor });
        const line = new THREE.Line(geometry, material);
        const point = this.planePoints[index];
        const coordinates = this.pointCoords[point];
        line.position.set(coordinates.x, coordinates.y, coordinates.z);
        const rotate = this.planeRotations[index];
        line.rotation.set(rotate[0],rotate[1],rotate[2]);
        this.planeLines.push(line);
        this.scene.add(line);
      });
    },
    addLabels() {
      ['3cm', '4cm'].forEach((i, x) => {
        const labelDiv = document.createElement('div');
        labelDiv.textContent = i;
        labelDiv.className = 'label';
        labelDiv.style.color = 'black';
        const label = new CSS2DObject(labelDiv);
        if (x) {
          label.position.set(-.7, .2, .8); // 4cm
        } else {
          label.position.set(0, -1.1, 1.3); // 3cm
        }
        this.labels.push(label);
        this.scene.add(label);
      });
    },
    addControls() {
      this.orbitControls = new OrbitControls(this.camera, this.labelRenderer.domElement);
      this.orbitControls.enableZoom = false;
      this.orbitControls.enablePan = false; // default (right click dragging)
      this.orbitControls.enableRotate = false;
      this.orbitControls.mouseButtons = {
        LEFT: THREE.MOUSE.LEFT,
        RIGHT: THREE.MOUSE.LEFT, // default right click rotate
        MIDDLE: THREE.MOUSE.MIDDLE
      };
    },
    // utilities
    detectMouseEventName() {
      const isTouch = this.isTouchDevice();
      const isSafari = this.getBrowserName() === 'Safari';
      this.mouseDown = isTouch ? isSafari ? 'touchstart' : 'touchstart' : 'mousedown';
      this.mouseMove = isTouch ? isSafari ? 'touchmove' : 'touchmove' : 'mousemove';
      this.mouseUp = isTouch ? isSafari  ? 'touchend' : 'touchend' : 'mouseup';
    },
    // check touch device
    isTouchDevice() {
      return 'ontouchstart' in window || navigator.maxTouchPoints; // check on most browsers || IE10/11 and Surface
    },
    // check browser
    getBrowserName() {
      const edge = !internetExplorer && !!window.StyleMedia; // Edge 20+
      const internetExplorer = /*@cc_on!@*/false || !!document.documentMode ? 'IE' : null; // Internet Explorer 6-11
      const firefox = typeof InstallTrigger !== 'undefined' ? 'Firefox' : null; // Firefox 1.0+
      const opera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ? 'Opera' : null; // Opera 8.0+
      const chrome = !!window.chrome && !!window.chrome.webstore ? 'Chrome' : null; // Chrome 1+
      const safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent) ? 'Safari' : null; // Safari 3.0+ [object HTMLElementConstructor]
      return edge || internetExplorer || firefox || opera || chrome || safari || 'Unknown';
    },
  },
  beforeMount() {
    this.initPointCoords();
  },
  mounted() {
    this.canvas = document.getElementById('c');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    this.initGeometry();
  },
  created() {
    this.detectMouseEventName();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
::v-deep .label {
  font-size: 25px;
}
#action1 {
  background-image: url("../assets/2-15/1-1.svg");
}
#action1.active {
  background-image: url("../assets/2-15/1-2.svg");
}
#action2 {
  background-image: url("../assets/2-15/2-1.svg");
}
#action2.active {
  background-image: url("../assets/2-15/2-2.svg");
}
#action2.disabled {
  pointer-events: none;
  background-image: url("../assets/2-15/2-3.svg");
}
#action3 {
  background-image: url("../assets/2-15/3-1.svg");
}
#action3.active {
  background-image: url("../assets/2-15/3-2.svg");
}
#action3.disabled {
  pointer-events: none;
  background-image: url("../assets/2-15/3-3.svg");
}
#action4 {
  background-image: url("../assets/2-15/4-1.svg");
}
#action4.active {
  background-image: url("../assets/2-15/4-2.svg");
}
#action4.disabled {
  pointer-events: none;
  background-image: url("../assets/2-15/4-3.svg");
}
</style>
