<template>
    <div>
      <div class="project-wrap">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>
      <div class="actions">
        <button id="action3" v-bind:class="{disabled: clicked}" @click="button2()"></button>
        <button id="button3" v-bind:class="{active: animWork}" @click="button3()"></button>
      </div>
    </div>
</template>


<script>
import * as THREE from 'three'
import $ from 'jquery'
import { MeshLine } from '../assets/js/THREE.MeshLine.js'
import { MeshLineMaterial } from 'three.meshline'
import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';
import { DragControls } from 'three/examples/jsm/controls/DragControls';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';

export default {
  name: "s1-16",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      maxRotation: Math.PI,
      minRotation: 1/2*Math.PI,
      nowRotation: 1/2*Math.PI,
      speedOpen: 0.05,
      open: false,
      posx: 91,
      posz: 0,
      maxRange: 440,
      posNow: null,
      // body
      lineBody: null,
      lineBodyGeometry: null,
      lineBodyOb: null,
      meshBody: null,
      //circle
      topCircle: null,
      topCircleLine: null,
      topLine: null,
      topLineScene: null,
      topLineGeometry: null,
      topCircleSphere: null,
      topCircleSphereBlack: null,
      botCircle: null,
      botLine: null,
      botLineScene: null,
      botLineGeometry: null,
      botCircleLine: null,
      botCircleSphere: null,
      botCircleSphereBlack: null,
      //line
      plane1: null,
      plane2: null,
      plane3: null,
      plane4: null,
      plane5: null,
      plane6: null,
      plane7: null,
      plane8: null,
      plane9: null,
      supline: null,
      supline2: null,
      supline3: null,
      line1: null,
      line2: null,
      line3: null,
      line4: null,
      lineL: null,
      lineR: null,
      lineLG: null,
      lineRG: null,
      animLineTop: null,
      animLineBot: null,
      animcount: 0,
      // position
      normalPos: null,
      circlePos: [],
      maxR: 70,
      maxL: -70,
      maxZ: 20,
      //Alphabets
      textGeometry: null,
      textMaterial: null,
      text_A: null,
      text_B: null,
      text_C: null,
      text_D: null,
      text_E: null,
      text_F: null,
      text_G: null,
      text_H: null,
      // animHelp
      startXt: 0,
      finishXt: 32,
      startXb: 33,
      finishXb: 65,
      arrVertices: [],
      counter: 1,
      animCenterOn: false,
      animStop: false,
      animWork: false,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      width: 1024,
      height: 808,

      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
      isDragActive: false,
      clicked: false,
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  mounted() {
    this.init()
    
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    this.renderer.debug.checkShaderErrors = false
  },
  methods: {
    getMaterial() {
      return {
        color: '#E6D4E7',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        depthWrite: false,
        side: THREE.DoubleSide,
      }
    },
    button2() {
      if (!this.animStart && !this.clicked) {
        this.clicked = true
        this.open = !this.open
        this.animStart = true
        this.animWork = true
      }
    },
    button3() {
      if (!this.animWork) {
        this.init()
      }
    },
    init() {
      document.getElementById("three_view").innerHTML = '';
      
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);
      
      this.maxRotation = Math.PI
      this.minRotation = 1/2*Math.PI
      this.nowRotation = 1/2*Math.PI
      this.speedOpen = 0.05
      this.open = false
      this.posx = 91
      this.posz = 0

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.rotation.x = .3;
      this.scene.rotation.y = 0;
      this.scene.position.y = 30;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(800);
      this.camera.translateY(30);
      this.camera.zoom = 1.6;
      this.camera.updateProjectionMatrix();

      this.light = new THREE.DirectionalLight( 0xffffff );
      this.scene.add( this.light );

      // ADD TOP AND BOT RED SPHERE

      var geometry = new THREE.CircleGeometry( 70, 32 );
      var material = new THREE.MeshBasicMaterial( this.getMaterial() );

      let SphereGeometry = new THREE.SphereGeometry( 3, 32, 32 );
      let SphereMaterial = new THREE.MeshBasicMaterial( {color: 0xff0000} );

      let topCircle = new THREE.Mesh( geometry, material );
      topCircle.position.set(0, -70, 0)
      let botCircle = new THREE.Mesh( geometry, material );
      botCircle.position.set(0, -70, 0)

      var p2_edge_geometry5 = new THREE.TorusBufferGeometry( 70, .3, 30, 100);
      var p2_edge_material5 = new THREE.LineBasicMaterial({ color: 0x000000, side: THREE.FrontSide, transparent:true});

      this.topCircleSphere = new THREE.Mesh( SphereGeometry, SphereMaterial );
      this.botCircleSphere = new THREE.Mesh( SphereGeometry, SphereMaterial );
      this.topCircleSphere.visible = false
      this.botCircleSphere.visible = false

      // ADD TOP AND BOT BLACK SPHERE
      let SphereMaterialBlack = new THREE.MeshBasicMaterial( {color: 0x000000, side: THREE.FrontSide} );

      this.topCircleSphereBlack = new THREE.Mesh( SphereGeometry, SphereMaterialBlack );
      this.botCircleSphereBlack = new THREE.Mesh( SphereGeometry, SphereMaterialBlack );
      this.topCircleSphereBlack.visible = true
      this.botCircleSphereBlack.visible = false
      
      // ADD TOP AND BOT RED SPHERE

      this.topCircleLine = new THREE.Group()
      let topCircleLine = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );
      this.topCircleLine.add(topCircleLine)
      this.topCircleLine.add(this.topCircleSphere)
      this.topCircleLine.add(this.topCircleSphereBlack)
      this.topCircleLine.position.set(0, -70, 1)
      this.topCircleSphere.position.set(0, 70, 0)

      this.botCircleLine = new THREE.Group()
      let botCircleLine = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );
      this.botCircleLine.add(botCircleLine)
      this.botCircleLine.add(this.botCircleSphere)
      this.botCircleLine.add(this.botCircleSphereBlack)
      this.botCircleLine.position.set(0, -70, 0)
      this.botCircleSphere.position.set(0, 70, 0)

      // ADD TOP AND BOT CIRCLE
      this.topCircle = new THREE.Group()
      this.topCircle.renderOrder = 1
      this.topCircle.position.set(0, 91 , 70)
      this.topCircle.add(topCircle)
      this.topCircle.add(this.topCircleLine)
      this.topCircle.rotation.set(1/2*Math.PI, Math.PI, 0)

      this.botCircle = new THREE.Group()
      this.botCircle.renderOrder = 1
      this.botCircle.position.set(0, -91 , 70)
      this.botCircle.add(botCircle)
      this.botCircle.add(this.botCircleLine) 
      this.botCircle.rotation.set(-1/2*Math.PI, 0, Math.PI)

      // ADD red line
      let A = new THREE.Vector3( -220, 90.5, -70 )
      let B = new THREE.Vector3( -220, 90.5, -70 )

      this.topLineGeometry = new THREE.BufferGeometry().setFromPoints([A, B]);
      this.topLine = new LineSegmentsGeometry().setPositions(this.topLineGeometry.attributes.position.array);

      let A1 = new THREE.Vector3( -220, -90.5, -69 )
      let B1 = new THREE.Vector3( -220, -90.5, -69 )

      this.botLineGeometry = new THREE.BufferGeometry().setFromPoints([A1, B1]);
      this.botLine = new LineSegmentsGeometry().setPositions(this.botLineGeometry.attributes.position.array);

      let lineMat = new LineMaterial({ color: 0xff0000, linewidth: 3 });
      lineMat.resolution.set(window.innerWidth, window.innerHeight);

      this.topLineScene = new LineSegments2(this.topLine, lineMat)
      this.botLineScene = new LineSegments2(this.botLine, lineMat)

      //ADD CURVE LINE

      var material322 = new THREE.LineBasicMaterial( { color : 0x333333, linewidth: 3} );
      let curve = new THREE.SplineCurve( [
        new THREE.Vector2( -70, 91 ),
        new THREE.Vector2( -81, 70 ),
        new THREE.Vector2( -87, 50 ),
        new THREE.Vector2( -90, 13 ),
      ] );
      let curve2 = new THREE.SplineCurve( [
        new THREE.Vector2( -70, -91 ),
        new THREE.Vector2( -81, -70 ),
        new THREE.Vector2( -87, -50 ),
        new THREE.Vector2( -90, -13 ),
      ] );

      let curve3 = new THREE.SplineCurve( [
        new THREE.Vector2( -50, 68 ),
        new THREE.Vector2( -100, 69 ),
        new THREE.Vector2( -170, 74 ),
        new THREE.Vector2( -220, 90 ),
      ] );
      let curve4 = new THREE.SplineCurve( [
        new THREE.Vector2( 50, 68 ),
        new THREE.Vector2( 100, 69 ),
        new THREE.Vector2( 170, 74 ),
        new THREE.Vector2( 220, 90 ),
      ] );
      let curve5 = new THREE.SplineCurve( [
        new THREE.Vector2( 2, 90 ),
        new THREE.Vector2( -21, 103 ),
        new THREE.Vector2( -50, 103 ),
        new THREE.Vector2( -70, 90 ),
      ] );
      let curve6 = new THREE.SplineCurve( [
        new THREE.Vector2( -220, 91 ),
        new THREE.Vector2( -231, 70 ),
        new THREE.Vector2( -237, 50 ),
        new THREE.Vector2( -240, 13 ),
      ] );
      let curve7 = new THREE.SplineCurve( [
        new THREE.Vector2( -220, -91 ),
        new THREE.Vector2( -231, -70 ),
        new THREE.Vector2( -237, -50 ),
        new THREE.Vector2( -240, -13 ),
      ] );
      let curve8 = new THREE.SplineCurve( [
        new THREE.Vector2( 0, 90 ),
        new THREE.Vector2( -23, 103 ),
        new THREE.Vector2( -48, 103 ),
        new THREE.Vector2( -68, 90 ),
      ] );

      var points1 = curve.getPoints( 50 );
      var points2 = curve2.getPoints( 50 );
      var points3 = curve3.getPoints( 50 );
      var points4 = curve4.getPoints( 50 );
      var points5 = curve5.getPoints( 50 );
      var points6 = curve6.getPoints( 50 );
      var points7 = curve7.getPoints( 50 );
      var points8 = curve8.getPoints( 50 );

      var Cgeometry1 = new THREE.BufferGeometry().setFromPoints( points1 );
      var Cgeometry2 = new THREE.BufferGeometry().setFromPoints( points2 );
      var Cgeometry3 = new THREE.BufferGeometry().setFromPoints( points3 );
      var Cgeometry4 = new THREE.BufferGeometry().setFromPoints( points4 );
      var Cgeometry5 = new THREE.BufferGeometry().setFromPoints( points5 );
      var Cgeometry6 = new THREE.BufferGeometry().setFromPoints( points6 );
      var Cgeometry7 = new THREE.BufferGeometry().setFromPoints( points7 );
      var Cgeometry8 = new THREE.BufferGeometry().setFromPoints( points8 );

      this.plane1 = new THREE.Line( Cgeometry1, material322 );
      this.plane2 = new THREE.Line( Cgeometry2, material322 );
      this.plane3 = new THREE.Line( Cgeometry3, material322 );
      this.plane4 = new THREE.Line( Cgeometry4, material322 );
      this.plane5 = new THREE.Line( Cgeometry5, material322 );
      this.plane6 = new THREE.Line( Cgeometry6, material322 );
      this.plane7 = new THREE.Line( Cgeometry7, material322 );
      this.plane8 = new THREE.Line( Cgeometry8, material322 );

      var resolution = new THREE.Vector2( this.width, this.height );

      let line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -45, 103.5, -7 ) );
      line.vertices.push( new THREE.Vector3( -35, 140, 0 ) );
      let g2 = new MeshLine();
      g2.setGeometry( line );
      let materialLine = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .001,
      });
      
      this.supLine = new THREE.Mesh( g2.geometry, materialLine );
      
      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -220, 162, -68 ) );
      line.vertices.push( new THREE.Vector3( -150, 162, -68 ) );
      let g3 = new MeshLine();
      g3.setGeometry( line );

      let materialLine2 = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .003,
      });

      let materialLine3 = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .003,
      });

      let materialLine4 = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0xA0A0A0 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .003,
      });
      
      this.plane9 = new THREE.Mesh( g3.geometry, materialLine2 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 0, 91.5, 0 ) );
      line.vertices.push( new THREE.Vector3( -70, 91.5, 0 ) );
      let gs3 = new MeshLine();
      gs3.setGeometry( line );
      
      this.supLine3 = new THREE.Mesh( gs3.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -185, 177.5, -68 ) );
      line.vertices.push( new THREE.Vector3(-155, 200, -68 ) );
      let g4 = new MeshLine();
      g4.setGeometry( line );
      
      this.supLine2 = new THREE.Mesh( g4.geometry, materialLine );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -220, 90, -70 ) );
      line.vertices.push( new THREE.Vector3( 220, 90, -70 ) );
      let l1 = new MeshLine();
      l1.setGeometry( line );

      this.line1 = new THREE.Mesh( l1.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -220, -90.5, -70 ) );
      line.vertices.push( new THREE.Vector3( 220, -90.5, -70 ) );
      let l2 = new MeshLine();
      l2.setGeometry( line );

      this.line2 = new THREE.Mesh( l2.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 220.5, 90, -70 ) );
      line.vertices.push( new THREE.Vector3( 220.5, -90, -70 ) );
      let l3 = new MeshLine();
      l3.setGeometry( line );

      this.line3 = new THREE.Mesh( l3.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -220.5, 90, -70 ) );
      line.vertices.push( new THREE.Vector3( -220.5, -90, -70 ) );
      let l4 = new MeshLine();
      l4.setGeometry( line );

      this.line4 = new THREE.Mesh( l4.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -70.5, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( -70.5, -90, 0 ) );
      let l5 = new MeshLine();
      l5.setGeometry( line );

      this.lineL = new THREE.Mesh( l5.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 70.5, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( 70.5, -90, 0 ) );
      l5 = new MeshLine();
      l5.setGeometry( line );

      this.lineR = new THREE.Mesh( l5.geometry, materialLine3 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -70.5, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( -70.5, -90, 0 ) );
      let l6 = new MeshLine();
      l6.setGeometry( line );

      this.lineLG = new THREE.Mesh( l6.geometry, materialLine4 );

      line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( 70.5, 90, 0 ) );
      line.vertices.push( new THREE.Vector3( 70.5, -90, 0 ) );
      l6 = new MeshLine();
      l6.setGeometry( line );

      this.lineRG = new THREE.Mesh( l6.geometry, materialLine4 );

      this.plane3.position.set(0, 0, -68)
      this.plane4.position.set(0, 0, -68)
      this.plane5.position.set(0, 0, -7)
      this.plane6.position.set(0, 0, -70)
      this.plane7.position.set(0, 0, -70)
      this.plane8.position.set(-150, 73, -68)

      this.plane1.visible = true
      this.plane2.visible = true
      this.plane3.visible = false
      this.plane4.visible = false
      this.plane5.visible = true
      this.plane6.visible = false
      this.plane7.visible = false
      this.plane8.visible = false
      this.plane9.visible = false
      this.supLine.visible = true
      this.supLine2.visible = false
      this.line1.visible = false
      this.line2.visible = false
      this.line3.visible = false
      this.line4.visible = false
      this.lineLG.visible = false
      this.lineRG.visible = false
      this.animWork = false

      this.scene.add(
        this.plane1,
        this.plane2,
        this.plane3,
        this.plane4,
        this.plane5,
        this.plane6,
        this.plane7,
        this.plane8,
        this.plane9,
        this.supLine,
        this.supLine2,
        this.line1,
        this.line2,
        this.line3,
        this.line4,
        this.lineL,
        this.lineR,
        this.lineLG,
        this.lineRG,
        this.supLine3,
      );

      // ADD BODY CYLINDER
      //var geometry1 = new THREE.PlaneBufferGeometry( 140 * Math.PI, 180, 31, 1 );
      var geometry1 = new THREE.CylinderGeometry( 70, 70, 180, 32, 1, true, 0, 6.28);
      var material1 = new THREE.MeshBasicMaterial( this.getMaterial() );
      this.mashBody = new THREE.Mesh( geometry1, material1 );
      this.mashBody.position.set(0, 0, 0)

      this.animLineTop = new THREE.Line( this.curveConstr(this.mashBody.geometry.vertices, true), new THREE.LineBasicMaterial( { color : 0x000000, depthTest: true } ) );
      this.animLineBot = new THREE.Line( this.curveConstr(this.mashBody.geometry.vertices, false), new THREE.LineBasicMaterial( { color : 0x000000 } ) );
      this.animLineTop.visible = false
      this.animLineBot.visible = false

      this.lineBodyGeometry = new THREE.EdgesGeometry( this.mashBody.geometry );

      this.lineBody = new THREE.LineSegments( this.lineBodyGeometry, p2_edge_material5 );
      this.lineBody.position.set(0, 0, 0)
      this.lineBody.visible = false


      this.scene.add( 
        this.topCircle,
        this.botCircle,
        this.topLineScene,
        this.botLineScene,
        this.mashBody,
        this.lineBody,
        this.lineBodyOb,
        this.animLineTop,
        this.animLineBot,
      );

      //Alphabets
      this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
      this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide, transparent:true,opacity: 0});
      this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
      this.text_B = this.text_A.clone();
      this.text_C = this.text_A.clone();
      this.text_D = this.text_A.clone();
      this.text_E = this.text_A.clone();
      this.text_F = this.text_A.clone();

      this.text_A.renderOrder =
      this.text_B.renderOrder =
      this.text_C.renderOrder =
      this.text_D.renderOrder =
      this.text_E.renderOrder =
      this.text_F.renderOrder = 200

      this.text_A.position.set(-243,0, -70);
      this.text_B.position.set(-30, 130, -71);
      this.text_C.position.set(-20, 68 , -71);
      this.text_D.position.set(-95, -18,-70);
      this.text_E.position.set(25, 68 , -71);
      this.text_F.position.set(-140, 210, -71);

      var a = document.createElement( 'div' );
      a.className = 'label';
      a.id = 'A';
      a.textContent = '8 cm';
      a.style.fontSize = '30px';
      var aLabel = new CSS2DObject( a );
      this.text_A.add( aLabel );

      var b = document.createElement( 'div' );
      b.className = 'label';
      b.textContent = '3 cm';
      b.style.fontSize = '30px';
      var bLabel = new CSS2DObject( b );
      this.text_B.add( bLabel );

      var c = document.createElement( 'div' );
      c.className = 'label labelBlock';
      c.textContent = "";
      c.style.fontSize = '30px';
      var cLabel = new CSS2DObject( c );
      this.text_C.add( cLabel );

      var d = document.createElement( 'div' );
      d.className = 'label';
      d.textContent = "8 cm";
      d.style.fontSize = '30px';
      var dLabel = new CSS2DObject( d );
      this.text_D.add( dLabel );

      var e = document.createElement( 'div' );
      e.className = 'label';
      e.textContent = "cm";
      e.style.fontSize = '30px';
      var eLabel = new CSS2DObject( e );
      this.text_E.add( eLabel );

      var f = document.createElement( 'div' );
      f.className = 'label';
      f.textContent = "3 cm";
      f.style.fontSize = '30px';
      var fLabel = new CSS2DObject( f );
      this.text_F.add( fLabel );

      this.scene.add(
        this.text_A,
        this.text_B,
        this.text_C,
        this.text_D,
        this.text_E,
        this.text_F,
      )

      this.addDragControl()
      this.topCircleSphere.visible = false
      this.botCircleSphere.visible = false
      this.topCircleSphereBlack.visible = true
      this.botCircleSphereBlack.visible = false
      this.isDragActive = false
      this.clicked = false
      this.text_A.children[0].visible = false
      this.text_C.children[0].visible = false
      this.text_B.children[0].visible = true
      this.text_D.children[0].visible = true
      this.text_E.children[0].visible = false
      this.text_F.children[0].visible = false
      this.topLineScene.visible = false
      this.botLineScene.visible = false
      this.onDragControl()
      this.counter = 1
      this.arrVertices.length = 0
      this.startXt = 0
      this.finishXt = 32
      this.startXb = 33
      this.finishXb = 65
      this.maxR = 70
      this.maxL = -70
      this.maxZ = 20

      this.$nextTick(() => {
        // this.canvas = document.getElementById('three_view');
        // this.canvas.addEventListener(this.mouseDown, this.startRotate);
        // this.canvas.addEventListener(this.mouseMove, this.onRotate);
        // this.canvas.addEventListener(this.mouseUp, this.endRotate);
        // window.addEventListener(this.mouseUp, this.endRotate);

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });
      })
    },
    onDragControl() {
      this.dragControl.forEach(el => {
        el.enabled = this.isDragActive
        el.transformGroup = true
      })
    },
    curveConstr(arr, top) {
      let newArr = []
      if (top) {
        for (let i = 0; i < 33; i++) {
          newArr.push(arr[i])
        }
      } else {
        for (let i = 33; i < 66; i++) {
          newArr.push(arr[i])
        }
      }
      const curve = new THREE.CatmullRomCurve3( newArr );

      const points = curve.getPoints( 50 );
      const geometry = new THREE.BufferGeometry().setFromPoints( points );
      return geometry
    },
    animCilinderFun(ob, index) {
      let z = ob.geometry.vertices[index].z
      let x = ob.geometry.vertices[index].x
      z -= 4.375
      if (x >= 0) {
        x += 6.875
      } else {
        x -= 6.875
      }
      if (z < -66) {
        z = -70
        ob.geometry.vertices[index].z = z
      } else {
        ob.geometry.vertices[index].z = z
      }
      if (x > 220) {
        x = 220
        ob.geometry.vertices[index].x = x
      } else if (x < -220) {
        x = -220
        ob.geometry.vertices[index].x = x
      } else {
        ob.geometry.vertices[index].x = x
      }
      if (x > this.maxR) {
        this.maxR = x
      }
      if (x < this.maxL) {
        this.maxL = x
      }
    },
    animCilinder() {
      this.counter++
      if (this.open) {
        if (this.startXt != 16) {
          this.arrVertices.push(this.startXt)
          this.arrVertices.push(this.finishXt)
          this.arrVertices.push(this.startXb)
          this.arrVertices.push(this.finishXb)
          this.arrVertices.sort()
          this.startXt++
          this.finishXt--
          this.startXb++
          this.finishXb--
        } else if (this.counter == 0) {
          this.arrVertices.push(this.startXt)
          this.arrVertices.push(this.finishXt)
          this.arrVertices.push(this.startXb)
          this.arrVertices.push(this.finishXb)
          this.arrVertices.sort()
          this.startXt++
          this.finishXt--
          this.startXb++
          this.finishXb--
        }
        this.arrVertices.forEach((el) => {
          this.animCilinderFun(this.mashBody, el)
        })
        this.mashBody.geometry.verticesNeedUpdate = true

        this.lineBodyGeometry = new THREE.EdgesGeometry( this.mashBody.geometry );

        let lineGeometry = this.curveConstr(this.mashBody.geometry.vertices, true)
        this.animLineTop.geometry = lineGeometry
        this.animLineTop.verticesNeedUpdate = true
        lineGeometry = this.curveConstr(this.mashBody.geometry.vertices, false)
        this.animLineBot.geometry = lineGeometry
        this.animLineBot.verticesNeedUpdate = true

        let line = new THREE.Geometry();
        line.vertices.push( this.mashBody.geometry.vertices[0] );
        line.vertices.push( this.mashBody.geometry.vertices[33] );
        let g = new MeshLine();
        g.setGeometry( line );

        this.lineL.geometry = g.geometry
        this.lineL.position.z = 5
        this.lineL.verticesNeedUpdate = true

        line = new THREE.Geometry();
        line.vertices.push( this.mashBody.geometry.vertices[32] );
        line.vertices.push( this.mashBody.geometry.vertices[65] );
        g = new MeshLine();
        g.setGeometry( line );

        this.lineR.geometry = g.geometry
        this.lineR.position.z = 5
        this.lineR.verticesNeedUpdate = true


        if (this.counter > 8) {
          this.maxZ = this.maxZ - 3.75

          if (this.maxZ < -70) {
            this.maxZ = -70
          }

          line = new THREE.Geometry();

          line.vertices.push( new THREE.Vector3( this.maxL, 90, this.maxZ ) );
          line.vertices.push( new THREE.Vector3( this.maxL, -90, this.maxZ ) );

          g = new MeshLine();
          g.setGeometry( line );

          this.lineLG.geometry = g.geometry
          this.lineLG.position.z = 5
          this.lineLG.verticesNeedUpdate = true

          line = new THREE.Geometry();
          line.vertices.push( new THREE.Vector3( this.maxR, 90, this.maxZ ) );
          line.vertices.push( new THREE.Vector3( this.maxR, -90, this.maxZ ) );

          g = new MeshLine();
          g.setGeometry( line );

          this.lineRG.geometry = g.geometry
          this.lineRG.verticesNeedUpdate = true
        }

        if (this.botCircle.rotation.y >= Math.PI) {
          this.topCircle.rotation.set(Math.PI, 2*Math.PI, 0)
          this.botCircle.rotation.set(-Math.PI, Math.PI, Math.PI)
          this.animCenter()
        } else {
          this.topCircle.rotation.set(Math.PI, this.topCircle.rotation.y + (Math.PI / 31), 0)
          this.botCircle.rotation.set(-Math.PI, this.botCircle.rotation.y + (Math.PI / 31), Math.PI)
        }

        this.topCircle.position.set(
          this.mashBody.geometry.vertices[32].x,
          91,
          this.mashBody.geometry.vertices[32].z
        )

        this.botCircle.position.set(
          this.mashBody.geometry.vertices[32].x,
          -91,
          this.mashBody.geometry.vertices[32].z
        )

        this.lineBody.geometry = this.lineBodyGeometry
        this.lineBody.geometry.buffersNeedUpdate = true;
      }
    },
    animCenter() {
      if (this.animCenterOn) {
        this.animCenterOn = false
        this.topCircleSphere.visible = true
        this.botCircleSphere.visible = true
        this.topCircleSphereBlack.visible = true
        this.botCircleSphereBlack.visible = true
        this.text_A.children[0].visible = true
        this.text_C.children[0].visible = true
        this.text_E.children[0].visible = true
        this.text_F.children[0].visible = true
        this.topLineScene.visible = true
        this.botLineScene.visible = true
        this.plane3.visible = true
        this.plane4.visible = true
        this.plane6.visible = true
        this.plane7.visible = true
        this.plane8.visible = true
        this.plane9.visible = true
        this.supLine2.visible = true
        this.line1.visible = true
        this.line2.visible = true
        this.line3.visible = true
        this.line4.visible = true
        this.animCenterOn = false
        this.isDragActive = true
        this.onDragControl()
        this.topCircleSphere.visible = true
        this.botCircleSphere.visible = true
        this.topCircleSphereBlack.visible = true
        this.botCircleSphereBlack.visible = true
        this.text_A.children[0].visible = true
        this.text_C.children[0].visible = true
        this.text_E.children[0].visible = true
        this.text_E.children[0].visible = true
        this.topLineScene.visible = true
        this.botLineScene.visible = true
        this.plane3.visible = true
        this.plane4.visible = true
        this.plane6.visible = true
        this.plane7.visible = true
        this.lineL.visible = false
        this.lineR.visible = false
        this.animLineTop.visible = false
        this.animLineBot.visible = false
        this.lineLG.visible = false
        this.lineRG.visible = false
        this.scene.rotation.x = 0;
        this.animWork = false
      }
    },
    addDragControl() {
      this.dragControl = []
      this.dragControl.push(
        new DragControls([this.topCircle],this.camera,this.labelRenderer.domElement)
      )
      this.dragControl.push(
        new DragControls([this.botCircle],this.camera,this.labelRenderer.domElement)
      )
      this.dragControl.forEach(el => {
        el.enabled = this.isDragActive
        el.transformGroup = true
      })

      this.dragControl[0].addEventListener('dragstart', (event) => {
        this.posNow = event.object.position.x
        this.plane8.visible = false
        this.plane9.visible = false
        this.supLine2.visible = false
        this.text_F.children[0].visible = false
      });

      this.dragControl[1].addEventListener('dragstart', (event) => {
        this.posNow = event.object.position.x
      });

      this.dragControl[0].addEventListener('dragend', () => {
        if (this.open) {
          this.plane8.visible = true
          this.plane9.visible = true
          this.supLine2.visible = true
          this.text_F.children[0].visible = true
        }
      });

      this.dragControl[0].addEventListener ('drag', event => {
        let x = event.object.position.x
        event.object.position.y = 91
        event.object.position.z = -70
        if (x <= -220) {
          event.object.position.x = -220
        }
        if (x >= this.maxRange -220) {
          event.object.position.x = this.maxRange - 220
        }
        let rFactor = event.object.position.x - this.posNow
        this.topCircleLine.rotation.z += (rFactor * (Math.PI / this.maxRange)) * 2
        this.posNow = event.object.position.x
        this.topLineGeometry.attributes.position.array[3] = event.object.position.x
        this.topLine.setPositions(this.topLineGeometry.attributes.position.array);
        this.text_F.position.x = event.object.position.x + 80
        this.plane8.position.x = event.object.position.x + 70
        this.plane9.position.x = event.object.position.x + 220
        this.supLine2.position.x = event.object.position.x + 220
      });
      this.dragControl[1].addEventListener ('drag', event => {
        let x = event.object.position.x
        event.object.position.y = -91
        event.object.position.z = -70
        if (x <= -220) {
          event.object.position.x = -220
        }
        if (x >= this.maxRange - 220) {
          event.object.position.x = this.maxRange - 220
        }
        let rFactor = event.object.position.x - this.posNow
        this.botCircleLine.rotation.z += (rFactor * (Math.PI / this.maxRange)) * 2
        this.posNow = event.object.position.x
        
        this.botLineGeometry.attributes.position.array[3] = event.object.position.x
        this.botLine.setPositions(this.botLineGeometry.attributes.position.array);
      });
    },
    animation() {
      if (this.open) {
        this.animLineTop.visible = true
        this.animLineBot.visible = true
        this.text_D.children[0].visible = false
        this.text_B.children[0].visible = false
        this.plane5.visible = false
        this.plane1.visible = false
        this.plane2.visible = false
        this.supLine.visible = false
        this.supLine3.visible = false
        this.lineLG.visible = true
        this.lineRG.visible = true
        let line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -1, 90, 70 ) );
        line.vertices.push( new THREE.Vector3( -1, -90, 70 ) );
        let g = new MeshLine();
        g.setGeometry( line );

        this.lineL.geometry = g.geometry
        this.lineL.verticesNeedUpdate = true

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 1, 90, 70 ) );
        line.vertices.push( new THREE.Vector3( 1, -90, 70 ) );
        g = new MeshLine();
        g.setGeometry( line );

        this.lineR.geometry = g.geometry
        this.lineR.verticesNeedUpdate = true

        if (this.nowRotation < this.maxRotation) {
          this.nowRotation += this.speedOpen
          this.topCircle.rotation.set(this.nowRotation, Math.PI, 0)
          this.botCircle.rotation.set(this.nowRotation * -1, 0, Math.PI)
        } else {
          this.nowRotation = this.maxRotation
          this.topCircle.rotation.set(this.nowRotation, Math.PI, 0)
          this.botCircle.rotation.set(this.nowRotation * -1, 0, Math.PI)
          this.animStart = false
          this.animCenterOn = true
        }
      } else {
        this.topCircleSphere.visible = false
        this.botCircleSphere.visible = false
        this.topCircleSphereBlack.visible = false
        this.botCircleSphereBlack.visible = false
        this.text_A.children[0].visible = false
        this.text_C.children[0].visible = false
        this.text_E.children[0].visible = false
        this.text_B.children[0].visible = true
        this.text_D.children[0].visible = true
        this.isDragActive = false
        this.plane3.visible = false
        this.plane4.visible = false
        this.plane6.visible = false
        this.plane7.visible = false
        this.onDragControl()
        if (this.nowRotation > this.maxRotation) {
          this.nowRotation -= this.speedOpen
          if (this.nowRotation < this.maxRotation) {
            this.nowRotation = this.maxRotation
            this.animStart = false
            this.plane5.visible = true
            this.plane1.visible = true
            this.plane2.visible = true
            this.supLine.visible = true
            this.lineBody.visible = false
          }
          this.topCircle.rotation.set(-Math.PI - this.nowRotation, 0, 0)
          this.botCircle.rotation.set(this.nowRotation, 0, 0)
        } else {
          this.nowRotation = this.maxRotation
          this.topCircle.rotation.set(this.nowRotation, 0, 0)
          this.botCircle.rotation.set(this.nowRotation, 0, 0)
          this.animStart = false
          this.plane5.visible = true
          this.plane1.visible = true
          this.plane2.visible = true
          this.supLine.visible = true
          this.lineBody.visible = false
        }
      }
    },
    render() {
      if (this.animStart) {
        this.animation()
      }
      if (this.animCenterOn && this.animStop) {
        this.animCilinder()
        this.animStop = false
      } else if (!this.animStop) {
        if (this.animcount < 2) {
          this.animStop = false
          this.animcount++
        } else {
          this.animStop = true
          this.animcount = 0
        }
      }
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    //Edge line of the box
    makeLine( geo, scene, resolution, col) {
      var g2 = new MeshLine();
      g2.setGeometry( geo );
      let material = null
      if (col) {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xff0000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      } else {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xe7e6e6 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      }
      
      geo = new THREE.Mesh( g2.geometry, material );
      scene.add( geo );
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'pointerdown';
        //   this.mouseMove = 'pointermove';
        //   this.mouseUp = 'pointerup';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Safari 3.0+ "[object HTMLElementConstructor]"
      var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (isSafari) {
          name = "Safari";
      }
      return name;
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.actions {
  right: 3% !important;
  bottom: 35% !important;
}
::v-deep .label {
  font-weight: 300;
}
::v-deep .labelBlock {
  width: 95px;
  height: 35px;
  background-color: #fff;
  border: 2px solid #009fe8;
}
#button3 {
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}
#button3.active:active {
  background-image: url("../assets/reset-button-dis.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#button3.active{
  background-image: url("../assets/reset-button-dis.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#action3 {
  background-image: url("../assets/2-15/3-1.svg");
}
#action3:active {
  background-image: url("../assets/2-15/3-2.svg");
}
#action3.disabled {
  pointer-events: none;
  background-image: url("../assets/2-15/3-3.svg");
}
</style>
