<template>
  <div>
    <div class="project-wrap" v-bind:class="{'visible-index': !isAnimation1}">
      <div class="project-view">
        <div id="wrapper">
          <canvas id="c"></canvas>
        </div>
      </div>
    </div>
    <div class="white l"></div>
    <div class="white r"></div>
    <video id="video1" class="project-wrap" playsinline :width="rendererWidth" :height="rendererHeight" v-bind:class="{'visible-index': isAnimation1}">
      <source src="../assets/s1-27/s1-27.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video id="video2" class="project-wrap" playsinline :width="rendererWidth" :height="rendererHeight" v-bind:class="{'visible-index': isAnimation2}">
      <source src="../assets/s1-27/s1-27_second_part.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div v-show="isInit" class="preview">
      <img src="../assets/s1-27/poster.jpg" alt="Preview">
    </div>
    <div class="hide"></div>
    <div class="actions">
      <div v-if="isControlsVisible && !isAnimation2" class="move-controls">
        <button class="rotate left" @click="rotateY(false)" v-bind:class="{disabled: isDisabledMoveLeft}"></button>
        <div class="center">
          <button class="rotate up" @click="rotateX(true)" v-bind:class="{disabled: isDisabledMoveUp}"></button>
          <button class="rotate down" @click="rotateX(false)" v-bind:class="{disabled: isDisabledMoveDown}"></button>
        </div>
        <button class="rotate right" @click="rotateY(true)" v-bind:class="{disabled: isDisabledMoveRight}"></button>
      </div>
      <button v-if="isInit" id="action1" @click="startAnimation1()"></button>
      <button v-if="isControlsVisible" id="action2" v-bind:class="{second: isSecondScene, disabled: isDisabledResetAnimation2}" @click="toggleAnimation2()"></button>
      <button v-if="isControlsVisible" v-bind:class="{disabled: isDisabledResetAnimation2}" id="action-reset" @click="reset()"></button>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { CSS2DObject, CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';
// import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { LineGeometry } from 'three/examples/jsm/lines/LineGeometry';
import { Line2 } from 'three/examples/jsm/lines/Line2';

export default {
  name: 's1-27',
  data() {
    return {
      canvas: null,
      // canvas2: null,
      camera: null,
      // camera2: null,
      scene: null,
      // scene2: null,
      renderer: null,
      renderer2: null,
      labelRenderer: null,
      labelRenderer2: null,
      aspectRatio: null,
      orbitControls: null,
      rotateBox: false,
      rotateStart: { x: 0, y: 0 },
      boxSize: 1,
      cord: .5, // boxSize/2
      rendererWidth: 1024,
      rendererHeight: 868,
      isInit: true,
      isAnimation1: true,
      isAnimation2: false,
      isDisabledResetAnimation2: false,
      isSecondScene: false,
      isControlsVisible: false,
      isRotateActive: true,
      pointCoords: null,
      labelCoords: null,
      labelCoordsSecondScreen: {},
      projectionColor: '#9E9E9F',
      moveStep: .262,
      zoom: .41,
      isDisabledMoveUp: false,
      isDisabledMoveDown: false,
      isDisabledMoveLeft: false,
      isDisabledMoveRight: false,
      projectionPoints: {},
      planes: [],
      group: null,
      group2: null,
      group3: null,
      dashesGroup: null,
      lineJG: null,
      figureMeshes: [
        ['A', 'B', 'C'],
        ['D', 'E', 'F'],
        ['A', 'B', 'D'],
        ['B', 'D', 'E'],
        ['B', 'C', 'E'],
        ['C', 'E', 'F'],
        ['A', 'C', 'D'],
        ['C', 'D', 'F']
      ],
    }
  },
  methods: {
    initGeometry() {
      this.initRenderers();
      this.initCameraScene();
      this.addFigure();
      // this.addSecondScreenObjects();
      this.addLabels(this.labelCoordsSecondScreen, false, true);
      // this.addControls(); // remove after testing
      // this.addLabels(this.pointCoords, true); // remove after testing
      // this.startAnimation1(); // remove after testing
      this.resize(); // default zoom
      requestAnimationFrame(this.render); // execute rendering
    },
    startAnimation1() {
      this.isInit = false;
      this.isAnimation1 = true;

      const video1 = document.getElementById('video1');
      video1?.play();
      this.initFigure();

      setTimeout(() => {
        // this.isAnimation1 = false;
        this.isControlsVisible = true;
      }, video1.duration * 1000);
    },
    toggleAnimation2() {
      this.isAnimation2 = !this.isAnimation2;
      const video2 = document.getElementById('video2');
      video2?.pause();
      video2.currentTime = 0;

      if (this.isAnimation2) {
        video2?.play();
        this.isSecondScene = true;
        this.isDisabledResetAnimation2 = true;

        setTimeout(() => {
          this.isDisabledResetAnimation2 = false;
        }, video2.duration * 1000);
      } else {
        // SHOWS THE END OF FIRST ANIMATION WHEN BACK FROM SECOND ANIMATION
        const video1 = document.getElementById('video1');
        video1.currentTime = video1.duration - 1;
        video1.play();
        this.reset(true);
        this.initFigure();
        this.isControlsVisible = true;
        this.isSecondScene = false;
        this.isInit = false;
      }
    },
    initFigure() {
      this.dashesGroup = new THREE.Group();
      this.scene.add(this.dashesGroup);
      this.addPlanes();
      this.addLabel0();
      this.addDashedBottom();
      this.addProjectionBottom();
      this.addLabel1();
      this.addDashedSide();
      this.addProjectionSide();
      this.addDashedAngle();
    },
    initRenderers() {
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      this.renderer.shadowMap.enabled = true;
      this.renderer.shadowMap.type = THREE.PCFSoftShadowMap;
      document.getElementById('wrapper').appendChild(this.renderer?.domElement);

      // this.renderer2.setPixelRatio(window.devicePixelRatio);
      // this.renderer2.setSize(this.rendererWidth, this.rendererHeight);
      // this.renderer2.shadowMap.enabled = true;
      // this.renderer2.shadowMap.type = THREE.PCFSoftShadowMap;
      // document.getElementById('wrapper2').appendChild(this.renderer2?.domElement);

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.rendererWidth, this.rendererHeight);
      this.labelRenderer.domElement.id = 'label-container';
      this.labelRenderer.domElement.className = 'label-container';
      this.labelRenderer.domElement.style.position = 'absolute';
      document.getElementById('wrapper').appendChild(this.labelRenderer?.domElement);

      // this.labelRenderer2 = new CSS2DRenderer();
      // this.labelRenderer2.setSize(this.rendererWidth, this.rendererHeight);
      // this.labelRenderer2.domElement.id = 'label-container';
      // this.labelRenderer2.domElement.className = 'label-container';
      // this.labelRenderer2.domElement.style.position = 'absolute';
      // document.getElementById('wrapper2').appendChild(this.labelRenderer2?.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 250;
      const h = this.canvas.clientHeight / 250;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      };

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );
      this.camera.position.set(0, 0, 5);
      // this.camera2 = this.camera.clone();

      // scenes
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color('#fff');
      this.scene.rotation.set(.314, 2.51, 0);
      // this.scene2 = this.scene.clone();
      // this.scene2.rotation.set(0, 3.14, 0);
      // this.scene2.add(new THREE.AxesHelper(5));
    },
    // addControls() {
    //   this.orbitControls = new OrbitControls(this.camera, this.labelRenderer.domElement);
    //   this.orbitControls.enableZoom = false;
    //   this.orbitControls.enableRotate = true; // default
    //   this.orbitControls.enablePan = false; // default (right click dragging)
    //   this.orbitControls.mouseButtons = {
    //     LEFT: THREE.MOUSE.LEFT,
    //     RIGHT: THREE.MOUSE.LEFT, // default right click rotate
    //     MIDDLE: THREE.MOUSE.MIDDLE
    //   };
    // },
    addLight(posY, posZ, targetPosY, targetPosZ, isSecondScene, planeIndex) {
      const shadowSize = 2048;
      const shadowIntensity = isSecondScene ? .4 : 1;
      const light = new THREE.DirectionalLight('#fff', shadowIntensity);
      light.position.set(0, posY, posZ);
      light.target.position.set(0, targetPosY, targetPosZ);
      light.castShadow = true;
      light.shadow.mapSize.width = shadowSize;
      light.shadow.mapSize.height = shadowSize;

      if (isSecondScene) {
        // const light2 = light.clone(); // makes shadow gray
        // light2.castShadow = false;
        // light2.intensity = 1 - shadowIntensity;

        // this.scene2.add(light.target);
        // this.scene2.add(light);
        // this.scene2.add(light2);
        // this.scene2.add(new THREE.CameraHelper(light.shadow.camera));
      } else {
        this.scene.add(light.target);
        this.scene.add(light);

        // toggle plane visibility
        const plane = this.planes[planeIndex];
        if (plane) {
          plane.material.opacity = .4;
        }
      }
    },
    addFigure() {
      this.group = new THREE.Group();

      const points = [
        ['A','B'], ['A','C'], ['B','C'], // top
        ['A','D'], ['B','E'], ['C','F'], // middle
        ['D','E'], ['D','F'], ['E','F'], // bottom
      ];
      this.addLines(points, this.group);

      this.addFigureMeshes(.6, this.group);
      this.scene.add(this.group);
    },
    addPlanes() {
      const points = [
        ['G', 'H'], ['H', 'I'], ['I', 'J'], ['J', 'G'], ['J', 'AC'], ['AB', 'G'], // bottom
        ['G', 'K'], ['K', 'L'], ['L', 'H'], // side
        ['Y', 'Z'], ['Z', 'AA'], // angle
      ];
      this.addLines(points);

      this.addPlane(4, 5, -1.57, -2, .5); // bottom
      this.addPlane(4, 4, 3.14, 0, 3); // side
    },
    addPlane(width, height, rotX, posY, posZ, isSecondScene) {
      const planeGeometry = new THREE.PlaneBufferGeometry(width, height);
      const planeMaterial = new THREE.MeshStandardMaterial({ color: '#fff', opacity: isSecondScene ? 1 : 0, transparent: true });
      const plane = new THREE.Mesh(planeGeometry, planeMaterial);
      plane.rotation.set(rotX, plane.rotation.y, plane.rotation.z);
      plane.receiveShadow = true;
      plane.position.y = posY;
      plane.position.z = posZ;

      if (isSecondScene) {
        // this.scene2.add(plane);
      } else {
        this.scene.add(plane);
        this.planes.push(plane);
      }
    },
    // addSecondScreenObjects() {
    //   this.group2 = new THREE.Group();
    //   this.group3 = new THREE.Group();
    //
    //   [this.group2, this.group3].forEach(i => {
    //     this.addFigureMeshes(0, i);
    //     // this.scene2.add(i);
    //   });
    //
    //   this.group2.position.y = 1.8;
    //   this.group3.position.y = -2.3;
    //   this.group3.rotation.x = -1.57; // default rotation for bottom figure on second screen
    //
    //   this.addPlane(4, 9, 3.14, 0, 3, true);
    //   this.addLight(0, -3, 0, 0, true);
    //   // const points = [{ x: -2, y: -.5, z: 0 }, { x: 2, y: -.5, z: 0 }];
    //   // this.addLine(points, this.scene2);
    // },
    addLines(points, group) {
      points.forEach(i => this.addLine(i.map(point => this.pointCoords[point]), group, i.toString()));
    },
    addLine(points, group, key) {
      const material = this.lineMaterial({ color: '#000', linewidth: 4 });
      const buffer = new THREE.BufferGeometry().setFromPoints(points);
      const segments = new LineSegmentsGeometry().setPositions(buffer.attributes.position.array);
      const line = new LineSegments2(segments, material);
      if (group) {
        group.add(line);
      } else {
        if (key === 'J,G') {
          this.lineJG = line;
        }
        this.scene.add(line);
      }
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    addFigureMeshes(opacity, group) {
      this.figureMeshes?.forEach(i => this.addMesh(i.map(point => this.pointCoords[point]), '#EAF5FC', opacity, group));
    },
    addMesh(points, color, opacity, group) {
      const indent = .01;
      const addIndent = number => number + (number > 0 ? -indent : number < 0 ? indent : 0);
      const geometry = new THREE.Geometry();
      points.forEach(point => geometry.vertices.push(new THREE.Vector3(addIndent(point.x), addIndent(point.y), addIndent(point.z))));
      geometry.faces.push(new THREE.Face3(0, 1, 2));
      geometry.computeFaceNormals();
      const material = new THREE.MeshBasicMaterial({ side: THREE.DoubleSide, transparent: true, opacity, color });
      const mesh = new THREE.Mesh(geometry, material);
      mesh.castShadow = true;
      mesh.receiveShadow = false;
      if (group) {
        group.add(mesh);
      } else {
        this.scene.add(mesh);
      }
    },
    addProjectionBottom() {
      this.addLight(3, 0, 0, 0, false, 0);
      this.addLabel(3, this.labelCoords);
      if (this.lineJG) {
        this.lineJG.material.opacity = 0;
        this.lineJG.material.transparent = true;
      }
    },
    addProjectionSide() {
      this.addLight(0, -3, 0, 0, false, 1);
      this.addLabel(2, this.labelCoords);
    },
    addLabels(source, isPoint, isSecondScene) {
      Object.keys(source).forEach(i => this.addLabel(i, source, isPoint, isSecondScene));
    },
    addLabel(key, source, isPoint, isSecondScene) {
      const indent = 0.1;
      const addIndent = number => number > 0 ? number + indent : number - indent;
      const labelDiv = document.createElement('div');
      const point = source[key];
      labelDiv.textContent = isPoint ? key : '';
      labelDiv.className = `label label${key}`;
      labelDiv.style.color = '#000';
      const label = new CSS2DObject(labelDiv);
      label.position.set(
        addIndent(point.x),
        addIndent(point.y),
        addIndent(point.z)
      );

      if (isSecondScene) {
        // this.scene2.add(label);
      } else {
        this.scene.add(label);
      }
    },
    addLabel0() {
      [0, 7].forEach(i => this.addLabel(i, this.labelCoords));
    },
    addLabel1() {
      [1, 8].forEach(i => this.addLabel(i, this.labelCoords));
    },
    rotateX(isUp) {
      if ((!this.isDisabledMoveUp && isUp) || (!this.isDisabledMoveDown && !isUp)) {
        this.isAnimation1 = false;
        this.dashesGroup.visible = false;
        const limit = 1.56;
        const { x, y, z } = this.group.rotation;
        const moveX = isUp ? x + this.moveStep : x - this.moveStep;
        this.group.rotation.set(moveX, y, z);
        // this.group2.rotation.set(moveX, y, z);
        // this.group3.rotation.set(moveX - 1.57, y, z); // subtract default rotation X
        this.isDisabledMoveUp = moveX > limit;
        this.isDisabledMoveDown = moveX < -limit;
      }
    },
    rotateY(isRight) {
      if ((!this.isDisabledMoveRight && isRight) || (!this.isDisabledMoveLeft && !isRight)) {
        this.isAnimation1 = false;
        this.dashesGroup.visible = false;
        const { x, y, z } = this.group.rotation;
        const moveY = isRight ? y - this.moveStep : y + this.moveStep;
        this.group.rotation.set(x, moveY, z);
        // this.group2.rotation.set(x, moveY, z);
        // this.group3.rotation.set(x - 1.57, moveY, z); // subtract default rotation X
        this.isDisabledMoveRight = moveY <= -3.14;
        this.isDisabledMoveLeft = moveY >= 3.14;
      }
    },
    resize() {
      this.camera.zoom = this.zoom;
      // this.camera2.zoom = .3;
      this.scene.position.y = 0;
      this.camera.updateProjectionMatrix();
      // this.camera2.updateProjectionMatrix();
    },
    render() {
      requestAnimationFrame(this.render);
      this.renderer?.render(this.scene, this.camera);
      // this.renderer2?.render(this.scene2, this.camera2);
      this.labelRenderer?.render(this.scene, this.camera);
      // this.labelRenderer2?.render(this.scene2, this.camera2);
    },
    reset(isAnimation1) {
      this.destroyer(isAnimation1);
      this.initGeometry();
    },
    destroyer(isAnimation1) {
      this.labels = [];
      this.labelRenderer = null;
      this.group = null;
      this.group2 = null;
      this.group3 = null;
      this.dashesGroup = null;
      this.lineJG = null;
      this.isInit = true;
      this.isAnimation1 = isAnimation1;
      this.isAnimation2 = false;
      this.isControlsVisible = false;
      this.isSecondScene = false;
      this.isDisabledMoveUp = false;
      this.isDisabledMoveDown = false;
      this.isDisabledMoveLeft = false;
      this.isDisabledMoveRight = false;
      const labelContainer = document?.querySelector('#label-container');
      labelContainer?.parentElement?.removeChild(labelContainer);
      // this.animationStack?.forEach(i => clearTimeout(i));
      // this.animationStack = [];
      this.planes = [];
      this.projectionPoints = {};

      if (!isAnimation1) {
        const video1 = document.getElementById('video1');
        video1?.pause();
        video1.currentTime = 0;
      }
    },
    initCoordinates() {
      const halfSize = this.boxSize/2;
      const oneHalfSize = this.boxSize*1.5;
      const doubleSize = this.boxSize*2;
      const tripleSize = this.boxSize*3;
      this.pointCoords = {
        // figure
        A: { x: 0, y: oneHalfSize, z: this.boxSize },
        B: { x: -this.boxSize, y: oneHalfSize, z: -halfSize },
        C: { x: this.boxSize, y: oneHalfSize, z: -halfSize },
        D: { x: 0, y: -oneHalfSize, z: this.boxSize },
        E: { x: -this.boxSize, y: -oneHalfSize, z: -halfSize },
        F: { x: this.boxSize, y: -oneHalfSize, z: -halfSize },
        // flat bottom
        G: { x: -doubleSize, y: -doubleSize, z: tripleSize },
        H: { x: doubleSize, y: -doubleSize, z: tripleSize },
        I: { x: doubleSize, y: -doubleSize, z: -doubleSize },
        J: { x: -doubleSize, y: -doubleSize, z: -doubleSize },
        // flat side
        K: { x: -doubleSize, y: doubleSize, z: tripleSize },
        L: { x: doubleSize, y: doubleSize, z: tripleSize },
        // projection bottom
        M: { x: 0, y: -doubleSize, z: this.boxSize },
        N: { x: -this.boxSize, y: -doubleSize, z: -halfSize },
        O: { x: this.boxSize, y: -doubleSize, z: -halfSize },
        // projection side
        P: { x: this.boxSize, y: oneHalfSize, z: tripleSize },
        Q: { x: -this.boxSize, y: oneHalfSize, z: tripleSize },
        R: { x: -this.boxSize, y: -oneHalfSize, z: tripleSize },
        S: { x: this.boxSize, y: -oneHalfSize, z: tripleSize },
        // additional
        T: { x: 0, y: oneHalfSize, z: tripleSize },
        U: { x: 0, y: -oneHalfSize, z: tripleSize },
        V: { x: this.boxSize, y: -doubleSize, z: tripleSize },
        W: { x: 0, y: -doubleSize, z: tripleSize },
        X: { x: -this.boxSize, y: -doubleSize, z: tripleSize },
        // angle
        Y: { x: -doubleSize, y: -1.8, z: tripleSize },
        Z: { x: -doubleSize, y: -1.8, z: 2.8 },
        AA: { x: -doubleSize, y: -doubleSize, z: 2.8 },
        // space JG
        AB: { x: -doubleSize, y: -doubleSize, z: this.boxSize },
        AC: { x: -doubleSize, y: -doubleSize, z: -halfSize },
      };

      this.labelCoords = {
        0: { x: 0, y: 3.4, z: 0 }, // top
        1: { x: 0, y: -doubleSize, z: -tripleSize }, // bottom
        2: { x: -1.3, y: 0, z: tripleSize }, // flat side
        3: { x: -1.55, y: -1.95, z: .3 }, // flat bottom
        7: { x: 0, y: 2.8, z: 0 }, // arrow top
        8: { x: .5, y: -doubleSize, z: -oneHalfSize }, // arrow bottom
      };

      this.labelCoordsSecondScreen = {
        4: { x: 0, y: 4, z: 3 },
        5: { x: 1.5, y: 2, z: 3 },
        6: { x: 1.5, y: -2, z: 3 }
      }
    },
    addDashedBottom() {
      const points = [
        ['D', 'M'], ['E', 'N'], ['F', 'O']
      ];
      this.addDashedLines(points, this.dashesGroup);
    },
    addDashedSide() {
      const points = [
        ['A', 'T'], ['B', 'Q'], ['C', 'P'],
        ['D', 'U'], ['E', 'R'], ['F', 'S']
      ];
      this.addDashedLines(points, this.dashesGroup);
    },
    addDashedAngle() {
      const points = [
        ['M', 'W'], ['N', 'X'], ['O', 'V'],
        ['S', 'V'], ['T', 'W'], ['R', 'X']
      ];
      this.addDashedLines(points, this.dashesGroup);
    },
    addDashedLines(points, group) {
      points.forEach(point => this.addDashedLine(point?.map(j => Object.values(this.pointCoords[j]))?.flat(1), group));
    },
    addDashedLine(positions, group) {
      const geometry = new LineGeometry();
      geometry.setPositions(positions);
      const line = new Line2(geometry, this.lineDashedMaterial());
      line.computeLineDistances();
      if (group) {
        group.add(line);
      } else {
        this.scene.add(line);
      }
    },
    lineDashedMaterial() {
      const material = new LineMaterial({
        color: 0x000000,
        linewidth: .002,
        dashSize: .05,
        gapSize: .05,
        depthTest: false,
      });
      material.defines.USE_DASH = '';
      material.needsUpdate = true;
      return material;
    },
  },
  beforeMount() {
    this.initCoordinates();
  },
  mounted() {
    this.canvas = document.getElementById('c');
    // this.canvas2 = document.getElementById('c2');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    // this.renderer2 = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas2 });
    this.initGeometry();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
.move-controls {
  align-items: center;
}
.move-controls > button, .center > button {
  width: 100px;
  min-width: 100px;
}
.up {
  background-image: url("../assets/s1-27/button up-1.svg");
}
.up:active {
  background-image: url("../assets/s1-27/button up-2.svg");
}
.up.disabled {
  background-image: url("../assets/s1-27/up.svg");
}
.down {
  background-image: url("../assets/s1-27/button down-1.svg");
}
.down:active {
  background-image: url("../assets/s1-27/button down-2.svg");
}
.down.disabled {
  background-image: url("../assets/s1-27/down.svg");
}
.right {
  background-image: url("../assets/s1-27/button right-1.svg");
}
.right:active {
  background-image: url("../assets/s1-27/button right-2.svg");
}
.right.disabled {
  background-image: url("../assets/s1-27/right.svg");
}
.left {
  background-image: url("../assets/s1-27/button left-1.svg");
}
.left:active {
  background-image: url("../assets/s1-27/button left-2.svg");
}
.left.disabled {
  background-image: url("../assets/s1-27/left.svg");
}
#action1 {
  background-image: url("../assets/s1-27/2-1.svg");
}
#action1:active {
  background-image: url("../assets/s1-27/2-2.svg");
}
#action2 {
  background-image: url("../assets/s1-27/6-1.svg");
}
#action2:active {
  background-image: url("../assets/s1-27/6-2.svg");
}
#action2.disabled {
  background-image: url("../assets/s1-27/1-7.svg");
}
#action2.second {
  background-image: url("../assets/s1-27/3_1.svg");
}
#action2.second.disabled {
  background-image: url("../assets/s1-27/123.svg");
}
#action2.second:active {
  background-image: url("../assets/s1-27/8-2.svg");
}
::v-deep .label {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 50px;
}
::v-deep .label2, ::v-deep .label5, ::v-deep .label6 {
  width: 50px;
  height: 130px;
}
::v-deep .label0 {
  background-image: url("../assets/s1-27/1.svg");
}
::v-deep .label1 {
  background-image: url("../assets/s1-27/2.svg");
}
::v-deep .label2, ::v-deep .label5 {
  background-image: url("../assets/s1-27/3.svg");
}
::v-deep .label3 {
  background-image: url("../assets/s1-27/4.svg");
}
::v-deep .label4 {
  background-image: url("../assets/s1-27/5.svg");
}
::v-deep .label6 {
  background-image: url("../assets/s1-27/4-2.svg");
}
::v-deep .label7 {
  background-image: url("../assets/s1-27/arrow-up.svg");
}
::v-deep .label8 {
  background-image: url("../assets/s1-27/arrow-down.svg");
}
.white {
  width: 500px;
  height: 100%;
  background-color: #fff;
  z-index: 12;
  position: absolute;
  top: 0;
}
.white.l {
  left: -350px;
}
.white.r {
  right: -350px;
}
</style>
