<template>
    <div>
      <div class="project-wrap">
        <div class="project-view">
          <div id="three_view"></div>
        </div>
      </div>
      <div class="actions">
        <button id="button2" @click="button2()" :class="button2Class"></button>
        <button id="button3" @click="init()"></button>
      </div>
    </div>
</template>


<script>
  import * as THREE from 'three'
  import $ from 'jquery'
  import { MeshLine } from '../assets/js/THREE.MeshLine.js'
  import { MeshLineMaterial } from 'three.meshline'
  import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';

  export default {
    name: "s1-20",
    data () {
      return {
        //base
        renderer: null,
        labelRenderer: null,
        scene: null,
        camera: null,
        light: null,
        box: null,
        edge: null,
        line: null,
        controls: null,
        canvas: null,
        mainOb: null,
        //face
        plane1: null,
        plane2: null,
        plane3: null,
        plane4: null,
        plane5: null,
        plane6: null,
        //line
        line_top1: null,
        line_top2: null,
        line_top3: null,
        line_top4: null,
        line_middle1: null,
        line_middle2: null,
        line_middle3: null,
        line_middle4: null,
        line_bottom1: null,
        line_bottom2: null,
        line_bottom3: null,
        line_bottom4: null,
        //bline
        bline_top1: null,
        bline_top2: null,
        bline_top3: null,
        bline_top4: null,
        bline_middle1: null,
        bline_middle2: null,
        bline_middle3: null,
        bline_middle4: null,
        bline_bottom1: null,
        bline_bottom2: null,
        bline_bottom3: null,
        bline_bottom4: null,
        //Alphabets
        textGeometry: null,
        textMaterial: null,
        text_A: null,
        text_B: null,
        text_C: null,
        text_D: null,
        text_E: null,
        text_F: null,
        text_G: null,
        text_H: null,
        //each settings
        p_geometry: null,
        p_geometry2: null,
        p_material: null,
        l_hol_geometry: null,
        l_ver_geometry: null,
        l_material: null,
        width: 1024,
        height: 768,

        num: 0,
        a: [],
        b: [],
        d: [],
        raycaster: new THREE.Raycaster(),
        mouse: new THREE.Vector2(),
        offset: new THREE.Vector3(),
        intersection: new THREE.Vector3(),
        selectObj: null,
        body: document.getElementsByTagName("body"),
        meshList: [],
        meshList2: [],
        list: [],
        fun: 0,
        rotateBox: false,
        rotateStart: {
          x: 0,
          y: 0,
          z: 0,
        },
        pointerId: null,
        mouseDown: null,
        mouseMove: null,
        mouseUp: null,
        //Detect user click to pick an object or move mouse.
        pick: {
          isPick: false,
          x: null,
          y: null
        },
        bodyWidth: Math.max(window.innerWidth, 1024),
        bodyHeight: Math.max(window.innerHeight, this.height),
        button1Class: "",
        button2Class: "",
        f: null,
        e: null,
        g: null,
      }
    },
    beforeDestroy() {
      this.renderer.clear()
    },
    mounted() {
      this.init()
      this.render()
    },
    created() {
      this.loadFun()
      this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    },
    methods: {
      addTriangleMesh(vertices) {
        const squareGeom = new THREE.Geometry();
        vertices.forEach(i => squareGeom.vertices.push(i))
        squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
        squareGeom.computeFaceNormals();
        const squareMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#FCEDED',
          opacity: .8,
          transparent: true
        });
        const squareMesh = new THREE.Mesh(squareGeom, squareMat);
        this.mainOb.add(squareMesh);
      },
      init() {
        document.getElementById("three_view").innerHTML = '';
        this.renderer.setSize(this.width, this.height, true);
        this.renderer.setPixelRatio(window.devicePixelRatio);
        document.getElementById("three_view").appendChild(this.renderer.domElement);

        this.button1Class = ''
        this.button2Class = ''

        this.labelRenderer = new CSS2DRenderer();
        this.labelRenderer.setSize(this.width, this.height, true);
        this.labelRenderer.domElement.style.position = 'absolute';
        this.labelRenderer.domElement.id = 'text';
        this.labelRenderer.domElement.style.top = '0px';
        document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

        this.scene = new THREE.Scene();
        // this.scene.rotation.x = 0.3;
        // this.scene.rotation.y = -0.2;
        this.scene.position.y = 0;

        this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
        this.camera.translateZ(400);
        this.camera.zoom = 2;
        this.camera.updateProjectionMatrix();

        this.light = new THREE.DirectionalLight( 0xffffff );
        this.scene.add( this.light );

        this.mainOb = new THREE.Group()
        this.mainOb.rotation.set(.3, -.2, 0);

        var resolution = new THREE.Vector2( this.width, this.height );

        const A1 = new THREE.Vector3( 125, 75, -100 );
        const B1 = new THREE.Vector3( -125, -75, -100 );
        const C1 = new THREE.Vector3( 125, -75, 100 );
        const D1 = new THREE.Vector3( 125, -75, -100 );

        this.addTriangleMesh([A1, B1, D1]);
        this.addTriangleMesh([A1, C1, D1]);
        this.addTriangleMesh([A1, C1, B1]);

        let line = new THREE.Geometry();
        line.vertices.push(A1);
        line.vertices.push(B1);
        this.makeLine( line, this.mainOb, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, 75, -100 ) );
        line.vertices.push( new THREE.Vector3( -125, 75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, 75, 100 ) );
        line.vertices.push( new THREE.Vector3( 125, 75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );


        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 125, 75, 100 ) );
        line.vertices.push( new THREE.Vector3( 125, 75, -100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push(C1);
        line.vertices.push(B1);
        this.makeLine( line, this.mainOb, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 125, 75, -100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, 75, -100 ) );
        line.vertices.push( new THREE.Vector3( -125, -75, -100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, 75, 100 ) );
        line.vertices.push( new THREE.Vector3( -125, -75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, 75, -100 ) );
        line.vertices.push( new THREE.Vector3( 125, 75, -100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 125, 75, 100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 125, 75, -100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75,-100 ) );
        this.makeLine( line, this.mainOb, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, -75, -100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75, -100 ) );
        this.makeLine( line, this.mainOb, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, -75, -100 ) );
        line.vertices.push( new THREE.Vector3( -125, -75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -125, -75, 100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75, 100 ) );
        this.makeLine( line, this.mainOb, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 125, -75, 100 ) );
        line.vertices.push( new THREE.Vector3( 125, -75, -100 ) );
        this.makeLine( line, this.mainOb, resolution, true );

        let curve = new THREE.SplineCurve( [
          new THREE.Vector2( -75, 30, 0 ),
          new THREE.Vector2( -25, 22, 0 ),
          new THREE.Vector2( 0, 0, 0 ),
        ] );
        let curve2 = new THREE.SplineCurve( [
          new THREE.Vector2( 75, 30, 0 ),
          new THREE.Vector2( 25, 22, 0 ),
          new THREE.Vector2( 0, 0, 0 ),
        ] );

        let curve12 = new THREE.SplineCurve( [
          new THREE.Vector2( -60, 30, 0 ),
          new THREE.Vector2( -20, 23, 0 ),
          new THREE.Vector2( 0, 0, 0 ),
        ] );
        let curve22 = new THREE.SplineCurve( [
          new THREE.Vector2( 60, 30, 0 ),
          new THREE.Vector2( 20, 23, 0 ),
          new THREE.Vector2( 0, 0, 0 ),
        ] );

        let curve3 = new THREE.SplineCurve( [
          new THREE.Vector3( -100, 30, 0 ),
          new THREE.Vector3( -25, 22, 0 ),
          new THREE.Vector3( 0, 0, 0 ),
        ] );
        let curve4 = new THREE.SplineCurve( [
          new THREE.Vector2( 100, 30, 0 ),
          new THREE.Vector2( 25, 22, 0),
          new THREE.Vector2( 0, 0, 0 ),
        ] );

        var points1 = curve.getPoints( 50 );
        var points2 = curve2.getPoints( 50 );
        var points3 = curve3.getPoints( 50 );
        var points4 = curve4.getPoints( 50 );
        var points5 = curve12.getPoints( 50 );
        var points6 = curve22.getPoints( 50 );
        var geometry1 = new THREE.Geometry().setFromPoints( points1 );
        var geometry2 = new THREE.Geometry().setFromPoints( points2 );
        var geometry3 = new THREE.Geometry().setFromPoints( points3 );
        var geometry4 = new THREE.Geometry().setFromPoints( points4 );
        var geometry5 = new THREE.Geometry().setFromPoints( points5 );
        var geometry6 = new THREE.Geometry().setFromPoints( points6 );


        var material1 = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0x000000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .0025,
        });

        var gmesh1 = new MeshLine();
        var gmesh2 = new MeshLine();
        var gmesh3 = new MeshLine();
        var gmesh4 = new MeshLine();
        var gmesh5 = new MeshLine();
        var gmesh6 = new MeshLine();


        // Create the final object to add to the scene
        gmesh1.setGeometry( geometry5 );
        this.plane1 = new THREE.Mesh( gmesh1.geometry, material1 );
        this.plane1.rotation.set(0,1/4*Math.PI,1/2*Math.PI);
        this.plane1.position.set(-125, 75, 100);
        this.plane1.name = "plane"

        gmesh2.setGeometry( geometry6 );
        this.plane2 = new THREE.Mesh( gmesh2.geometry, material1 );
        this.plane2.rotation.set(0,1/4*Math.PI,1/2*Math.PI);
        this.plane2.position.set(-125, -75, 100);
        this.plane2.name = "plane"

        gmesh3.setGeometry( geometry1 );
        this.plane3 = new THREE.Mesh( gmesh3.geometry, material1 );
        this.plane3.rotation.set(1/2*Math.PI,-1/4*Math.PI,1/2*Math.PI);
        this.plane3.position.set(-125, 75, 100);
        this.plane3.name = "plane"

        gmesh4.setGeometry( geometry2 );
        this.plane4 = new THREE.Mesh( gmesh4.geometry, material1 );
        this.plane4.rotation.set(1/2*Math.PI,-1/4*Math.PI,1/2*Math.PI);
        this.plane4.position.set(-125, 75, -100);
        this.plane4.name = "plane"

        gmesh5.setGeometry( geometry4 );
        this.plane5 = new THREE.Mesh( gmesh5.geometry, material1 );
        this.plane5.rotation.set(1/4*Math.PI * 3,0,0);
        this.plane5.position.set(-125, -75, 100);
        this.plane5.name = "plane"

        gmesh6.setGeometry( geometry3 );
        this.plane6 = new THREE.Mesh( gmesh6.geometry, material1 );
        this.plane6.rotation.set(1/4*Math.PI * 3,0,0);
        this.plane6.position.set(125, -75, 100);
        this.plane6.name = "plane"


        this.mainOb.add(
          this.plane1,
          this.plane2,
          this.plane3,
          this.plane4,
          this.plane5,
          this.plane6,
        );

        //Alphabets
        this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
        this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide,transparent:true,opacity: 0});
        this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
        this.text_B = this.text_A.clone();
        this.text_C = this.text_A.clone();
        this.text_D = this.text_A.clone();
        this.text_E = this.text_A.clone();
        this.text_F = this.text_A.clone();
        this.text_G = this.text_A.clone();

        this.text_A.renderOrder =
        this.text_B.renderOrder =
        this.text_C.renderOrder =
        this.text_D.renderOrder =
        this.text_E.renderOrder =
        this.text_F.renderOrder =
        this.text_G.renderOrder = 200

        this.text_E.name = "plane"
        this.text_F.name = "plane"
        this.text_G.name = "plane"

        this.text_A.position.set(145,90,-110);
        this.text_B.position.set(-135,-75, -110);
        this.text_C.position.set(145, -85,110);
        this.text_D.position.set(145,-75,-110);
        this.text_E.position.set(-145,0,120);
        this.text_F.position.set(-145,95,0);
        this.text_G.position.set(0,-95, 120);

        var a = document.createElement( 'div' );
        a.className = 'label';
        a.id = 'A';
        a.textContent = 'A';
        a.style.fontSize = '52px';
        var aLabel = new CSS2DObject( a );
        this.text_A.add( aLabel );

        var b = document.createElement( 'div' );
        b.className = 'label';
        b.textContent = 'B';
        b.style.fontSize = '52px';
        var bLabel = new CSS2DObject( b );
        this.text_B.add( bLabel );

        var c = document.createElement( 'div' );
        c.className = 'label';
        c.textContent = 'C';
        c.style.fontSize = '52px';
        var cLabel = new CSS2DObject( c );
        this.text_C.add( cLabel );

        var d = document.createElement( 'div' );
        d.className = 'label';
        d.textContent = 'D';
        d.style.fontSize = '52px';
        var dLabel = new CSS2DObject( d );
        this.text_D.add( dLabel );

        this.e = document.createElement( 'div' );
        this.e.className = 'label';
        this.e.textContent = '3cm';
        this.e.style.fontSize = '52px';
        this.e.style.opacity = 0;
        var eLabel = new CSS2DObject( this.e );
        this.text_E.add( eLabel );

        this.f = document.createElement( 'div' );
        this.f.className = 'label';
        this.f.textContent = '4cm';
        this.f.style.fontSize = '52px';
        this.f.style.opacity = 0;
        var fLabel = new CSS2DObject( this.f );
        this.text_F.add( fLabel );

        this.g = document.createElement( 'div' );
        this.g.className = 'label';
        this.g.textContent = '5cm';
        this.g.style.fontSize = '52px';
        this.g.style.opacity = 0;
        var gLabel = new CSS2DObject( this.g );
        this.text_G.add( gLabel );

        this.mainOb.add(
          this.text_A,
          this.text_B,
          this.text_C,
          this.text_D,
          this.text_E,
          this.text_F,
          this.text_G,
        )

        this.scene.add( this.mainOb )

        //gray lines inside box
        var bl_hol_geometry=new THREE.CylinderBufferGeometry( 1.2, 1.2,378, 8,1,false, -0.15,1.78);
        var bl_hol_geometry22=new THREE.CylinderBufferGeometry(1.2, 1.2, 248, 8,1,false, -3,1.28);
        var bl_hol_geometry4=new THREE.CylinderBufferGeometry( 1.2, 1.2, 148, 8,1,false, 1.4,1.85);
        var bl_hol_geometry7=new THREE.CylinderBufferGeometry( 1.2, 1.2, 398, 8,1,false, 1.5,1.28);
        var bl_hol_geometry77=new THREE.CylinderBufferGeometry( 1.2, 1.2, 348, 8,1,false, 1.5,1.78);
        var bl_hol_geometry8=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, 3.1,1.78);
        var bl_material = new THREE.MeshBasicMaterial({color: 0xffffff, side: THREE.FrontSide,transparent:true,opacity: .7});

        this.bline_top2=new THREE.Mesh(bl_hol_geometry,bl_material);
        this.bline_top2.renderOrder=10;
        this.bline_top2.position.set( -25, -25, -100 );
        this.bline_top2.rotation.set(1/2*Math.PI,1/6*Math.PI -.12,1/2*Math.PI);
        this.bline_top2.name="bline_top2";

        this.bline_top4=new THREE.Mesh(bl_hol_geometry22,bl_material);
        this.bline_top4.renderOrder = 40;
        this.bline_top4.position.set( 150, -25, 0 );
        this.bline_top4.rotation.set(-1/3*Math.PI + .125, 0, 0);
        this.bline_top4.name="bline_top4";

        this.bline_middle2=new THREE.Mesh(bl_hol_geometry4,bl_material);
        this.bline_middle2.renderOrder=40;
        this.bline_middle2.position.set( 150, -25, -100 );
        this.bline_middle2.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
        this.bline_middle2.name="bline_middle2";

        this.bline_bottom1=new THREE.Mesh(bl_hol_geometry7,bl_material);
        this.bline_bottom1.renderOrder=40;
        this.bline_bottom1.position.set( -25, -100, 0 );
        this.bline_bottom1.rotation.set(1/2*Math.PI,0,-1/3*Math.PI);
        this.bline_bottom1.name="bline_bottom1";

        this.bline_bottom2=new THREE.Mesh(bl_hol_geometry77,bl_material);
        this.bline_bottom2.renderOrder=40;
        this.bline_bottom2.position.set( -25, -100, -100 );
        this.bline_bottom2.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
        this.bline_bottom2.name="bline_bottom2";

        this.bline_bottom4=new THREE.Mesh(bl_hol_geometry8,bl_material);
        this.bline_bottom4.renderOrder=40;
        this.bline_bottom4.position.set( 150, -100, 0 );
        this.bline_bottom4.rotation.set(1/2*Math.PI,0,0);
        this.bline_bottom4.name="bline_bottom4";

        // this.scene.add(
        //   this.bline_top2,
        //   this.bline_top4,
        //   this.bline_middle2,
        //   this.bline_bottom1,
        //   this.bline_bottom1,
        //   this.bline_bottom2,
        //   this.bline_bottom4
        // )

        this.hideFunc(false)
        this.$nextTick(() => {
          this.canvas = document.getElementById('three_view');
          this.canvas.addEventListener(this.mouseDown, this.startRotate);
          this.canvas.addEventListener(this.mouseMove, this.onRotate);
          this.canvas.addEventListener(this.mouseUp, this.endRotate);
          window.addEventListener(this.mouseUp, this.endRotate);

          //Add rotate box event
          $('#three_view').css('touch-action', 'none');
          $('*').on("contextmenu", function (e) {
              //Disable right click
            e.preventDefault ? e.preventDefault() : (e.returnValue = false);
            return false;
          });

          $('*').on(this.mouseMove, function (e) {
            e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          });

        })
      },
      hideFunc(val) {
        if (val) {
          this.e.style.opacity = 1;
          this.f.style.opacity = 1;
          this.g.style.opacity = 1;
        } else {
          this.e.style.opacity = 0;
          this.f.style.opacity = 0;
          this.g.style.opacity = 0;
        }
        this.mainOb.children.forEach((element) => {
          if (element.name === "plane") {
            element.visible = val
          }
        });
      },
      meshMaterial(color) {
        return new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          transparent: true,
          opacity: .9,
          color
        });
      },
      render() {
        requestAnimationFrame(this.render);
        this.renderer.render(this.scene, this.camera);
        this.labelRenderer.render(this.scene, this.camera);
      },
      //Edge line of the box
      makeLine( geo, scene, resolution, col) {
        var g2 = new MeshLine();
        g2.setGeometry( geo );
        let material = null
        if (col) {
          material = new MeshLineMaterial( {
            useMap: false,
            color: new THREE.Color( 0x000000 ),
            opacity: 1,
            resolution: resolution,
            sizeAttenuation: true,
            lineWidth: .003,
          });
        } else {
          material = new MeshLineMaterial( {
            useMap: false,
            color: new THREE.Color( 0xe7e6e6 ),
            opacity: 1,
            resolution: resolution,
            sizeAttenuation: true,
            lineWidth: .003,
          });
        }
        
        var mesh = new THREE.Mesh( g2.geometry, material );
        scene.add( mesh );
      },
      startRotate(e) {
        if (this.notRightClick(e)) {
            var x, y;
            switch (this.mouseMove) {
                case 'touchmove':
                    x = e.targetTouches[0].clientX;
                    y = e.targetTouches[0].clientY;
                    break;
                case 'pointermove':
                    if (e.isPrimary && this.pointerId === undefined) {
                        this.pointerId = e.pointerId;
                        x = e.pageX;
                        y = e.pageY;
                    } else {
                        x = this.rotateStart.x;
                        y = this.rotateStart.y;
                    }
                    break;
                default:
                    x = e.pageX;
                    y = e.pageY;
                    break;
            }
            this.rotateBox = true;
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      notRightClick(event) {
        if (event.nativeEvent) {
          return event.nativeEvent.which === 1 || !event.nativeEvent.which;
        } else {
          return event.which === 1 || !event.which || event.buttons === 1;
        }
      },
      onRotate(e) {
        if (this.rotateBox && this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.pointerId === this.pointerId) {
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.mainOb.rotation.x += (y - this.rotateStart.y) / 100;
          var degX = Math.abs(this.mainOb.rotation.x % (2 * Math.PI));
          //var degY = Math.abs(this.mainOb.rotation.y % (2 * Math.PI));

          

          if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
            this.mainOb.rotation.y += (x - this.rotateStart.x) / 100;
          else {
            this.mainOb.rotation.y -= (x - this.rotateStart.x) / 100;
          }

          //this.mainOb.rotation.z += (x - this.rotateStart.x) / 100

          // if (degX >= 1.45 && degX <= 1.75 && ((degY >= 1.45 && degY <= 1.75) || (degY >= 4.45 && degY <= 4.75))) {
          //   console.log('1')
          //   this.mainOb.rotation.y += (x - this.rotateStart.x) / 200;
          //   this.mainOb.rotation.x += (x - this.rotateStart.x) / 200;
          //   this.mainOb.rotation.z += (y - this.rotateStart.y) / 100;
          // } else {
          //   this.mainOb.rotation.y += (x - this.rotateStart.x) / 100
          //   this.mainOb.rotation.x += (y - this.rotateStart.y) / 100;
          // }

          // if (degY <= Math.PI / 2 || degY >= Math.PI * 1.5)
          //   this.mainOb.rotation.x += (y - this.rotateStart.y) / 100;
          // else {
          //   this.mainOb.rotation.z -= (y - this.rotateStart.y) / 100;
          // }


          // if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          //   this.scene.rotation.y += (x - this.rotateStart.x) / 100;
          // else if (degY >=  1.55 && degY <= 1.65) {
          //   if (degX <= 1.9 && degX >= 1.3) {
          //     this.scene.rotation.z -= (x - this.rotateStart.x) / 100;
          //   } else if (degX <= 4.8 && degX >= 4.5) {
          //     this.scene.rotation.z += (x - this.rotateStart.x) / 100;
          //   }
          // } else {
          //   this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          // }
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      endRotate(e) {
        if (!this.notRightClick(e)) {
          return false;
        }
        if (this.pointerId === null) {
          this.rotateBox = false;
        } else if (e.pointerId === this.pointerId) {
          this.pointerId = undefined;
          this.rotateBox = false;
        }
      },
      loadFun() {
        if (this.isTouchDevice()) {
          this.mouseDown = 'touchstart';
          this.mouseMove = 'touchmove';
          this.mouseUp = 'touchend';
          // if (this.getBrowserName() === "Safari") {
          //   this.mouseDown = 'touchstart';
          //   this.mouseMove = 'touchmove';
          //   this.mouseUp = 'touchend';
          // } else {
          //   this.mouseDown = 'pointerdown';
          //   this.mouseMove = 'pointermove';
          //   this.mouseUp = 'pointerup';
          // }
        } else {
          this.mouseDown = 'mousedown';
          this.mouseMove = 'mousemove';
          this.mouseUp = 'mouseup';
        }
      },
      // //Check touch device
      isTouchDevice() {
        return 'ontouchstart' in window        // check on most browsers
          || navigator.maxTouchPoints;       // check on IE10/11 and Surface
      },
      //Check Browser
      getBrowserName() {
        // Opera 8.0+
        var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Firefox 1.0+
        var isFirefox = typeof InstallTrigger !== 'undefined';

        // Safari 3.0+ "[object HTMLElementConstructor]"
        var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        // Edge 20+
        var isEdge = !isIE && !!window.StyleMedia;

        // Chrome 1+
        var isChrome = !!window.chrome && !!window.chrome.webstore;

        // Blink engine detection
        //var isBlink = (isChrome || isOpera) && !!window.CSS;

        var name = "Unknown";
        if (isEdge) {
            name = "Edge";
        } else if (isIE) {
            name = "IE"
        } else if (isFirefox) {
            name = "Firefox";
        } else if (isOpera) {
            name = "Opera";
        } else if (isChrome) {
            name = "Chrome";
        } else if (isSafari) {
            name = "Safari";
        }
        return name;
      },
      button2() {
        if (this.button2Class == 'active') {
          this.button2Class = ''
          this.hideFunc(false)
        } else {
          this.button2Class = 'active'
          this.hideFunc(true)
        }
      },
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#button2{
  outline: none;
  display: block;
  background-image: url("../assets/s1-20.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#button2.active{
  background-image: url("../assets/s1-20-hover.svg");
}

#button3{
  outline: none;
  display: block;
  background-image: url("../assets/reset-btn-norm2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

#button3:active{
  background-image: url("../assets/reset-btn-active2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

</style>
