<template>
  <div class="wrappers">
    <div v-if="isCylinder1 || isCylinder2">
      <div id="wrapper1">
        <canvas v-if="isCylinder1 || isCylinder2" id="c1"></canvas>
      </div>

      <div class="move-controls">
        <button class="move-down" @click="changePosition(false)" v-bind:class="{disabled: currentPosition === 6}"></button>
        <button class="move-up" @click="changePosition(true)" v-bind:class="{disabled: currentPosition === 0}"></button>
      </div>
    </div>

    <div v-if="isCone1 || isCone2">
      <div id="wrapper2">
        <canvas v-if="isCone1 || isCone2" id="c2"></canvas>
      </div>

      <div class="move-controls" v-bind:class="{indent: isCylinder2 || isCone2}">
        <button class="move-down" @click="changePosition(false)" v-bind:class="{disabled: currentPosition === 6}"></button>
        <button class="move-up" @click="changePosition(true)" v-bind:class="{disabled: currentPosition === 0}"></button>
      </div>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';

export default {
  name: 's1-21',
  props: {
    // s1-21
    isCylinder1: Boolean,
    isCone1: Boolean,
    // s1-22
    isCylinder2: Boolean,
    isCone2: Boolean,
  },
  data() {
    return {
      canvas: null,
      camera: null,
      scene: null,
      renderer: null,
      lineSegments: null,
      greenLineSegments: null,
      middleCircleSegments: null,
      redPointMesh: null,
      aspectRatio: null,
      orbitControls: null,
      grayLineMat: null,
      grayMiddleCircle: null,
      linewidth: 3,
      radius: .5,
      lineMat: null,
      rendererWidth: 410,
      rendererHeight: 512,
      currentPosition: 2,
      meshColor: '#ecf2ce',
      A: null,
      B: null,
      C: null,
      D: null,
      squareMesh: null
    }
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  methods: {
    initGeometry() {
      this.lineMat = this.lineMaterial({ color: 0x000000, linewidth: this.linewidth });
      this.grayLineMat = this.lineMaterial({ color: 0xffffff, linewidth: this.linewidth + 2, opacity: .8, transparent: true });
      this.initRenderers();
      this.initCameraScene();
      if (this.isCylinder1 || this.isCylinder2) {
        this.addCylinder();
      } else {
        this.addCone();
      }
      this.addMeshRedLine();
      this.addRedPoint();
      this.addGrayCircles();
      this.addControls();
      this.resize(); // default zoom
      window.addEventListener('resize', this.resize);
      requestAnimationFrame(this.render); // execute rendering
    },
    changePosition(isUp) {
      const angleSmall = .134;
      const angleBig = .325;
      if (this.currentPosition < 2) {
        this.scene.rotateZ(isUp ? angleSmall : -angleSmall);
      } else if (this.currentPosition > 2) {
        this.scene.rotateZ(isUp ? angleBig : -angleBig);
      } else {
        this.scene.rotateZ(isUp ? angleSmall : -angleBig);
      }
      this.currentPosition = isUp ? this.currentPosition -= 1 : this.currentPosition += 1;

      const isTop = this.currentPosition === 6;
      if (this.lineSegments) {
        this.lineSegments.visible = !isTop;
        this.redPointMesh.visible = isTop;
      }

      if (this.greenLineSegments) {
        this.greenLineSegments.visible = this.isCylinder1 || this.isCone1 ? isTop : !isTop;
      }

      const isBottom = this.currentPosition === 0;
      if (this.middleCircleSegments) {
        this.middleCircleSegments.visible = !isBottom;
      }
      if (this.grayMiddleCircle) {
        this.grayMiddleCircle.visible = !isBottom;
      }
      // if (this.squareMesh) {
      //   this.squareMesh.visible = !isBottom;
      // }
    },
    resize() {
      // const width = window.innerWidth;
      // if (width < 700 && width >= 500) {
      //   this.camera.zoom = .7;
      // } else if (width < 500 && width >= 400) {
      //   this.camera.zoom = .45;
      // } else if (width < 400 && width >= 300) {
      //   this.camera.zoom = .4;
      // } else if (width < 300) {
      //   this.camera.zoom = .3;
      // } else {
      //   this.camera.zoom = .9;
      // }
      this.camera.zoom = 1;
      this.camera.updateProjectionMatrix();
    },
    reset() {
      this.destroyer();
      this.initGeometry();
    },
    destroyer() {
      this.currentPosition = 2;
    },
    render() {
      requestAnimationFrame(this.render);
      if (this.renderer) {
        this.renderer.render(this.scene, this.camera);
      }
      if (this.labelRenderer) {
        this.labelRenderer.render(this.scene, this.camera);
      }
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    initRenderers() {
      const isLeftSide = this.isCylinder1 || this.isCylinder2;
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      document.getElementById(`wrapper${isLeftSide ? '1' : '2'}`).appendChild(this.renderer.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 300;
      const h = this.canvas.clientHeight / 300;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      }

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );

      this.camera.position.set(3, 2, 5);

      // scene
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xffffff);
      this.scene.rotateY(-1.03); // default positions (Y/Z)
      this.scene.rotateZ(.06);
    },
    addCone() {
      const circleGeom = new THREE.CircleBufferGeometry(this.radius, 32);
      const circleEdgeGeom = new THREE.EdgesGeometry(circleGeom);
      const circleLineGeometry = new LineSegmentsGeometry().setPositions(circleEdgeGeom.attributes.position.array);
      const circleSegments = new LineSegments2(circleLineGeometry, this.lineMat);
      circleSegments.rotateX(1.57); // default position
      circleSegments.position.setY(-this.radius); // default position
      this.scene.add(circleSegments);

      this.A = new THREE.Vector3(0, -this.radius, -this.radius);
      this.B = new THREE.Vector3(0, -this.radius, this.radius);
      this.C = new THREE.Vector3(0, this.radius, 0);

      const lineBuffer = new THREE.BufferGeometry().setFromPoints([this.A, this.C, this.C, this.B]);
      const lineSegments = new LineSegmentsGeometry().setPositions(lineBuffer.attributes.position.array);
      const lineMat = this.lineMaterial({ color: 0x000000, linewidth: 4 });
      this.lineSegments = new LineSegments2(lineSegments, lineMat);
      this.scene.add(this.lineSegments);

      if (this.isCone2) {
        const middleCircleGeom = new THREE.CircleBufferGeometry(this.radius/2, 32);
        const middleCircleEdgeGeom = new THREE.EdgesGeometry(middleCircleGeom);
        const middleCircleLineGeometry = new LineSegmentsGeometry().setPositions(middleCircleEdgeGeom.attributes.position.array);
        this.middleCircleSegments = new LineSegments2(middleCircleLineGeometry, this.lineMat);
        this.middleCircleSegments.rotateX(1.57); // default position
        this.scene.add(this.middleCircleSegments);
      }
    },
    addCylinder() {
      const circleGeom = new THREE.CircleBufferGeometry(this.radius, 32);
      const circleEdgeGeom = new THREE.EdgesGeometry(circleGeom);

      const circleLineGeometry = new LineSegmentsGeometry().setPositions(circleEdgeGeom.attributes.position.array);
      const circleSegments = new LineSegments2(circleLineGeometry, this.lineMat);
      circleSegments.rotateX(1.57); // default position
      circleSegments.position.setY(this.radius);
      this.scene.add(circleSegments);

      const circleSegments2 = new LineSegments2(circleLineGeometry, this.lineMat);
      circleSegments2.rotateX(1.57); // default position
      circleSegments2.position.setY(-this.radius);
      this.scene.add(circleSegments2);

      this.A = new THREE.Vector3(0, -this.radius, -this.radius);
      this.B = new THREE.Vector3(0, this.radius, -this.radius);
      this.C = new THREE.Vector3(0, this.radius, this.radius);
      this.D = new THREE.Vector3(0, -this.radius, this.radius);

      const lineBuffer = new THREE.BufferGeometry().setFromPoints([this.A, this.B, this.C, this.D]);
      const lineSegments = new LineSegmentsGeometry().setPositions(lineBuffer.attributes.position.array);
      const lineMat = this.lineMaterial({ color: 0x000000, linewidth: 6 });
      this.lineSegments = new LineSegments2(lineSegments, lineMat);
      this.scene.add(this.lineSegments);

      if (this.isCylinder2) {
        this.middleCircleSegments = new LineSegments2(circleLineGeometry, this.lineMat);
        this.middleCircleSegments.rotateX(1.57); // default position
        this.scene.add(this.middleCircleSegments);
      }
    },
    addMeshRedLine() {
      const isS121 = this.isCylinder1 || this.isCone1;
      const meshSize = this.radius * 2;
      const narrow = meshSize - .2;
      const x = isS121 ? -.001 : 0;
      const topY = isS121 ? this.radius : meshSize * 1.5;
      const bottomY = isS121 ? -this.radius : 0;
      const A = new THREE.Vector3(x, bottomY, -narrow);
      const B = new THREE.Vector3(x, topY, -narrow);
      const C = new THREE.Vector3(x, topY, narrow);
      const D = new THREE.Vector3(x, bottomY, narrow);

      const squareGeom = new THREE.Geometry();
      squareGeom.vertices.push(A, B, C, D);
      squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
      squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
      squareGeom.computeFaceNormals();
      const squareMat = new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        color: this.meshColor,
        opacity: .7,
        transparent: true
      });
      this.squareMesh = new THREE.Mesh(squareGeom, squareMat);

      // rotate mesh (s1-22)
      if (!isS121) {
        this.squareMesh.rotateZ(1.57);
        this.squareMesh.position.set(.75, 0, 0);
      }
      this.scene.add(this.squareMesh);

      const outside = this.radius*1.5;
      const O = new THREE.Vector3(0, -outside, 0);
      const H = new THREE.Vector3(0, outside, 0);
      const redLineBuffer = new THREE.BufferGeometry().setFromPoints([O, H]);
      const redLineGeometry = new LineSegmentsGeometry().setPositions(redLineBuffer.attributes.position.array);
      const lineMat = this.lineMaterial({ color: 'red', linewidth: this.linewidth });
      const redLineSegments = new LineSegments2(redLineGeometry, lineMat);
      this.scene.add(redLineSegments);

      if (this.isCylinder2 || this.isCone2) {
        const radius = this.isCylinder2 ? this.radius : this.radius/2;
        const circleGeom = new THREE.CircleGeometry(radius, 32);
        const circleMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#ccdf80',
          opacity: .7,
          transparent: true,
        });
        const circleMesh = new THREE.Mesh(circleGeom, circleMat);
        circleMesh.rotateX(1.57); // default position
        circleMesh.position.setY(.002);
        this.scene.add(circleMesh);
      }

      if (this.isCylinder1 || this.isCone1) {
        const squareGeom = new THREE.Geometry();
        if (this.isCylinder1) {
          squareGeom.vertices.push(this.A, this.B, this.C, this.D);
        } else {
          squareGeom.vertices.push(this.A, this.B, this.C);
        }
        squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
        if (this.isCylinder1) {
          squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
        }
        squareGeom.computeFaceNormals();
        const squareMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#ccdf80',
          opacity: .7,
          transparent: true
        });
        const squareMesh = new THREE.Mesh(squareGeom, squareMat);
        squareMesh.position.setX(-.0002)
        this.scene.add(squareMesh);
      }
    },
    addGrayCircles() {
      if (this.isCylinder2 || this.isCone2) {
        const radiusBottom = this.radius-.003;
        const radiusMiddle = this.isCone2 ? radiusBottom/2 : radiusBottom;
        this.addGrayCircle(radiusBottom, -this.radius);
        this.grayMiddleCircle = this.addGrayCircle(radiusMiddle);
      }
    },
    addGrayCircle(radius, positionY) {
      const grayCircleGeom = new THREE.CircleBufferGeometry(radius, 32);
      const grayCircleEdgeGeom = new THREE.EdgesGeometry(grayCircleGeom);
      const grayCircleLineGeometry = new LineSegmentsGeometry().setPositions(grayCircleEdgeGeom.attributes.position.array);
      const grayCircleSegments = new LineSegments2(grayCircleLineGeometry, this.grayLineMat);
      grayCircleSegments.rotateX(1.57); // default position
      if (positionY) {
        grayCircleSegments.position.setY(positionY);
      }
      this.scene.add(grayCircleSegments);
      return grayCircleSegments;
    },
    addRedPoint() {
      const pointGeom = new THREE.SphereGeometry(.02, 32, 32);
      const pointMat = new THREE.MeshBasicMaterial({ color: 'red' });
      this.redPointMesh = new THREE.Mesh(pointGeom, pointMat);
      this.redPointMesh.position.x = 0;
      this.redPointMesh.position.y = 1;
      this.redPointMesh.position.z = 0;
      this.redPointMesh.visible = false;
      this.scene.add(this.redPointMesh)
    },
    addControls() {
      this.orbitControls = new OrbitControls(this.camera, this.renderer.domElement);
      this.orbitControls.enableZoom = false;
      this.orbitControls.enableRotate = false;
      this.orbitControls.enablePan = false; // default (right click dragging)
      this.orbitControls.mouseButtons = {
        LEFT: THREE.MOUSE.LEFT,
        RIGHT: THREE.MOUSE.LEFT, // default right click rotate
        MIDDLE: THREE.MOUSE.MIDDLE
      }
    }
  },
  mounted() {
    const isLeftSide = this.isCylinder1 || this.isCylinder2;
    this.canvas = document.getElementById(isLeftSide ? 'c1' : 'c2');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    this.initGeometry();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
  ::v-deep .move-controls > button {
    background-size: cover;
  }
</style>

<style>
  #app1 > div:first-child {
    display: flex;
    justify-content: center;
  }
</style>
