<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="three_view"></div>
      </div>
    </div>
    <div class="actions">
      <button id="action-reset" @click="init()" ref="resetBtn"></button>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three'
import $ from 'jquery'
import { MeshLine } from '../assets/js/THREE.MeshLine.js'
import { MeshLineMaterial } from 'three.meshline'
import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineGeometry } from "three/examples/jsm/lines/LineGeometry";
import { Line2 } from "three/examples/jsm/lines/Line2";
//import THREEx from 'threex';

export default {
  name: "s1-28",
  data () {
    return {
      //base
      renderer: null,
      labelRenderer: null,
      scene: null,
      camera: null,
      light: null,
      box: null,
      edge: null,
      line: null,
      controls: null,
      canvas: null,
      //face
      cylinder: null,
      cone: null,
      cube: null,
      cone2: null,
      cylinder2: null,
      cone3: null,
      //line
      line_cylinder: null,
      line_cone: null,
      line_cube: null,
      line_cone2: null,
      line_cylinder2: null,
      line_cone3: null,
      line_cone3_top: null,
      line_cylinder_left: null,
      line_cylinder_right: null,
      //Alphabets
      textGeometry: null,
      textMaterial: null,
      text_A: null,
      text_A1: null,
      text_B: null,
      text_B1: null,
      text_C: null,
      text_C1: null,
      text_D: null,
      text_D1: null,
      text_E: null,
      text_E1: null,
      text_F: null,
      text_F1: null,
      //each settings
      p_geometry: null,
      p_geometry2: null,
      p_material: null,
      l_hol_geometry: null,
      l_ver_geometry: null,
      l_material: null,
      width: 1024,
      height: 768,

      num: 0,
      a: [],
      b: [],
      d: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      offset: new THREE.Vector3(),
      intersection: new THREE.Vector3(),
      selectObj: null,
      body: document.getElementsByTagName("body"),
      meshList: [],
      meshList2: [],
      list: [],
      fun: 0,
      rotateBox: false,
      rotateStart1: {
        x: 0,
        y: 0
      },
      rotateStart2: {
        x: 0,
        y: 0
      },
      rotateStart3: {
        x: 0,
        y: 0
      },
      rotateStart4: {
        x: 0,
        y: 0
      },
      rotateStart5: {
        x: 0,
        y: 0
      },
      rotateStart6: {
        x: 0,
        y: 0
      },
      rotateStartOb: null,
      pointerId: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      //Detect user click to pick an object or move mouse.
      pick: {
        isPick: false,
        x: null,
        y: null
      },
      bodyWidth: Math.max(window.innerWidth, 1024),
      bodyHeight: Math.max(window.innerHeight, this.height),
      button1Class: "",
      button2Class: "",
      A: null,
      B: null,
      C: null,
      D: null,
      radius: .5,
      lineMat: null,
      lineSegments: null,
      middleCircleSegments: null,
    }
  },
  mounted() {
    this.init()
    this.render()
  },
  created() {
    this.loadFun()
    this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
  },
  beforeDestroy() {
    this.renderer.clear()
  },
  methods: {
    getMaterial() {
      return {
        color: '#E6D4E7',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
      }
    },
    getMaterial2() {
      return {
        color: '#E6D4E7',
        emissive: '#E6D4E7',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        depthWrite: false,
        side: THREE.FrontSide,

      }
    },
    addTriangleMesh(vertices) {
      const squareGeom = new THREE.Geometry();
      vertices.forEach(i => squareGeom.vertices.push(i))
      squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
      squareGeom.computeFaceNormals();
      const squareMat = new THREE.MeshBasicMaterial({
        color: '#E6D4E7',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        side: THREE.DoubleSide, 
      });
      const squareMesh = new THREE.Mesh(squareGeom, squareMat);
      squareMesh.name = "1"
      return squareMesh
    },
    addSquareMesh(vertices) {
      const squareGeom = new THREE.Geometry();
      vertices.forEach(i => squareGeom.vertices.push(i))
      squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
      squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
      squareGeom.computeFaceNormals();
      
      const squareMat = new THREE.MeshBasicMaterial({
        color: '#E6D4E7',
        transparent: true,
        opacity: .8,
        visible: true,
        depthTest: true,
        side: THREE.DoubleSide, 
      });
      const squareMesh = new THREE.Mesh(squareGeom, squareMat);
      squareMesh.name = "1"
      return squareMesh
    },
    init() {
      document.getElementById("three_view").innerHTML = '';
      
      this.renderer.setSize(this.width, this.height, true);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      document.getElementById("three_view").appendChild(this.renderer.domElement);

      this.button1Class = ''
      this.button2Class = ''

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.width, this.height, true);
      this.labelRenderer.domElement.style.position = 'absolute';
      this.labelRenderer.domElement.id = 'text';
      this.labelRenderer.domElement.style.top = '0px';
      document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

      this.scene = new THREE.Scene();
      this.scene.position.y = 100;

      this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
      this.camera.translateZ(500);
      this.camera.zoom = 1.3;
      this.camera.updateProjectionMatrix();

      // this.light = new THREE.DirectionalLight( 0xffffff );
      // this.scene.add( this.light );



      var geometry = new THREE.CylinderBufferGeometry( 50, 50, 148, 3 );
      var material = new THREE.MeshBasicMaterial( this.getMaterial() );

      //first f

      let cylinder = new THREE.Mesh( geometry, material );
      cylinder.renderOrder = 50;
      cylinder.name = "1"

      var bl_material = new THREE.MeshBasicMaterial({color: 0x000000, side: THREE.FrontSide,transparent:false,opacity: 1});
      // var bl_material1 = new THREE.MeshBasicMaterial({color: 0xff0000, side: THREE.FrontSide,transparent:false,opacity: 1});

      // front lines
      let bline_1 = new THREE.Mesh(this.geometryLine(-.35,150),bl_material);
      bline_1.renderOrder = 100;
      bline_1.position.set( 69, 0, -40 );

      let bline_2 = new THREE.Mesh(this.geometryLine(1.85,150),bl_material);
      bline_2.renderOrder = 100;
      bline_2.position.set( -69, 0, -40 );

      let bline_3 = new THREE.Mesh(this.geometryLine(-1.75,150),bl_material);
      bline_3.renderOrder = 100;
      bline_3.position.set( -19, 0, 20 );

      let bline_t_1 = new THREE.Mesh(this.geometryLine(2.2,78),bl_material);
      bline_t_1.renderOrder = 10;
      bline_t_1.position.set( -45, 75, -10 );
      bline_t_1.rotation.set( 1/2*Math.PI, 0, -.7 );

      let bline_t_2 = new THREE.Mesh(this.geometryLine(.75,108),bl_material);
      bline_t_2.renderOrder = 10;
      bline_t_2.position.set( 25, 75, -10 );
      bline_t_2.rotation.set( 1/2*Math.PI, 0, .98 );

      let bline_t_3 = new THREE.Mesh(this.geometryLine(1.5, 138),bl_material);
      bline_t_3.renderOrder = 10;
      bline_t_3.position.set( 0, 75, -40 );
      bline_t_3.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      let bline_b_1 = new THREE.Mesh(this.geometryLine(2.2,78),bl_material);
      bline_b_1.renderOrder = 10;
      bline_b_1.position.set( -45, -75, -10 );
      bline_b_1.rotation.set( 1/2*Math.PI, 0, -.7 );

      let bline_b_2 = new THREE.Mesh(this.geometryLine(-0.85,108),bl_material);
      bline_b_2.renderOrder = 10;
      bline_b_2.position.set( 25, -75, -10 );
      bline_b_2.rotation.set( 1/2*Math.PI, 0, .98 );

      let bline_b_3 = new THREE.Mesh(this.geometryLine(3.25, 138),bl_material);
      bline_b_3.renderOrder = 10;
      bline_b_3.position.set( 0, -75, -40 );
      bline_b_3.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      const A1 = new THREE.Vector3( 69, 75, -40 );
      const B1 = new THREE.Vector3( -69, 75, -40 );
      const C1 = new THREE.Vector3( -19, 75, 20 );
      const E1 = new THREE.Vector3( 69, -75, -40 );
      const F1 = new THREE.Vector3( -69, -75, -40 );
      const G1 = new THREE.Vector3( -19, -75, 20 );

      let mestTop = this.addTriangleMesh([A1, B1, C1])
      let mestBot = this.addTriangleMesh([E1, F1, G1])

      // Group
      this.cylinder = new THREE.Group()
      this.cylinder.position.set(-250, 100 , 0);
      this.cylinder.rotation.set(.2, 0, 0);

      let meshLeft = this.addSquareMesh([A1, B1, F1, E1]);
      let meshFront1 = this.addSquareMesh([A1, C1, G1, E1]);
      let meshFront2 = this.addSquareMesh([B1, C1, G1, F1]);

      
      this.cylinder.add(mestTop)
      this.cylinder.add(mestBot)
      this.cylinder.add(meshLeft)
      this.cylinder.add(meshFront1)
      this.cylinder.add(meshFront2)
      this.cylinder.add(bline_1)
      this.cylinder.add(bline_2)
      this.cylinder.add(bline_3)
      this.cylinder.add(bline_t_1)
      this.cylinder.add(bline_t_2)
      this.cylinder.add(bline_t_3)
      this.cylinder.add(bline_b_1)
      this.cylinder.add(bline_b_2)
      this.cylinder.add(bline_b_3)

      this.scene.add( this.cylinder );

      //2 f

      let geometry2 = new THREE.ConeBufferGeometry( 80, 150, 3 );
      let cone = new THREE.Mesh( geometry2, material );

      // front lines
      bline_1 = new THREE.Mesh(this.geometryLine(-.35,170),bl_material);
      bline_1.renderOrder = 100;
      bline_1.position.set( 35, 0, -20 );
      bline_1.rotation.set( .26, 0, .42 );

      bline_2 = new THREE.Mesh(this.geometryLine(1.85,170),bl_material);
      bline_2.renderOrder = 100;
      bline_2.position.set( -35, 0, -20 );
      bline_2.rotation.set( .26, 0, -.42 );

      bline_3 = new THREE.Mesh(this.geometryLine(-1.75,170),bl_material);
      bline_3.renderOrder = 100;
      bline_3.position.set( 0, 0, 41 );
      bline_3.rotation.set( -1/6*Math.PI + .03, 0, 0 );

      bline_b_1 = new THREE.Mesh(this.geometryLine(-2.8,140),bl_material);
      bline_b_1.renderOrder = 10;
      bline_b_1.position.set( -35, -75, 20 );
      bline_b_1.rotation.set( 1/2*Math.PI, 0, -1/6*Math.PI );

      bline_b_2 = new THREE.Mesh(this.geometryLine(-0.85,140),bl_material);
      bline_b_2.renderOrder = 10;
      bline_b_2.position.set( 35, -75, 20 );
      bline_b_2.rotation.set( 1/2*Math.PI, 0, 1/6*Math.PI );

      bline_b_3 = new THREE.Mesh(this.geometryLine(3.25, 140),bl_material);
      bline_b_3.renderOrder = 10;
      bline_b_3.position.set( 0, -75, -40 );
      bline_b_3.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      cone.name = "2"

      this.cone = new THREE.Group()
      this.cone.add(cone)
      this.cone.add(bline_1)
      this.cone.add(bline_2)
      this.cone.add(bline_3)
      this.cone.add(bline_b_1)
      this.cone.add(bline_b_2)  
      this.cone.add(bline_b_3)

      this.cone.position.set(250, 100 , 0)
      this.cone.rotation.set(.3, 0.3 , 0)

      this.scene.add( this.cone);

      //3 f

      let geometry3 = new THREE.BoxGeometry( 108, 148, 108 );
      let cube = new THREE.Mesh( geometry3, material );
      cube.name = "3"

      // front lines
      bline_1 = new THREE.Mesh(this.geometryLine(-.30,150),bl_material);
      bline_1.renderOrder = 100;
      bline_1.position.set( 54, 0, -54 );

      bline_2 = new THREE.Mesh(this.geometryLine(.9,150),bl_material);
      bline_2.renderOrder = 100;
      bline_2.position.set( -54, 0, -54 );

      bline_3 = new THREE.Mesh(this.geometryLine(-1.75,150),bl_material);
      bline_3.renderOrder = 100;
      bline_3.position.set( 54, 0, 54 );

      let bline_4 = new THREE.Mesh(this.geometryLine(2.8,150),bl_material);
      bline_4.renderOrder = 100;
      bline_4.position.set( -54, 0, 54 );

      bline_t_1 = new THREE.Mesh(this.geometryLine(1.2,110),bl_material);
      bline_t_1.renderOrder = 10;
      bline_t_1.position.set( -54, 75, 0 );
      bline_t_1.rotation.set( 1/2*Math.PI, 0, 0 );

      bline_t_2 = new THREE.Mesh(this.geometryLine(-.3,110),bl_material);
      bline_t_2.renderOrder = 10;
      bline_t_2.position.set( 54, 75, 0 );
      bline_t_2.rotation.set( 1/2*Math.PI, 0, 0  );

      bline_t_3 = new THREE.Mesh(this.geometryLine(1.5, 110),bl_material);
      bline_t_3.renderOrder = 10;
      bline_t_3.position.set( 0, 75, -54 );
      bline_t_3.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      let bline_t_4 = new THREE.Mesh(this.geometryLine(-.2, 110),bl_material);
      bline_t_4.renderOrder = 10;
      bline_t_4.position.set( 0, 75, 54 );
      bline_t_4.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      bline_b_1 = new THREE.Mesh(this.geometryLine(-3.3,110),bl_material);
      bline_b_1.renderOrder = 10;
      bline_b_1.position.set( -54, -75, 0 );
      bline_b_1.rotation.set( 1/2*Math.PI, 0, 0 );

      bline_b_2 = new THREE.Mesh(this.geometryLine(-1.65,110),bl_material);
      bline_b_2.renderOrder = 10;
      bline_b_2.position.set( 54, -75, 0 );
      bline_b_2.rotation.set( 1/2*Math.PI, 0, 0 );

      bline_b_3 = new THREE.Mesh(this.geometryLine(2.55, 110),bl_material);
      bline_b_3.renderOrder = 10;
      bline_b_3.position.set( 0, -75, -54 );
      bline_b_3.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      let bline_b_4 = new THREE.Mesh(this.geometryLine(-1.5, 110),bl_material);
      bline_b_4.renderOrder = 10;
      bline_b_4.position.set( 0, -75, 54 );
      bline_b_4.rotation.set( 1/2*Math.PI, 0, 1/2*Math.PI );

      this.cube = new THREE.Group()
      this.cube.add(cube)
      this.cube.add(bline_1)
      this.cube.add(bline_2)
      this.cube.add(bline_3)
      this.cube.add(bline_4)
      this.cube.add(bline_t_1)
      this.cube.add(bline_t_2)
      this.cube.add(bline_t_3)
      this.cube.add(bline_t_4)
      this.cube.add(bline_b_1)
      this.cube.add(bline_b_2)
      this.cube.add(bline_b_3)
      this.cube.add(bline_b_4)
      this.cube.position.set(0, 100 , 0)
      this.cube.rotation.set(.3, -.2 , 0)

      this.scene.add( this.cube );

      //4 f

      var geometry4 = new THREE.ConeBufferGeometry( 79, 149, 4 );
      let cone2 = new THREE.Mesh( geometry4, material );
      cone2.name = "4"

      // front lines
      bline_1 = new THREE.Mesh(this.geometryLine(1.1,170),bl_material);
      bline_1.renderOrder = 100;
      bline_1.position.set( 0, 0, -40 );
      bline_1.rotation.set( 1/6*Math.PI - .04, 0, 0 );

      bline_2 = new THREE.Mesh(this.geometryLine(-.4,170),bl_material);
      bline_2.renderOrder = 100;
      bline_2.position.set( 40, 0, 0 );
      bline_2.rotation.set( 0, 0, 1/6*Math.PI - .04 );

      bline_3 = new THREE.Mesh(this.geometryLine(-2.05,170),bl_material);
      bline_3.renderOrder = 100;
      bline_3.position.set( 0, 0, 40 );
      bline_3.rotation.set( -1/6*Math.PI + .04, 0, 0 );

      bline_4 = new THREE.Mesh(this.geometryLine(2.8,170),bl_material);
      bline_4.renderOrder = 100;
      bline_4.position.set( -40, 0, 0 );
      bline_4.rotation.set( 0, 0, -1/6*Math.PI + .04 );

      bline_b_1 = new THREE.Mesh(this.geometryLine(-3.3,110),bl_material);
      bline_b_1.renderOrder = 10;
      bline_b_1.position.set( -40, -75, -40 );
      bline_b_1.rotation.set( 1/2*Math.PI, 0, 1/4*Math.PI );

      bline_b_2 = new THREE.Mesh(this.geometryLine(-1.65,110),bl_material);
      bline_b_2.renderOrder = 10;
      bline_b_2.position.set( 40, -75, 40 );
      bline_b_2.rotation.set( 1/2*Math.PI, 0, 1/4*Math.PI );

      bline_b_3 = new THREE.Mesh(this.geometryLine(2.55, 110),bl_material);
      bline_b_3.renderOrder = 10;
      bline_b_3.position.set( -40, -75, 40 );
      bline_b_3.rotation.set( 1/2*Math.PI, 0, -1/4*Math.PI );

      bline_b_4 = new THREE.Mesh(this.geometryLine(-1.5, 110),bl_material);
      bline_b_4.renderOrder = 10;
      bline_b_4.position.set( 40, -75, -40 );
      bline_b_4.rotation.set( 1/2*Math.PI, 0, -1/4*Math.PI );

      this.cone2 = new THREE.Group()

      this.cone2.add(cone2)
      this.cone2.add(bline_1)
      this.cone2.add(bline_2)
      this.cone2.add(bline_3)
      this.cone2.add(bline_4)
      this.cone2.add(bline_b_1)
      this.cone2.add(bline_b_2)
      this.cone2.add(bline_b_3)
      this.cone2.add(bline_b_4)

      this.cone2.position.set(-250, -200 , 0)
      this.cone2.rotation.set(.3, .4 , 0)

      this.scene.add( this.cone2 );

      //5 f

      var geometry5 = new THREE.CylinderBufferGeometry( 68.5, 68.5, 150, 64 );
      let cylinder2 = new THREE.Mesh( geometry5, material );
      var resolution = new THREE.Vector2( this.width, this.height );

      var p2_edge_geometry5 = new THREE.TorusBufferGeometry( 70, .6, 30, 100);
      var p2_edge_material5 = new THREE.LineBasicMaterial({ color: 0x000000,side: THREE.FrontSide,transparent:true});
      this.line_cylinder2 = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );
      let line_cylinder2 = new THREE.LineSegments(p2_edge_geometry5, p2_edge_material5 );

      let SphereGeometry = new THREE.SphereGeometry( 4, 32, 32 );
      let SphereMaterial = new THREE.MeshBasicMaterial( {color: 0xff0000, depthTest: true, transparent: true, opacity: 1} );

      let sphereCirkle = new THREE.Mesh( SphereGeometry, SphereMaterial );
      sphereCirkle.position.set(0, 0, 70)

      cylinder2.name = "5"

      this.line_cylinder2.position.set(0, -75 , 0)
      this.line_cylinder2.rotation.set(1/2*Math.PI , 0 , -1/2*Math.PI )
      line_cylinder2.position.set(0, 75 , 0)
      line_cylinder2.rotation.set(1/2*Math.PI , 0 , -1/2*Math.PI )

      let lineLeft = new THREE.Geometry();
      lineLeft.vertices.push( new THREE.Vector3( -69.5, -76, 0 ) );
      lineLeft.vertices.push( new THREE.Vector3( -69.5, 76, 0 ) );

      let g3 = new MeshLine();
      g3.setGeometry( lineLeft );
      let materialLineLeft = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .004,
        depthTest: false,
      });
      
      

      this.line_cylinder_left = new THREE.Mesh( g3.geometry, materialLineLeft );

      let lineRight = new THREE.Geometry();
      lineRight.vertices.push( new THREE.Vector3( 69.5, -76, 0 ) );
      lineRight.vertices.push( new THREE.Vector3( 69.5, 76, 0 ) );

      let g4 = new MeshLine();
      g4.setGeometry( lineRight );
      
      this.line_cylinder_right = new THREE.Mesh( g4.geometry, materialLineLeft );

      this.scene.add(this.line_cylinder_left, this.line_cylinder_right)

      this.line_cylinder_right.position.set(0, -200 , 0)
      this.line_cylinder_right.rotation.set(.3, 0 , 0)
      this.line_cylinder_left.position.set(0, -200 , 0)
      this.line_cylinder_left.rotation.set(.3, 0 , 0)

      this.cylinder2 = new THREE.Group()
      this.cylinder2.add(cylinder2)
      this.cylinder2.add(this.line_cylinder2)
      this.cylinder2.add(line_cylinder2)
      this.cylinder2.add(sphereCirkle)

      this.cylinder2.position.set(0, -200 , 0)
      this.cylinder2.rotation.set(.3, 0 , 0)

      this.scene.add( this.cylinder2 );

      //6 f
      
      let material2 = new THREE.MeshLambertMaterial( this.getMaterial2() );

      var geometry6 = new THREE.ConeBufferGeometry( 79, 150, 64 );
      let cone3 = new THREE.Mesh( geometry6, material2 );


      let cone3help = new THREE.Mesh( new THREE.ConeBufferGeometry( 80, 150, 64, 64 ) , new THREE.MeshBasicMaterial( this.getMaterial2() ));

      var p2_edge_geometry6 = new THREE.TorusBufferGeometry( 80, .3, 30, 100);
      var p2_edge_material6 = new THREE.LineBasicMaterial({ color: 0x000000 });
      this.line_cone3 = new THREE.LineSegments(p2_edge_geometry6, p2_edge_material6 );

      cone3.name = "6"
      cone3.renderOrder = 150
      this.line_cone3.position.set(0, -75 , 0)
      this.line_cone3.rotation.set(1/2*Math.PI , 0 , -1/2*Math.PI )
      
      this.line_cone3.renderOrder = 50

      let line = new THREE.Geometry();
      line.vertices.push( new THREE.Vector3( -80, -75, 0 ) );
      line.vertices.push( new THREE.Vector3( 0, 76, 0 ) );
      line.vertices.push( new THREE.Vector3( 80, -75, 0 ) );

      let g2 = new MeshLine();
      g2.setGeometry( line );
      let materialLineTop = new MeshLineMaterial( {
        useMap: false,
        color: new THREE.Color( 0x000000 ),
        opacity: 1,
        resolution: resolution,
        sizeAttenuation: true,
        lineWidth: .006,
      });

      this.line_cone3_top = new THREE.Mesh( g2.geometry, materialLineTop );

      this.scene.add(this.line_cone3_top)
      this.line_cone3_top.position.set(250, -200 , 0)
      this.line_cone3_top.rotation.set(.3, 0 , 0)
      this.line_cone3_top.visible = false


      let sphereCone = new THREE.Mesh( SphereGeometry, SphereMaterial );
      sphereCone.position.set(0, 0, 40)

      this.cone3 = new THREE.Group()
      this.cone3.add(cone3)
      this.cone3.add(sphereCone)
      this.cone3.add(this.line_cone3)
      this.cone3.position.set(250, -200 , 0)
      this.cone3.rotation.set(.3, 0 , 0)

      // var outline_shader = {
      //   uniforms: {
      //       "linewidth":  { type: "f", value: 0.3 },
      //   },
      //   vertex_shader: [
      //       "uniform float linewidth;",
      //       "void main() {",
      //           "vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );",
      //           "vec4 displacement = vec4( normalize( normalMatrix * normal ) * linewidth, 0.0 ) + mvPosition;",
      //           "gl_Position = projectionMatrix * displacement;",
      //       "}"
      //   ].join("\n"),
      //   fragment_shader: [
      //       "void main() {",
      //           "gl_FragColor = vec4( 0.0, 0.0, 0.0, 1.0 );",
      //       "}"
      //   ].join("\n")
      // };

      // var outline_material = new THREE.ShaderMaterial({
      //     uniforms: THREE.UniformsUtils.clone(outline_shader.uniforms),
      //     vertexShader: outline_shader.vertex_shader,
      //     fragmentShader: outline_shader.fragment_shader
      // });
      // outline_material.side = THREE.BackSide


      // let mesh333 = new THREE.Mesh( cone3help.geometry, outline_material )
      // mesh333.position.set(0, 1 , 0)
      // this.cone3.add(mesh333)

      // console.log(outline_material)

      // var outlineMaterial1 = new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.BackSide, visible: true } );
      // var outlineMesh1 = new THREE.Mesh( geometry6, outlineMaterial1 );
      // outlineMesh1.position.set(250, -200 , 0)
      // outlineMesh1.rotation.set(.3, 0 , 0)
      // outlineMesh1.scale.multiplyScalar(1.05);
      // this.scene.add( outlineMesh1 );

      var helper = new THREE.EdgesHelper( cone3help, 0x000000 );
      helper.position.set(0, 2, 0)

      helper.material.linewidth = 2;
      helper.material.depthTest = true;
      helper.material.depthWrite = false;
      helper.material.transparent = true;
      helper.material.opacity = 1;
      helper.material.vertexColors = true
      helper.material.needsUpdate = true
      //helper.material.blendDst = .7
      console.log(helper.material)

      this.cone3.add( helper )
      this.scene.add( this.cone3 );
      
      // var cubeGeometry = new THREE.CubeGeometry( 80, 80, 80 );
      // var cube = new THREE.Mesh( cubeGeometry, material );
      // cube.position.set(60, 60, 0);
      // this.scene.add( cube );    
      
      // var outlineMaterial2 = new THREE.MeshBasicMaterial( { color: 0x00ff00, side: THREE.BackSide } );
      // var outlineMesh2 = new THREE.Mesh( cubeGeometry, outlineMaterial2 );
      // outlineMesh2.position = cube.position;
      // outlineMesh2.scale.multiplyScalar(1.05);
      // this.scene.add( outlineMesh2 );

      //Alphabets
      this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
      this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide,transparent:true,opacity: 0});
      this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
      this.text_A1 = this.text_A.clone();
      this.text_B = this.text_A.clone();
      this.text_B1 = this.text_A.clone();
      this.text_C = this.text_A.clone();
      this.text_C1 = this.text_A.clone();
      this.text_D = this.text_A.clone();
      this.text_D1 = this.text_A.clone();
      this.text_E = this.text_A.clone();
      this.text_E1 = this.text_A.clone();
      this.text_F = this.text_A.clone();
      this.text_F1 = this.text_A.clone();

      this.text_A.renderOrder =
      this.text_B.renderOrder =
      this.text_C.renderOrder =
      this.text_D.renderOrder =
      this.text_E.renderOrder =
      this.text_F.renderOrder =
      this.text_A1.renderOrder =
      this.text_B1.renderOrder =
      this.text_C1.renderOrder =
      this.text_D1.renderOrder =
      this.text_E1.renderOrder =
      this.text_F1.renderOrder = 200

      this.text_A.position.set(-250,-30,0);
      this.text_A1.position.set(-360,185,0);
      this.text_B.position.set(250,-30,0);
      this.text_B1.position.set(160,185,0);
      this.text_C.position.set(0,-30,0);
      this.text_C1.position.set(-100,185,0);
      this.text_D.position.set(-250,-330,0);
      this.text_D1.position.set(-360,-115,0);
      this.text_E.position.set(0,-330,0);
      this.text_E1.position.set(-100,-115,0);
      this.text_F.position.set(250,-330,0);
      this.text_F1.position.set(160,-115,0);

      var a = document.createElement( 'div' );
      a.className = 'label label1';
      a.id = 'A';
      a.textContent = '';
      a.style.fontSize = '24px';
      var aLabel = new CSS2DObject( a );
      this.text_A.add( aLabel );

      var b = document.createElement( 'div' );
      b.className = 'label label12';
      b.textContent = '';
      b.style.fontSize = '24px';
      var bLabel = new CSS2DObject( b );
      this.text_B.add( bLabel );

      var c = document.createElement( 'div' );
      c.className = 'label label2';
      c.textContent = '';
      c.style.fontSize = '24px';
      var cLabel = new CSS2DObject( c );
      this.text_C.add( cLabel );

      var d = document.createElement( 'div' );
      d.className = 'label label22';
      d.textContent = '';
      d.style.fontSize = '24px';
      var dLabel = new CSS2DObject( d );
      this.text_D.add( dLabel );

      var e = document.createElement( 'div' );
      e.className = 'label label3';
      e.textContent = '';
      e.style.fontSize = '24px';
      var eLabel = new CSS2DObject( e );
      this.text_E.add( eLabel );

      var f = document.createElement( 'div' );
      f.className = 'label label32';
      f.textContent = '';
      f.style.fontSize = '24px';
      var fLabel = new CSS2DObject( f );
      this.text_F.add( fLabel );

      var a1 = document.createElement( 'div' );
      a1.className = 'label-icon label1-icon';
      a1.id = 'A1';
      a1.textContent = '';
      a1.style.fontSize = '24px';
      var aLabel1 = new CSS2DObject( a1 );
      this.text_A1.add( aLabel1 );

      var b1 = document.createElement( 'div' );
      b1.className = 'label-icon label3-icon';
      b1.textContent = '';
      b1.style.fontSize = '24px';
      var bLabel1 = new CSS2DObject( b1 );
      this.text_B1.add( bLabel1 );

      var c1 = document.createElement( 'div' );
      c1.className = 'label-icon label2-icon';
      c1.textContent = '';
      c1.style.fontSize = '24px';
      var cLabel1 = new CSS2DObject( c1 );
      this.text_C1.add( cLabel1 );

      var d1 = document.createElement( 'div' );
      d1.className = 'label-icon label4-icon';
      d1.textContent = '';
      d1.style.fontSize = '24px';
      var dLabel1 = new CSS2DObject( d1 );
      this.text_D1.add( dLabel1 );

      var e1 = document.createElement( 'div' );
      e1.className = 'label-icon label5-icon';
      e1.textContent = '';
      e1.style.fontSize = '24px';
      var eLabel1 = new CSS2DObject( e1 );
      this.text_E1.add( eLabel1 );

      var f1 = document.createElement( 'div' );
      f1.className = 'label-icon label6-icon';
      f1.textContent = '';
      f1.style.fontSize = '24px';
      var fLabel1 = new CSS2DObject( f1 );
      this.text_F1.add( fLabel1 );

      this.meshList.push(
        mestTop,
        mestBot,
        meshLeft,
        meshFront1,
        meshFront2,
        cone,
        cube,
        cone2,
        cylinder2,
        cone3,
      )
      this.scene.add(
        this.text_A,
        this.text_B,
        this.text_C,
        this.text_D,
        this.text_E,
        this.text_F,
        this.text_A1,
        this.text_B1,
        this.text_C1,
        this.text_D1,
        this.text_E1,
        this.text_F1,
      )

      this.scene.position.y = 50;
      this.camera.zoom = .7;

      this.$nextTick(() => {
        this.canvas = document.getElementById('three_view');
        this.canvas.addEventListener(this.mouseDown, this.startRotate);
        this.canvas.addEventListener(this.mouseMove, this.onRotate);
        this.canvas.addEventListener(this.mouseUp, this.endRotate);
        window.addEventListener(this.mouseUp, this.endRotate);

        //Add rotate box event
        $('#three_view').css('touch-action', 'none');
        $('*').on("contextmenu", function (e) {
            //Disable right click
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          return false;
        });

        $('*').on(this.mouseMove, function (e) {
          e.preventDefault ? e.preventDefault() : (e.returnValue = false);
        });

      })
    },
    createDash(pos) {
      let line = new LineGeometry();
      line.setPositions(pos);
      return line
    },
    addDash(position) {
      let lineGeo = new LineGeometry();
      lineGeo.setPositions(position);
      let line = new Line2(this.createDash(position), this.lineDashedMaterial());
      line.computeLineDistances();
      return line
    },
    lineDashedMaterial() {
      const material = new LineMaterial({
        dashed: true,
        color: 0x000000,
        linewidth: .002,
        dashSize: 10,
        gapSize: 10,
        depthTest: false, // important for correct dash displaying
        // polygonOffset: true,
        // polygonOffsetFactor: 1,
        // polygonOffsetUnits: 1
      });
      material.defines.USE_DASH = false;
      material.needsUpdate = false;
      return material;
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    render() {
      requestAnimationFrame(this.render);
      this.renderer.render(this.scene, this.camera);
      this.labelRenderer.render(this.scene, this.camera);
    },
    geometryLine(x, length) {
      return new THREE.CylinderBufferGeometry( 1.1, 1.1, length, 64,64,false, x, 6.2)
    },
    //Edge line of the box
    makeLine( geo, scene, resolution, col) {
      var g2 = new MeshLine();
      g2.setGeometry( geo );
      let material = null
      if (col) {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0x000000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      } else {
        material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0xe7e6e6 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: true,
          lineWidth: .003,
        });
      }
      
      var mesh = new THREE.Mesh( g2.geometry, material );
      scene.add( mesh );
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          this.rotateStartOb = this.fundOb(e)
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                    if (this.rotateStartOb === "1") {
                      x = this.rotateStart1.x;
                      y = this.rotateStart1.y;
                    } else if (this.rotateStartOb === "2") {
                      x = this.rotateStart2.x;
                      y = this.rotateStart2.y;
                    } else if (this.rotateStartOb === "3") {
                      x = this.rotateStart3.x;
                      y = this.rotateStart3.y;
                    } else if (this.rotateStartOb === "4") {
                      x = this.rotateStart4.x;
                      y = this.rotateStart4.y;
                    } else if (this.rotateStartOb === "5") {
                      x = this.rotateStart5.x;
                      y = this.rotateStart5.y;
                    } else if (this.rotateStartOb === "6") {
                      x = this.rotateStart6.x;
                      y = this.rotateStart6.y;
                    }
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          if (this.rotateStartOb === "1") {
            this.rotateStart1.x = x;
            this.rotateStart1.y = y;
          } else if (this.rotateStartOb === "2") {
            this.rotateStart2.x = x;
            this.rotateStart2.y = y;
          } else if (this.rotateStartOb === "3") {
            this.rotateStart3.x = x;
            this.rotateStart3.y = y;
          } else if (this.rotateStartOb === "4") {
            this.rotateStart4.x = x;
            this.rotateStart4.y = y;
          } else if (this.rotateStartOb === "5") {
            this.rotateStart5.x = x;
            this.rotateStart5.y = y;
          } else if (this.rotateStartOb === "6") {
            this.rotateStart6.x = x;
            this.rotateStart6.y = y;
          }
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    rorateFunction(ob, rStart, x, y, otherY, ob2, otherY2, ob3) {
      ob.rotation.x += (y - rStart.y) / 100;
      if (otherY) {
        ob2.rotation.x += (y - rStart.y) / 100;
      }
      if (otherY2) {
        ob3.rotation.x += (y - rStart.y) / 100;
      }
      let degX = Math.abs(ob.rotation.x % (2 * Math.PI));
      if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5) {
        ob.rotation.y += (x - rStart.x) / 100;
      }
      else {
        ob.rotation.y -= (x - rStart.x) / 100;
      }
      rStart.x = x;
      rStart.y = y;
      // if (!ob3 && otherY) {
      //   let degY = Math.abs(ob2.rotation.x % (2 * Math.PI))
      //   if ((degY >= 1.09 && degY <= 2.05) || (degY >= 4.2 && degY <= 5.18)) {
      //     ob2.visible = false
      //   } else {
      //     ob2.visible = true
      //   }
      // }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                  if (this.rotateStartOb === "1") {
                    x = this.rotateStart1.x;
                    y = this.rotateStart1.y;
                  } else if (this.rotateStartOb === "2") {
                    x = this.rotateStart2.x;
                    y = this.rotateStart2.y;
                  } else if (this.rotateStartOb === "3") {
                    x = this.rotateStart3.x;
                    y = this.rotateStart3.y;
                  } else if (this.rotateStartOb === "4") {
                    x = this.rotateStart4.x;
                    y = this.rotateStart4.y;
                  } else if (this.rotateStartOb === "5") {
                    x = this.rotateStart5.x;
                    y = this.rotateStart5.y;
                  } else if (this.rotateStartOb === "6") {
                    x = this.rotateStart6.x;
                    y = this.rotateStart6.y;
                  }
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }

        if (this.rotateStartOb == "1") {
          this.rorateFunction(this.cylinder, this.rotateStart1, x, y, false)
        } else if (this.rotateStartOb == "2") {
          this.rorateFunction(this.cone, this.rotateStart2, x, y, false)
        } else if (this.rotateStartOb == "3") {
          this.rorateFunction(this.cube, this.rotateStart3, x, y, false)
        } else if (this.rotateStartOb == "4") {
          this.rorateFunction(this.cone2, this.rotateStart4, x, y, false)
        } else if (this.rotateStartOb == "5") {
          this.rorateFunction(
            this.cylinder2,
            this.rotateStart5,
            x,
            y,
            true,
            this.line_cylinder_right,
            true,
            this.line_cylinder_left
          )
        } else if (this.rotateStartOb == "6") {
          this.rorateFunction(this.cone3, this.rotateStart6, x, y, true, this.line_cone3_top, false, false)
        }
        
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
        this.rotateStartOb = null;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
        this.rotateStartOb = null;
      }
    },
    loadFun() {
      if (this.isTouchDevice()) {
        this.mouseDown = 'touchstart';
        this.mouseMove = 'touchmove';
        this.mouseUp = 'touchend';
        // if (this.getBrowserName() === "Safari") {
        //   this.mouseDown = 'touchstart';
        //   this.mouseMove = 'touchmove';
        //   this.mouseUp = 'touchend';
        // } else {
        //   this.mouseDown = 'pointerdown';
        //   this.mouseMove = 'pointermove';
        //   this.mouseUp = 'pointerup';
        // }
      } else {
        this.mouseDown = 'mousedown';
        this.mouseMove = 'mousemove';
        this.mouseUp = 'mouseup';
      }
    },
    // //Check touch device
    isTouchDevice() {
      return 'ontouchstart' in window        // check on most browsers
        || navigator.maxTouchPoints;       // check on IE10/11 and Surface
    },
    //Check Browser
    getBrowserName() {
      // Opera 8.0+
      var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

      // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';

      // Safari 3.0+ "[object HTMLElementConstructor]"
      var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

      // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;

      // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;

      // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;

      // Blink engine detection
      //var isBlink = (isChrome || isOpera) && !!window.CSS;

      var name = "Unknown";
      if (isEdge) {
          name = "Edge";
      } else if (isIE) {
          name = "IE"
      } else if (isFirefox) {
          name = "Firefox";
      } else if (isOpera) {
          name = "Opera";
      } else if (isChrome) {
          name = "Chrome";
      } else if (isSafari) {
          name = "Safari";
      }
      return name;
    },
    fundOb(event) {
      event.preventDefault();
      var element = event.currentTarget;
      // x and y coordinates on this canvas
      var wrap = document.querySelector('.project-wrap');
      var style = window.getComputedStyle(wrap);
      var margin = style.getPropertyValue('margin-left')
      let scaleStage = document.querySelector('#stage_1');
      let scaleStageText = scaleStage.style.transform
      let scaleStageVal = scaleStageText.substring(6, scaleStageText.length - 1)
      scaleStageVal = Number(scaleStageVal)

      var mar = parseInt(margin,10);
      var x0 = event.clientX ? event.clientX : (event.touches[0] || event.changedTouches[0] || {}).clientX;
      var y0 = event.clientY ? event.clientY : (event.touches[0] || event.changedTouches[0] || {}).clientY;

      var x = x0 - (element.offsetLeft + mar);
      var y = y0 - element.offsetTop - 75 * scaleStageVal


      this.mouse.x = (x / (this.width * scaleStageVal)) * 2 - .005;
      this.mouse.y = - (y / (this.height * scaleStageVal)) * 2 + 1;

      this.raycaster.setFromCamera( this.mouse, this.camera );
      var intersects = this.raycaster.intersectObjects( this.meshList );

      if ( intersects.length > 0 ) {
        this.selectObj = intersects[ 0 ].object;
        return this.selectObj.name
      } else return null
    },
  },
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.actions {
  right: 2% !important;
}

.project-wrap {
  overflow: inherit;
}
::v-deep .label {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 50px;
}
::v-deep .label3 {
  background-image: url("../assets/text3.svg");
}
::v-deep .label32 {
  background-image: url("../assets/text32.svg");
}
::v-deep .label2 {
  background-image: url("../assets/text2.svg");
}
::v-deep .label22 {
  background-image: url("../assets/text22.svg");
}
::v-deep .label1 {
  background-image: url("../assets/text1.svg");
}
::v-deep .label12 {
  background-image: url("../assets/text12.svg");
}
::v-deep .label-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
::v-deep .label1-icon {
  background-image: url("../assets/s1-10/i1.svg");
}
::v-deep .label2-icon {
  background-image: url("../assets/s1-10/i2.svg");
}
::v-deep .label3-icon {
  background-image: url("../assets/s1-10/i3.svg");
}
::v-deep .label4-icon {
  background-image: url("../assets/s1-10/i4.svg");
}
::v-deep .label5-icon {
  background-image: url("../assets/s1-10/i5.svg");
}
::v-deep .label6-icon {
  background-image: url("../assets/s1-10/i6.svg");
}
</style>
