<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="three_view"></div>
      </div>
    </div>
    <div class="actions">
      <button id="action-reset" @click="init()" ref="resetBtn"></button>
    </div>
  </div>
</template>


<script>
  import * as THREE from 'three'
  import $ from 'jquery'
  import { MeshLine } from '../assets/js/THREE.MeshLine.js'
  import { MeshLineMaterial } from 'three.meshline'
  import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';

  export default {
    name: "s1-29",
    data () {
      return {
        //base
        renderer: null,
        labelRenderer: null,
        scene: null,
        camera: null,
        light: null,
        box: null,
        edge: null,
        line: null,
        controls: null,
        canvas: null,
        //face
        plane1: null,
        plane2: null,
        plane3: null,
        plane4: null,
        plane5: null,
        plane6: null,
        //line
        line_top1: null,
        line_top2: null,
        line_top3: null,
        line_top4: null,
        line_middle1: null,
        line_middle2: null,
        line_middle3: null,
        line_middle4: null,
        line_bottom1: null,
        line_bottom2: null,
        line_bottom3: null,
        line_bottom4: null,
        //bline
        bline_top1: null,
        bline_top2: null,
        bline_top3: null,
        bline_top4: null,
        bline_middle1: null,
        bline_middle2: null,
        bline_middle3: null,
        bline_middle4: null,
        bline_bottom1: null,
        bline_bottom2: null,
        bline_bottom3: null,
        bline_bottom4: null,
        //Alphabets
        textGeometry: null,
        textMaterial: null,
        text_A: null,
        text_B: null,
        text_C: null,
        text_D: null,
        text_E: null,
        text_F: null,
        text_G: null,
        text_H: null,
        //each settings
        p_geometry: null,
        p_geometry2: null,
        p_material: null,
        l_hol_geometry: null,
        l_ver_geometry: null,
        l_material: null,
        width: 1024,
        height: 768,

        num: 0,
        a: [],
        b: [],
        d: [],
        raycaster: new THREE.Raycaster(),
        mouse: new THREE.Vector2(),
        offset: new THREE.Vector3(),
        intersection: new THREE.Vector3(),
        selectObj: null,
        body: null,
        meshList: [],
        meshList2: [],
        list: [],
        fun: 0,
        rotateBox: false,
        rotateStart: {
          x: 0,
          y: 0
        },
        pointerId: null,
        mouseDown: null,
        mouseMove: null,
        mouseUp: null,
        //Detect user click to pick an object or move mouse.
        pick: {
          isPick: false,
          x: null,
          y: null
        },
        bodyWidth: Math.max(window.innerWidth, 1024),
        bodyHeight: Math.max(window.innerHeight, this.height),
        button1Class: "",
        button2Class: "",
      }
    },
    mounted() {
      this.init()
      this.render()
    },
    beforeDestroy() {
      this.renderer.clear()
    },
    created() {
      let x = document.getElementsByTagName("body")
      this.body = x[0]
      console.log(this.body)
      this.loadFun()
      this.renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    },
    methods: {
      addSquareMesh(vertices) {
        const squareGeom = new THREE.Geometry();
        vertices.forEach(i => {
          squareGeom.vertices.push(i)
        })
        squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
        squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
        squareGeom.computeFaceNormals();
        const squareMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#EAF6FD',
          opacity: .7,
          transparent: true
        });
        const squareMesh = new THREE.Mesh(squareGeom, squareMat);
        this.scene.add(squareMesh);
      },
      init() {
        document.getElementById("three_view").innerHTML = '';
        this.renderer.setSize(this.width, this.height, true);
        this.renderer.setPixelRatio(window.devicePixelRatio);
        document.getElementById("three_view").appendChild(this.renderer.domElement);

        this.button1Class = ''
        this.button2Class = ''

        this.labelRenderer = new CSS2DRenderer();
        this.labelRenderer.setSize(this.width, this.height, true);
        this.labelRenderer.domElement.style.position = 'absolute';
        this.labelRenderer.domElement.id = 'text';
        this.labelRenderer.domElement.style.top = '0px';
        document.getElementById("three_view").appendChild( this.labelRenderer.domElement );

        this.scene = new THREE.Scene();
        this.scene.rotation.x = 0.4;
        this.scene.rotation.y = -0.4;
        this.scene.position.y = 0;

        this.camera = new THREE.OrthographicCamera(this.width / - 2, this.width / 2, this.height / 2, this.height / - 2, 0.1, 1000);
        this.camera.translateZ(400);
        this.camera.zoom = 1.7;
        this.camera.updateProjectionMatrix();

        this.light = new THREE.DirectionalLight( 0xffffff );
        this.scene.add( this.light );

        var resolution = new THREE.Vector2( this.width, this.height );

        const A1 = new THREE.Vector3( -100, 100, -100 );
        const B1 = new THREE.Vector3( -100, 100, 100 );
        const C1 = new THREE.Vector3( 100, 100, 100 );
        const D1 = new THREE.Vector3( 100, 100, -100 );
        const E1 = new THREE.Vector3( -100, -100, -100 );
        const F1 = new THREE.Vector3( -100, -100, 100 );
        const G1 = new THREE.Vector3( 100, -100, 100 );
        const H1 = new THREE.Vector3( 100, -100,-100 );

        [
          [A1, B1, C1, D1],
          [C1, D1, H1, G1],
          [A1, B1, F1, E1],
          [A1, D1, H1, E1],
          [B1, C1, G1, F1],
          [F1, G1, H1, E1],
        ].forEach(i => this.addSquareMesh(i));

        let line = new THREE.Geometry();
        line.vertices.push(A1);
        line.vertices.push(D1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(A1);
        line.vertices.push(B1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(B1);
        line.vertices.push(C1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(C1);
        line.vertices.push(D1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(A1);
        line.vertices.push(E1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(B1);
        line.vertices.push(F1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(C1);
        line.vertices.push(G1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push(D1);
        line.vertices.push(H1);
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -100, -100, -100 ) );
        line.vertices.push( new THREE.Vector3( 100, -100, -100 ) );
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -100, -100, -100 ) );
        line.vertices.push( new THREE.Vector3( -100, -100, 100 ) );
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( -100, -100, 100 ) );
        line.vertices.push( new THREE.Vector3( 100, -100, 100 ) );
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 100, -100, 100 ) );
        line.vertices.push( new THREE.Vector3( 100, -100, -100 ) );
        this.makeLine( line, this.scene, resolution, true );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 100, 100.3, 100 ) );
        line.vertices.push( new THREE.Vector3( -100, 100.3, -100 ) );
        this.makeLine( line, this.scene, resolution, false );

        line = new THREE.Geometry();
        line.vertices.push( new THREE.Vector3( 100, 100, 100.3 ) );
        line.vertices.push( new THREE.Vector3( -100, -100, 100.3 ) );
        this.makeLine( line, this.scene, resolution, false );

        //Alphabets
        this.textGeometry = new THREE.PlaneBufferGeometry(20,30);
        this.textMaterial = new THREE.MeshBasicMaterial( {color: 0x00ffff, side: THREE.FrontSide,transparent:true,opacity: 0});
        this.text_A = new THREE.Mesh( this.textGeometry, this.textMaterial );
        this.text_B = this.text_A.clone();
        this.text_C = this.text_A.clone();
        this.text_D = this.text_A.clone();
        this.text_E = this.text_A.clone();
        this.text_F = this.text_A.clone();
        this.text_G = this.text_A.clone();
        this.text_H = this.text_A.clone();

        this.text_A.renderOrder =
        this.text_B.renderOrder =
        this.text_C.renderOrder =
        this.text_D.renderOrder =
        this.text_E.renderOrder =
        this.text_F.renderOrder =
        this.text_G.renderOrder =
        this.text_H.renderOrder = 200

        this.text_A.position.set(-110,120,-110);
        this.text_B.position.set(-110,120,110);
        this.text_C.position.set(130,120,110);
        this.text_D.position.set(110,120,-110);
        this.text_E.position.set(-110,-120,-110);
        this.text_F.position.set(-110,-120,110);
        this.text_G.position.set(110,-120,110);
        this.text_H.position.set(110,-120,-110);

        var a = document.createElement( 'div' );
        a.className = 'label';
        a.id = 'A';
        a.textContent = 'A';
        a.style.fontSize = '30px';
        var aLabel = new CSS2DObject( a );
        this.text_A.add( aLabel );

        var b = document.createElement( 'div' );
        b.className = 'label';
        b.textContent = 'B';
        b.style.fontSize = '30px';
        var bLabel = new CSS2DObject( b );
        this.text_B.add( bLabel );

        var c = document.createElement( 'div' );
        c.className = 'label';
        c.textContent = 'C';
        c.style.fontSize = '30px';
        var cLabel = new CSS2DObject( c );
        this.text_C.add( cLabel );

        var d = document.createElement( 'div' );
        d.className = 'label';
        d.textContent = 'D';
        d.style.fontSize = '30px';
        var dLabel = new CSS2DObject( d );
        this.text_D.add( dLabel );

        var e = document.createElement( 'div' );
        e.className = 'label';
        e.textContent = 'E';
        e.style.fontSize = '30px';
        var eLabel = new CSS2DObject( e );
        this.text_E.add( eLabel );

        var f = document.createElement( 'div' );
        f.className = 'label';
        f.textContent = 'F';
        f.style.fontSize = '30px';
        var fLabel = new CSS2DObject( f );
        this.text_F.add( fLabel );

        var g = document.createElement( 'div' );
        g.className = 'label';
        g.textContent = 'G';
        g.style.fontSize = '30px';
        var gLabel = new CSS2DObject( g );
        this.text_G.add( gLabel );

        var h = document.createElement( 'div' );
        h.className = 'label';
        h.textContent = 'H';
        h.style.fontSize = '30px';
        var hLabel = new CSS2DObject( h );
        this.text_H.add( hLabel );


        this.meshList2.push(
          this.line_top1,
          this.line_top2,
          this.line_top3,
          this.line_top4,
          this.line_middle1,
          this.line_middle2,
          this.line_middle3,
          this.line_middle4,
          this.line_bottom1,
          this.line_bottom2,
          this.line_bottom3,
          this.line_bottom4,
        )

        this.scene.add(
          this.text_A,
          this.text_B,
          this.text_C,
          this.text_D,
          this.text_E,
          this.text_F,
          this.text_G,
          this.text_H
        )


        //gray lines inside box
        var bl_hol_geometry=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -0.15,1.78);
        var bl_hol_geometry1=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -0.15,1.78);
        var bl_hol_geometry2=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, -1.7,1.78);
        var bl_hol_geometry22=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, -1.7,1.78);
        var bl_hol_geometry3=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, -1.7,1.85);
        var bl_hol_geometry4=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, 1.4,1.85);
        var bl_hol_geometry5=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -3.3,1.85);
        var bl_hol_geometry6=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, -0.2,1.85);
        var bl_hol_geometry7=new THREE.CylinderBufferGeometry( 1.2, 1.2, 198, 8,1,false, 1.5,1.78);
        var bl_hol_geometry8=new THREE.CylinderBufferGeometry(1.2, 1.2, 198, 8,1,false, 3.1,1.78);
        var bl_material=new THREE.MeshBasicMaterial({color: 0xffffff, side: THREE.FrontSide,transparent:true,opacity: .7});

        this.bline_top1 = new THREE.Mesh(bl_hol_geometry1,bl_material);
        this.bline_top1.renderOrder = 10;
        this.bline_top1.position.set( -100, 100, 0 );
        this.bline_top1.rotation.set(1/2*Math.PI,0,0);
        this.bline_top1.name = "bline_top1";

        this.bline_top2=new THREE.Mesh(bl_hol_geometry,bl_material);
        this.bline_top2.renderOrder=10;
        this.bline_top2.position.set( 0, 100, -100 );
        this.bline_top2.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
        this.bline_top2.name="bline_top2";
 
        this.bline_top3=new THREE.Mesh(bl_hol_geometry2,bl_material);
        this.bline_top3.renderOrder=40;
        this.bline_top3.position.set( 0, 100, 100);
        this.bline_top3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
        this.bline_top3.name="bline_top3";

        this.bline_top4=new THREE.Mesh(bl_hol_geometry22,bl_material);
        this.bline_top4.renderOrder = 40;
        this.bline_top4.position.set( 100, 100, 0 );
        this.bline_top4.rotation.set(1/2*Math.PI, 0, 0);
        this.bline_top4.name="bline_top4";

        this.bline_middle1=new THREE.Mesh(bl_hol_geometry3,bl_material);
        this.bline_middle1.renderOrder=40;
        this.bline_middle1.position.set( -100, 0, 100 );
        this.bline_middle1.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
        this.bline_middle1.name="bline_middle1";

        this.bline_middle2=new THREE.Mesh(bl_hol_geometry4,bl_material);
        this.bline_middle2.renderOrder=40;
        this.bline_middle2.position.set( 100, 0, -100 );
        this.bline_middle2.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
        this.bline_middle2.name="bline_middle2";

        this.bline_middle3=new THREE.Mesh(bl_hol_geometry5,bl_material);
        this.bline_middle3.renderOrder=40;
        this.bline_middle3.position.set( 100, 0, 100);
        this.bline_middle3.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
        this.bline_middle3.name="bline_middle3";

        this.bline_middle4=new THREE.Mesh(bl_hol_geometry6,bl_material);
        this.bline_middle4.renderOrder=40;
        this.bline_middle4.position.set( -100, 0, -100 );
        this.bline_middle4.rotation.set(1/2*Math.PI,1/2*Math.PI,1/2*Math.PI);
        this.bline_middle4.name="bline_middle4";

        this.bline_bottom1=new THREE.Mesh(bl_hol_geometry7,bl_material);
        this.bline_bottom1.renderOrder=40;
        this.bline_bottom1.position.set( -100, -100, 0 );
        this.bline_bottom1.rotation.set(1/2*Math.PI,0,0);
        this.bline_bottom1.name="bline_bottom1";

        this.bline_bottom2=new THREE.Mesh(bl_hol_geometry7,bl_material);
        this.bline_bottom2.renderOrder=40;
        this.bline_bottom2.position.set( 0, -100, -100 );
        this.bline_bottom2.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
        this.bline_bottom2.name="bline_bottom2";

        this.bline_bottom3=new THREE.Mesh(bl_hol_geometry8,bl_material);
        this.bline_bottom3.renderOrder = 40;
        this.bline_bottom3.position.set( 0, -100, 100);
        this.bline_bottom3.rotation.set(1/2*Math.PI,0,1/2*Math.PI);
        this.bline_bottom3.name="bline_bottom3";

        this.bline_bottom4=new THREE.Mesh(bl_hol_geometry8,bl_material);
        this.bline_bottom4.renderOrder=40;
        this.bline_bottom4.position.set( 100, -100, 0 );
        this.bline_bottom4.rotation.set(1/2*Math.PI,0,0);
        this.bline_bottom4.name="bline_bottom4";

        this.scene.add(
          this.bline_top1,
          this.bline_top2,
          this.bline_top3,
          this.bline_top4,
          this.bline_middle1,
          this.bline_middle2,
          this.bline_middle3,
          this.bline_middle4,
          this.bline_bottom1,
          this.bline_bottom1,
          this.bline_bottom2,
          this.bline_bottom3,
          this.bline_bottom4
        )
        this.$nextTick(() => {
          this.canvas = document.getElementById('three_view');
          this.canvas.addEventListener(this.mouseDown, this.startRotate);
          this.canvas.addEventListener(this.mouseMove, this.onRotate);
          this.canvas.addEventListener(this.mouseUp, this.endRotate);
          window.addEventListener(this.mouseUp, this.endRotate);

          //Add rotate box event
          $('#three_view').css('touch-action', 'none');
          $('*').on("contextmenu", function (e) {
              //Disable right click
            e.preventDefault ? e.preventDefault() : (e.returnValue = false);
            return false;
          });

          $('*').on(this.mouseMove, function (e) {
            e.preventDefault ? e.preventDefault() : (e.returnValue = false);
          });

        })
      },
      render() {
        requestAnimationFrame(this.render);
        this.renderer.render(this.scene, this.camera);
        this.labelRenderer.render(this.scene, this.camera);
      },
      //Edge line of the box
      makeLine( geo, scene, resolution, col) {
        var g2 = new MeshLine();
        g2.setGeometry( geo );
        let material = new MeshLineMaterial( {
          useMap: false,
          color: new THREE.Color( 0x000000 ),
          opacity: 1,
          resolution: resolution,
          sizeAttenuation: false,
          lineWidth: col ? .007 : .015,
        })
        
        var mesh = new THREE.Mesh( g2.geometry, material );
        scene.add( mesh );
      },
      startRotate(e) {
        if (this.notRightClick(e)) {
            var x, y;
            switch (this.mouseMove) {
                case 'touchmove':
                    x = e.targetTouches[0].clientX;
                    y = e.targetTouches[0].clientY;
                    break;
                case 'pointermove':
                    if (e.isPrimary && this.pointerId === undefined) {
                        this.pointerId = e.pointerId;
                        x = e.pageX;
                        y = e.pageY;
                    } else {
                        x = this.rotateStart.x;
                        y = this.rotateStart.y;
                    }
                    break;
                default:
                    x = e.pageX;
                    y = e.pageY;
                    break;
            }
            this.rotateBox = true;
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      notRightClick(event) {
        if (event.nativeEvent) {
          return event.nativeEvent.which === 1 || !event.nativeEvent.which;
        } else {
          return event.which === 1 || !event.which || event.buttons === 1;
        }
      },
      onRotate(e) {
        if (this.rotateBox && this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.pointerId === this.pointerId) {
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.scene.rotation.x += (y - this.rotateStart.y) / 100;
          var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
          if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
            this.scene.rotation.y += (x - this.rotateStart.x) / 100;
          else
            this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      endRotate(e) {
        if (!this.notRightClick(e)) {
          return false;
        }
        if (this.pointerId === null) {
          this.rotateBox = false;
        } else if (e.pointerId === this.pointerId) {
          this.pointerId = undefined;
          this.rotateBox = false;
        }
      },
      loadFun() {
        if (this.isTouchDevice()) {
          this.mouseDown = 'touchstart';
          this.mouseMove = 'touchmove';
          this.mouseUp = 'touchend';
          // if (this.getBrowserName() === "Safari") {
          //   this.mouseDown = 'touchstart';
          //   this.mouseMove = 'touchmove';
          //   this.mouseUp = 'touchend';
          // } else {
          //   this.mouseDown = 'pointerdown';
          //   this.mouseMove = 'pointermove';
          //   this.mouseUp = 'pointerup';
          // }
        } else {
          this.mouseDown = 'mousedown';
          this.mouseMove = 'mousemove';
          this.mouseUp = 'mouseup';
        }
      },
      // //Check touch device
      isTouchDevice() {
        return 'ontouchstart' in window        // check on most browsers
          || navigator.maxTouchPoints;       // check on IE10/11 and Surface
      },
      //Check Browser
      getBrowserName() {
        // Opera 8.0+
        var isOpera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Firefox 1.0+
        var isFirefox = typeof InstallTrigger !== 'undefined';

        // Safari 3.0+ "[object HTMLElementConstructor]"
        var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        // Edge 20+
        var isEdge = !isIE && !!window.StyleMedia;

        // Chrome 1+
        var isChrome = !!window.chrome && !!window.chrome.webstore;

        // Blink engine detection
        //var isBlink = (isChrome || isOpera) && !!window.CSS;

        var name = "Unknown";
        if (isEdge) {
            name = "Edge";
        } else if (isIE) {
            name = "IE"
        } else if (isFirefox) {
            name = "Firefox";
        } else if (isOpera) {
            name = "Opera";
        } else if (isChrome) {
            name = "Chrome";
        } else if (isSafari) {
            name = "Safari";
        }
        return name;
      },
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
</style>
