<template>
  <div>
    <!-- <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="actions">
      <div class="button" v-on:click="initFigure()"></div>
    </div> -->
  </div>
</template>

<!-- <script>
import * as JXG from '../assets/jsx/jsxgraphsrc.js';

export default {
  name: "s2-15",
  data () {
    return {
      changed: false
    }
  },
  mounted() {
    this.initFigure();
  },
  methods: {
    initFigure() {
      // clear previous svg content
      document.getElementById("figure").innerHTML = '';

      // disable reset button
      this.changed = false;

      // attributes
      const strokeColor = 'black';
      const commonAttrs = {name: '',strokeColor, strokewidth: 3};
      const hatchArttrs = { insertTicks: true, ticksDistance:.09, tickEndings:[.7, .7]};
      const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black', strokewidth: 0});
      const pointAttrsDrag = {
        name: 'C',
        fixed: false,
        strokeColor: 'rgba(192, 192, 192, .7)',
        fillColor: 'black',
        face: 'circle',
        strokeWidth: 20,
        highlightStrokeOpacity: 1,
        highlightStrokeWidth: 1,
        size: 4,
      };

      // geometry
      const brd = JXG.JSXGraph.initBoard('figure', {
        keepaspectratio: true,
        boundingbox: [-5.5, 3, 3, -5],
        pan: { enabled: false },
        zoom: {
          enabled: false,
        },
        showZoom: false,
        showNavigation: false,
        zoomFactor: 1.25,
      });

      const x = 1;
      const y = x*2;
      const pO = brd.create('point', [0,0], pointAttrs('O', true));
      const pA = brd.create('point', [x,y], pointAttrs('A', true));
      const pB = brd.create('point', [-x,-y], pointAttrs('B', true));

      [pO, pA, pB].forEach(i => i.rendNode.setAttribute('class', 'point'));

      const circle = brd.create('arc', [pO, pB, pA ], { strokewidth: 0, visible: false });

      circle.rendNode.setAttribute('class', 'circle');
      const gC = brd.create('glider', [1.5,-1.5,circle], pointAttrsDrag);
      gC.rendNode.setAttribute('class', 'drag');

      brd.create('segment',[pA,gC],commonAttrs);
      brd.create('segment',[gC,pB],commonAttrs);
      const lineOB = brd.create('segment',[pO,pA],commonAttrs);
      const lineOA = brd.create('segment',[pO,pB],commonAttrs);
      const lineOP = brd.create('segment',[pO,gC],commonAttrs);

      // replace pointLabels
      pO.label.moveTo([-0.25,0.1]);
      pA.label.moveTo([1.1,2.2]);
      pB.label.moveTo([-1.2,-2.1]);
      gC.label.moveTo([1.8,-1.7]);

      // hatch
      [lineOA, lineOB, lineOP].forEach(i => brd.create('hatch', [i, 2], hatchArttrs).rendNode.setAttribute('class', 'hatch-class'));

      gC.on('drag', () => { // OPTIMIZE add debounce
        this.changed = true;
      })
    }
  }
}
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: 0;
}
::v-deep .JXGtext {
  font-weight: 400;
  font-size: 30px !important;
  font-family: ITC Century Std, sans-serif !important;
}
::v-deep path {
  stroke: black;
  fill: #7fd05e;
}
::v-deep .hatch-class {
  stroke: #00b0f0;
  stroke-width: 2px;
}
::v-deep .actions {
  top: 700px!important;
  right: 20%;
}
::v-deep ellipse.point {
  display: none;
}
::v-deep ellipse.drag {
  fill: rgba(192, 192, 192, .7) !important;
}
</style> -->