<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="wrapper">
          <canvas id="c"></canvas>
        </div>
      </div>
    </div>
    <div class="actions">
      <button v-if="isShowTriangle" id="action1" @click="toggleDragRotate(true)" v-bind:class="{active: isDragActive}"></button>
      <button v-if="isShowTriangle" id="action2" @click="toggleDragRotate(false)" v-bind:class="{active: isRotateActive}"></button>
      <button id="action-reset" @click="reset()"></button>
    </div>
  </div>
</template>

<script>
  import * as THREE from 'three';
  import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
  import { DragControls } from 'three/examples/jsm/controls/DragControls';
  import { CSS2DObject, CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer';
  import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
  import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
  import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';

  export default {
    name: 's2-24',
    props: {
      isShowTriangle: Boolean
    },
    data() {
      return {
        canvas: null,
        camera: null,
        scene: null,
        renderer: null,
        labelRenderer: null,
        boxSegments: null,
        aspectRatio: null,
        sphereK: null,
        orbitControls: null,
        dragControls: null,
        lineMat: null,
        grayLineMat: null,
        squareMesh: null,
        triangleGeom: null,
        grayTriangleOutline: null,
        outGeomAKC: null,
        sgmGeomAKC: null,
        grayOutGeomAKC: null,
        graySgmGeomAKC: null,
        labelCoords: null,
        labelCoords2: null,
        labels: [],
        rotateBox: false,
        rotateStart: {
          x: 0,
          y: 0
        },
        boxSize: 1,
        cord: .5, // boxSize/2
        rendererWidth: 1024,
        rendererHeight: 868,
        isDragActive: true,
        isRotateActive: false,
        mouseDown: null,
        mouseMove: null,
        mouseUp: null,
      }
    },
    methods: {
      initGeometry() {
        this.initRenderers();
        this.initCameraScene();
        this.addBox();

        if (this.isShowTriangle) {
          this.addTriangles();
        } else {
          this.addSquare();
        }
        this.addLabels(this.labelCoords);
        this.addControls();
        this.resize(); // default zoom

        document.getElementById('label-container').addEventListener(this.mouseDown, this.startRotate);
        document.getElementById('label-container').addEventListener(this.mouseMove, this.onRotate);
        document.getElementById('label-container').addEventListener(this.mouseUp, this.endRotate);
        window.addEventListener(this.mouseUp, this.endRotate);
        requestAnimationFrame(this.render); // execute rendering
      },
      toggleDragRotate(isDrag) {
        if (isDrag) {
          this.dragControls.enabled = true;
          this.isRotateActive = false
        } else {
          this.isRotateActive = true
          this.dragControls.enabled = false;
        }
        this.isDragActive = this.dragControls.enabled;
      },
      startRotate(e) {
        if (this.notRightClick(e) && this.isRotateActive) {
            var x, y;
            switch (this.mouseMove) {
                case 'touchmove':
                    x = e.targetTouches[0].clientX;
                    y = e.targetTouches[0].clientY;
                    break;
                case 'pointermove':
                    if (e.isPrimary && this.pointerId === undefined) {
                        this.pointerId = e.pointerId;
                        x = e.pageX;
                        y = e.pageY;
                    } else {
                        x = this.rotateStart.x;
                        y = this.rotateStart.y;
                    }
                    break;
                default:
                    x = e.pageX;
                    y = e.pageY;
                    break;
            }
            this.rotateBox = true;
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      notRightClick(event) {
        if (event.nativeEvent) {
          return event.nativeEvent.which === 1 || !event.nativeEvent.which;
        } else {
          return event.which === 1 || !event.which || event.buttons === 1;
        }
      },
      onRotate(e) {
        if (this.rotateBox && this.notRightClick(e) && this.isRotateActive) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.pointerId === this.pointerId) {
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.scene.rotation.x += (y - this.rotateStart.y) / 100;
          var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
          if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
            this.scene.rotation.y += (x - this.rotateStart.x) / 100;
          else
            this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
            this.rotateStart.x = x;
            this.rotateStart.y = y;
        }
      },
      endRotate(e) {
        if (!this.notRightClick(e)) {
          return false;
        }
        if (this.pointerId === null) {
          this.rotateBox = false;
        } else if (e.pointerId === this.pointerId) {
          this.pointerId = undefined;
          this.rotateBox = false;
        }
      },
      resize() {
        this.camera.zoom = 1.6;
        this.scene.position.y = 0;
        this.camera.updateProjectionMatrix();
      },
      detectMouseEventName() {
        const isTouch = this.isTouchDevice();
        const isSafari = this.getBrowserName() === 'Safari';
        this.mouseDown = isTouch ? isSafari ? 'touchstart' : 'touchstart' : 'mousedown';
        this.mouseMove = isTouch ? isSafari ? 'touchmove' : 'touchmove' : 'mousemove';
        this.mouseUp = isTouch ? isSafari  ? 'touchend' : 'touchend' : 'mouseup';
      },
      isTouchDevice() {
        return 'ontouchstart' in window || navigator.maxTouchPoints; // check on most browsers || IE10/11 and Surface
      },
      getBrowserName() {
        const edge = !internetExplorer && !!window.StyleMedia; // Edge 20+
        const internetExplorer = /*@cc_on!@*/false || !!document.documentMode ? 'IE' : null; // Internet Explorer 6-11
        const firefox = typeof InstallTrigger !== 'undefined' ? 'Firefox' : null; // Firefox 1.0+
        const opera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ? 'Opera' : null; // Opera 8.0+
        const chrome = !!window.chrome && !!window.chrome.webstore ? 'Chrome' : null; // Chrome 1+
        const safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent) ? 'Safari' : null; // Safari 3.0+ [object HTMLElementConstructor]
        return edge || internetExplorer || firefox || opera || chrome || safari || 'Unknown';
      },
      reset() {
        this.destroyer();
        this.initGeometry();
        this.isDragActive = this.dragControls ? this.dragControls.enabled : false;
        if (!this.isShowTriangle) {
          this.isRotateActive = true
        } else {
          this.isRotateActive = this.orbitControls.enableRotate;
        }
      },
      destroyer() {
        this.labels = [];
        this.labelRenderer = null;
        this.squareMesh = null;
        const labelContainer = document?.querySelector('#label-container');
        labelContainer?.parentElement?.removeChild(labelContainer);
      },
      render() {
        requestAnimationFrame(this.render);
        if (this.renderer) {
          this.renderer.render(this.scene, this.camera);
        }
        if (this.labelRenderer) {
          this.labelRenderer.render(this.scene, this.camera);
        }
      },
      initLabelCoords() {
        this.labelCoords = {
          A: { x: -this.cord, y: this.cord, z: -this.cord },
          B: { x: -this.cord, y: this.cord, z: this.cord },
          C: { x: this.cord, y: this.cord, z: this.cord },
          D: { x: this.cord, y: this.cord, z: -this.cord },
          E: { x: -this.cord, y: -this.cord, z: -this.cord }, // according to design
          F: { x: -this.cord, y: -this.cord, z: this.cord },
          G: { x: this.cord, y: -this.cord, z: this.cord },
          H: { x: this.cord, y: -this.cord, z: -this.cord },
          K: { x: -this.cord, y: -this.cord, z: this.cord, hidden: this.isShowTriangle }, // default K hidden
        };

        this.labelCoords2 = {
          M: { x: -this.cord, y: 0, z: this.cord },
          N: { x: this.cord, y: 0, z: -this.cord }
        };
      },
      initRenderers() {
        this.renderer.setPixelRatio(window.devicePixelRatio);
        this.renderer.setSize(this.rendererWidth, this.rendererHeight);
        document.getElementById('wrapper').appendChild(this.renderer.domElement);

        this.labelRenderer = new CSS2DRenderer();
        this.labelRenderer.setSize(this.rendererWidth, this.rendererHeight);
        this.labelRenderer.domElement.id = 'label-container';
        this.labelRenderer.domElement.className = 'label-container';
        this.labelRenderer.domElement.style.position = 'absolute';
        document.getElementById('wrapper').appendChild(this.labelRenderer.domElement);
      },
      initCameraScene() {
        const w = this.canvas.clientWidth / 250;
        const h = this.canvas.clientHeight / 250;
        const viewSize = h;
        this.aspectRatio = w/h;

        const viewport = {
          left: (-this.aspectRatio * viewSize) / 2,
          right: (this.aspectRatio * viewSize) / 2,
          top: viewSize / 2,
          bottom: -viewSize / 2,
          near: -1000,
          far: 1000
        };

        this.camera = new THREE.OrthographicCamera(
          viewport.left,
          viewport.right,
          viewport.top,
          viewport.bottom,
          viewport.near,
          viewport.far
        );
        this.camera.position.set(0, 0, 5);

        // scene
        this.scene = new THREE.Scene();
        this.scene.background = new THREE.Color(0xffffff);
        this.scene.rotation.set(.17,-.54,0);
        // this.scene.add(new THREE.AxesHelper(5));
      },
      addBox() {
        const boxBufferGeom = new THREE.BoxBufferGeometry(this.boxSize, this.boxSize, this.boxSize);
        const edgeGeom = new THREE.EdgesGeometry(boxBufferGeom);
        const lineGeometry = new LineSegmentsGeometry().setPositions(edgeGeom.attributes.position.array);
        this.lineMat = new LineMaterial({ color: 0x000000, linewidth: 3 });
        this.lineMat.resolution.set(window.innerWidth, window.innerHeight);
        this.boxSegments = new LineSegments2(lineGeometry, this.lineMat);
        this.scene.add(this.boxSegments);

        // box gray layer within
        const boxSize2 = this.boxSize - .01;
        const grayBoxBufferGeom = new THREE.BoxBufferGeometry(boxSize2, boxSize2, boxSize2);
        const grayEdgeGeom = new THREE.EdgesGeometry(grayBoxBufferGeom);
        const grayLineGeometry = new LineSegmentsGeometry().setPositions(grayEdgeGeom.attributes.position.array);
        this.grayLineMat = new LineMaterial({
          color: 0xffffff,
          opacity: .7,
          linewidth: 4,
          transparent: true
        });
        this.grayLineMat.resolution.set(window.innerWidth, window.innerHeight);
        this.scene.add(new LineSegments2(grayLineGeometry, this.grayLineMat));
      },
      addTriangles() {
        // vectors for lines/circle/triangles
        const A = new THREE.Vector3(this.labelCoords.A.x, this.labelCoords.A.y, this.labelCoords.A.z);
        const F = new THREE.Vector3(this.labelCoords.F.x, this.labelCoords.F.y, this.labelCoords.F.z);
        const C = new THREE.Vector3(this.labelCoords.C.x, this.labelCoords.C.y, this.labelCoords.C.z);
        const K = new THREE.Vector3(this.labelCoords.K.x, this.labelCoords.K.y, this.labelCoords.K.z);

        // triangle outline AKC
        this.outGeomAKC = new THREE.BufferGeometry().setFromPoints([A, K, K, C, C, A]);
        this.sgmGeomAKC = new LineSegmentsGeometry().setPositions(this.outGeomAKC.attributes.position.array);
        this.scene.add(new LineSegments2(this.sgmGeomAKC, this.lineMat));

        // angle AFC (side lines)
        const outGeomAFC = new THREE.BufferGeometry().setFromPoints([A, F, F, C]);
        const sgmGeomAFC = new LineSegmentsGeometry().setPositions(outGeomAFC.attributes.position.array);
        this.scene.add(new LineSegments2(sgmGeomAFC, this.lineMat));

        // gray triangle outline AKC
        const grayCord = this.cord - .003;
        const grayA = new THREE.Vector3(-grayCord, grayCord, -grayCord);
        const grayC = new THREE.Vector3(grayCord, grayCord, grayCord);
        const grayK = new THREE.Vector3(-grayCord, -grayCord, grayCord); // default K
        this.grayOutGeomAKC = new THREE.BufferGeometry().setFromPoints([grayA, grayK, grayK, grayC, grayC, grayA]);
        this.graySgmGeomAKC = new LineSegmentsGeometry().setPositions(this.grayOutGeomAKC.attributes.position.array);
        this.grayTriangleOutline = new LineSegments2(this.graySgmGeomAKC, this.grayLineMat);
        this.scene.add(this.grayTriangleOutline);

        // gray angle AFC (side lines)
        const grayF = new THREE.Vector3(-grayCord, -.5, grayCord);
        const grayOutGeomAFC = new THREE.BufferGeometry().setFromPoints([grayA, grayF, grayC, grayF]);
        const graySgmGeomAFC = new LineSegmentsGeometry().setPositions(grayOutGeomAFC.attributes.position.array);
        this.scene.add(new LineSegments2(graySgmGeomAFC, this.grayLineMat));

        // triangle mesh
        this.triangleGeom = new THREE.Geometry();
        this.triangleGeom.vertices.push(A, C, K);
        this.triangleGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
        this.triangleGeom.computeFaceNormals();
        const triangleMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#d2ecfa',
          opacity: .8,
          transparent: true
        });
        this.scene.add(new THREE.Mesh(this.triangleGeom, triangleMat));

        this.addDragSphereCircle();
      },
      addDragSphereCircle() {
        // invisible draggable sphere + css gray circle cover
        const sphereGeom = new THREE.SphereGeometry(.06, 32, 32);
        const sphereMat = new THREE.MeshBasicMaterial({ opacity: 0, transparent: true, color: "#ff0000" });
        this.sphereK = new THREE.Mesh(sphereGeom, sphereMat);
        this.sphereK.renderOrder = 100;
        this.sphereK.position.x = this.labelCoords.K.x;
        this.sphereK.position.y = this.labelCoords.K.y;
        this.sphereK.position.z = this.labelCoords.K.z;
        this.scene.add(this.sphereK)

        const dragCircle = document.createElement('div');
        dragCircle.className = 'drag-circle';
        this.sphereK.add(new CSS2DObject(dragCircle));
      },
      addSquare() {
        const A = new THREE.Vector3(this.labelCoords.A.x, this.labelCoords.A.y, this.labelCoords.A.z);
        const G = new THREE.Vector3(this.labelCoords.G.x, this.labelCoords.G.y, this.labelCoords.G.z);
        const M = new THREE.Vector3(this.labelCoords2.M.x, this.labelCoords2.M.y, this.labelCoords2.M.z);
        const N = new THREE.Vector3(this.labelCoords2.N.x, this.labelCoords2.N.y, this.labelCoords2.N.z);

        // square outline
        const squareOutlineGeom = new THREE.BufferGeometry().setFromPoints([A, M, M, G, G, N, N, A]);
        const squareSgmOutlineGeom = new LineSegmentsGeometry().setPositions(squareOutlineGeom.attributes.position.array);
        this.scene.add(new LineSegments2(squareSgmOutlineGeom, this.lineMat));

        // square gray outline
        const grayCord = this.cord - .003;
        const grayA = new THREE.Vector3(-grayCord, grayCord, -grayCord);
        const grayM = new THREE.Vector3(-grayCord, 0, grayCord);
        const grayG = new THREE.Vector3(grayCord, -grayCord, grayCord);
        const grayN = new THREE.Vector3(grayCord, 0, -grayCord);
        const graySquareOutlineGeom = new THREE.BufferGeometry().setFromPoints([grayA, grayM, grayG, grayN, grayA]);
        this.scene.add(new THREE.Line(graySquareOutlineGeom, this.grayLineMat));

        // square mesh
        const squareGeom = new THREE.Geometry();
        squareGeom.vertices.push(A, M, G, N);
        squareGeom.faces.push(new THREE.Face3( 0, 1, 2 ));
        squareGeom.faces.push(new THREE.Face3( 0, 3, 2 ));
        squareGeom.computeFaceNormals();
        const squareMat = new THREE.MeshBasicMaterial({
          side: THREE.DoubleSide,
          color: '#d2ecfa',
          opacity: .8,
          transparent: true
        });
        this.squareMesh = new THREE.Mesh(squareGeom, squareMat);
        this.scene.add(this.squareMesh);

        this.addLabels(this.labelCoords2);
      },
      addLabels(source) {
        Object.keys(source).forEach(i => {
          const isPointK = i === 'K';
          const indent = 0.1;
          const addIndent = number => number > 0 ? number + indent : number - indent;
          const labelDiv = document.createElement('div');
          const point = source[i];
          labelDiv.textContent = i;
          labelDiv.className = 'label';
          labelDiv.style.opacity = point.hidden ? '0' : '1';
          labelDiv.style.color = 'black';
          labelDiv.style.marginTop = isPointK ? '-.9em' : '';
          const label = new CSS2DObject(labelDiv);

          if (isPointK && this.isShowTriangle) {
            this.sphereK.add(label);
            label.position.set(-.1, -.1, .15);
          } else if (!isPointK) {
            this.boxSegments.add(label);
            const y = i === 'E' && !this.isShowTriangle ? point.y : point.y;
            label.position.set(
              addIndent(point.x),
              addIndent(y),
              addIndent(point.z)
            );
          }

          this.labels.push(label);
        });
      },
      addControls() {
        const labelK = this.labels[8].element.style;
        this.orbitControls = new OrbitControls(this.camera, this.labelRenderer.domElement);
        this.orbitControls.enableZoom = false;
        this.orbitControls.enableRotate = false; // default
        this.orbitControls.enablePan = false; // default (right click dragging)
        this.orbitControls.mouseButtons = {
          LEFT: THREE.MOUSE.LEFT,
          RIGHT: THREE.MOUSE.LEFT, // default right click rotate
          MIDDLE: THREE.MOUSE.MIDDLE
        };

        if (!this.isShowTriangle) {
          this.isRotateActive = true
        }

        if (this.isShowTriangle) {
          this.dragControls = new DragControls([this.sphereK], this.camera, this.labelRenderer.domElement);
          this.dragControls.enabled = this.isDragActive; // default

          this.dragControls.addEventListener('dragstart', () => {
            this.orbitControls.enabled = false;
          });
          this.dragControls.addEventListener('dragend', () => {
            this.orbitControls.enabled = true;
          });

          this.dragControls.addEventListener ('drag', event => {
            // limit moving on axes
            event.object.position.x = this.labelCoords.K.x;
            event.object.position.z = this.labelCoords.K.z;
            const posY = event.object.position.y;
            if (posY < -this.cord) {
              event.object.position.y = -this.cord;
            } else if (posY > this.cord) {
              event.object.position.y = this.cord;
            }

            // hiding К label
            const between = event.object.position.y > -this.cord && event.object.position.y < this.cord;
            labelK.opacity = between ? 1 : 0;

            // hiding gray AKC
            this.grayTriangleOutline.visible = posY < this.cord;

            this.moveTriangles(event.object.position.y); // using reassigned position
          });
        }
      },
      moveTriangles(y) {
        this.triangleGeom.vertices[2].setY(y);
        this.triangleGeom.verticesNeedUpdate = true;

        [this.outGeomAKC, this.grayOutGeomAKC].forEach(i => {
          i.attributes.position.array[4] = y;
          i.attributes.position.array[7] = y;
        });

        this.sgmGeomAKC.setPositions(this.outGeomAKC.attributes.position.array);
        this.graySgmGeomAKC.setPositions(this.grayOutGeomAKC.attributes.position.array);
      },
    },
    beforeMount() {
      this.initLabelCoords();
    },
    mounted() {
      this.canvas = document.getElementById('c');
      this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
      this.initGeometry();
    },
    created() {
      this.detectMouseEventName();
    },
    destroyed() {
      this.destroyer();
    }
  }
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
  #action1 {
    background-image: url("../assets/s2-24-drag.svg");
  }
  #action1.active {
    background-image: url("../assets/s2-24-drag-active.svg");
  }
  #action2 {
    background-image: url("../assets/s2-24-rotate.svg");
  }
  #action2.active {
    background-image: url("../assets/s2-24-rotate-active.svg");
  }
</style>
