<template>
  <div class="project-wrap">
    <div class="project-view">
      <div id="wrapper">
        <canvas id="c"></canvas>
      </div>
      <div class="actions">
        <button id="action2" @click="toggleOAH()" v-bind:class="{active: isVisibleOAH}"></button>
        <button id="action-reset" @click="reset()" ref="resetBtn"></button>
      </div>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { CSS2DObject, CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';
import { LineGeometry } from "three/examples/jsm/lines/LineGeometry";
import { Line2 } from "three/examples/jsm/lines/Line2";

export default {
  name: 's3-24',
  data() {
    return {
      canvas: null,
      camera: null,
      scene: null,
      renderer: null,
      labelRenderer: null,
      aspectRatio: null,
      orbitControls: null,
      labelCoords: null,
      meshOAH: null,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      lineAC: null,
      lineBD: null,
      labels: [],
      boxSize: 1,
      isVisibleOAH: false,
      rendererWidth: 1024,
      rendererHeight: 768,
      lineKeys: [
        ['A', 'B'], ['B', 'C'], ['C', 'D'], ['A', 'D'],
        ['A', 'C'], ['B', 'D'],
        ['A', 'O'], ['B', 'O'], ['C', 'O'], ['D', 'O'],
      ],
    }
  },
  methods: {
    initGeometry() {
      this.initRenderers();
      this.initCameraScene();
      this.addCone(); // first layer
      this.addDashedLines(); // second layer
      this.addLines(); // third layer
      this.addLabels();
      this.addControls();
      this.resize(); // default zoom
      this.initListeners();
      document.getElementById('label-container').addEventListener(this.mouseDown, this.startRotate);
      document.getElementById('label-container').addEventListener(this.mouseMove, this.onRotate);
      document.getElementById('label-container').addEventListener(this.mouseUp, this.endRotate);
      window.addEventListener(this.mouseUp, this.endRotate);
      requestAnimationFrame(this.render); // execute rendering
    },
    initListeners() {
      const wrapper = document.getElementById('wrapper');
      if (wrapper) {
        wrapper.addEventListener(this.mouseMove, this.toggleDashedLines);
      }
    },
    toggleDashedLines() {
      const rotation = this.camera.rotation;
      if (rotation) {
        if (this.lineAC && this.lineBD) {
          const materialAC = this.lineAC.material;
          const materialBD = this.lineBD.material;
          if (rotation.x < 0) {
            materialAC.defines.USE_DASH = '';
            materialBD.defines.USE_DASH = '';
          } else {
            delete materialAC.defines.USE_DASH;
            delete materialBD.defines.USE_DASH;
          }
          materialAC.needsUpdate = true;
          materialBD.needsUpdate = true;
        }
      }
    },
    toggleOAH() {
      this.isVisibleOAH = !this.isVisibleOAH;
      this.meshOAH.visible = this.isVisibleOAH;
    },
    resize() {
      //const width = window.innerWidth;
      // if (width < 610 && width >= 400) {
      //   this.camera.zoom = .68;
      // } else if (width < 400 && width >= 300) {
      //   this.camera.zoom = .6;
      // } else if (width < 300) {
      //   this.camera.zoom = .4;
      // } else if (window.innerHeight < 630) {
      //   this.camera.zoom = .5 ;
      // } else {
      //   this.camera.zoom = .75;
      // }
      this.camera.zoom = .9;
      this.camera.updateProjectionMatrix();
    },
    reset() {
      this.destroyer();
      this.initGeometry();
    },
    destroyer() {
      this.labels = [];
      this.lineAC = null;
      this.lineBD = null;
      this.labelRenderer = null;
      this.meshOAH = null;
      this.isVisibleOAH = false;
      const labelContainer = document?.querySelector('#label-container');
      labelContainer?.parentElement?.removeChild(labelContainer);
    },
    render() {
      requestAnimationFrame(this.render);
      if (this.renderer) {
        this.renderer.render(this.scene, this.camera);
      }
      if (this.labelRenderer) {
        this.labelRenderer.render(this.scene, this.camera);
      }
    },
    meshMaterial(color) {
      return new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        depthTest: false, // important for correct mesh displaying
        transparent: true,
        opacity: .6,
        color,
        // polygonOffset: true,
        // polygonOffsetFactor: 1,
        // polygonOffsetUnits: 1,
      });
    },
    initLabelCoords() {
      this.labelCoords = {
        A: { x: 0, y: -this.boxSize, z: this.boxSize },
        B: { x: this.boxSize, y: -this.boxSize, z: 0 },
        C: { x: 0, y: -this.boxSize, z: -this.boxSize },
        D: { x: -this.boxSize, y: -this.boxSize, z: 0 },
        H: { x: 0, y: -this.boxSize, z: 0 },
        O: { x: 0, y: this.boxSize, z: 0 },
      }
    },
    initRenderers() {
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      document.getElementById('wrapper').appendChild(this.renderer.domElement);

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.rendererWidth, this.rendererHeight);
      this.labelRenderer.domElement.id = 'label-container';
      this.labelRenderer.domElement.className = 'label-container';
      this.labelRenderer.domElement.style.position = 'absolute';
      document.getElementById('wrapper').appendChild(this.labelRenderer.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 250;
      const h = this.canvas.clientHeight / 250;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      }

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );

      this.camera.position.set(0, 0, 5);

      // scene
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xffffff);
      //this.scene.rotateY(-.47);
      this.scene.rotation.set(.34, -1.01, 0);
    },
    addCone() {
      const coneGeom = new THREE.ConeGeometry(.98, 2, 4);
      const material = new THREE.MeshBasicMaterial({
        color: false,
        side: THREE.DoubleSide,
        depthTest: true, // important for correct dash displaying
        // polygonOffset: true,
        // polygonOffsetFactor: 1,
        // polygonOffsetUnits: 1,
      });
      this.scene.add(new THREE.Mesh(coneGeom, material));
    },
    addDashedLines() {
      this.lineKeys.forEach(keys => {
        const key = keys[0] + keys[1];
        const coordinates = i => Object.values(this.labelCoords[keys[i]]);
        const positions = coordinates(0).concat(coordinates(1));
        this.addDashedLine(positions, key);
      });
    },
    addDashedLine(positions, key) {
      const geometry = new LineGeometry();
      geometry.setPositions(positions);
      const line = new Line2(geometry, this.lineDashedMaterial());
      line.computeLineDistances();
      if (key === 'AC') {
        this.lineAC = line;
      }
      if (key === 'BD') {
        this.lineBD = line;
      }
      this.scene.add(line);
    },
    lineDashedMaterial() {
      const material = new LineMaterial({
        dashed: false,
        color: 0x999999,
        linewidth: .002,
        dashSize: 0,
        gapSize: 0,
        depthTest: false,
      });
      material.defines.USE_DASH = '';
      material.needsUpdate = true;
      return material;
    },
    addLines() {
      this.lineKeys.forEach(keys => {
        const start = this.labelCoords[keys[0]];
        const end = this.labelCoords[keys[1]];
        const vectorStart = new THREE.Vector3(start.x, start.y, start.z);
        const vectorEnd = new THREE.Vector3(end.x, end.y, end.z);
        const line = this.addLine([vectorStart, vectorEnd]);
        this.scene.add(line);
      });

      // triangle mesh
      const A = new THREE.Vector3(this.labelCoords.A.x, this.labelCoords.A.y, this.labelCoords.A.z);
      const O = new THREE.Vector3(this.labelCoords.O.x, this.labelCoords.O.y, this.labelCoords.O.z);
      const H = new THREE.Vector3(this.labelCoords.H.x, this.labelCoords.H.y, this.labelCoords.H.z);

      const lines = [ [O, H], [A, H] ].map(i => this.addLine(i, true));
      lines.forEach(i => this.scene.add(i));

      const triangleOAH = new THREE.Geometry();
      triangleOAH.vertices.push(O, A, H);
      triangleOAH.faces.push(new THREE.Face3( 0, 1, 2 ));
      triangleOAH.computeFaceNormals();
      this.meshOAH = new THREE.Mesh(triangleOAH, this.meshMaterial('#b6dc1b'));
      this.meshOAH.visible = this.isVisibleOAH;
      this.scene.add(this.meshOAH);

      // angle H
      const angleCord = .1;
      const cH = this.labelCoords.H;

      const h1 = new THREE.Vector3(cH.x, cH.y + angleCord, cH.z);
      const h2 = new THREE.Vector3(cH.x, cH.y + angleCord, cH.z + angleCord);
      const h3 = new THREE.Vector3(cH.x, cH.y, cH.z + angleCord);

      const angleH = new THREE.BufferGeometry().setFromPoints([h1, h2, h2, h3]);
      const sgmH = new LineSegmentsGeometry().setPositions(angleH.attributes.position.array);
      this.scene.add(new LineSegments2(sgmH, this.lineMaterial(true)));
    },
    addLine(points, isDisableDepthTest) {
      const buffer = new THREE.BufferGeometry().setFromPoints(points);
      const segments = new LineSegmentsGeometry().setPositions(buffer.attributes.position.array);
      return new LineSegments2(segments, this.lineMaterial(isDisableDepthTest));
    },
    lineMaterial(isDisableDepthTest) {
      const material = new LineMaterial({
        color: 0x000000,
        linewidth: 4,
        depthTest: !isDisableDepthTest, // important for correct dash displaying
        // polygonOffset: true,
        // polygonOffsetFactor: 1,
        // polygonOffsetUnits: 1
      });
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    addLabels() {
      const source = this.labelCoords;
      Object.keys(source).forEach(i => {
        const indent = 0.1;
        const addIndent = number => number > 0 ? number + indent : number - indent;
        const labelDiv = document.createElement('div');
        const point = source[i];
        labelDiv.textContent = i;
        labelDiv.className = 'label';
        labelDiv.style.opacity = point.hidden ? '0' : '1';
        labelDiv.style.color = 'black';
        const label = new CSS2DObject(labelDiv);
        this.scene.add(label);
        const x = i === 'O' ? point.x - .05 : i === 'C' ? point.x + .01 : point.x;
        const y = i === 'D' || i === 'H' ? point.y - .07 : point.y;
        label.position.set(
          addIndent(x),
          addIndent(y),
          addIndent(point.z)
        );
        this.labels.push(label);
      });
    },
    addControls() {
      this.orbitControls = new OrbitControls(this.camera, this.labelRenderer.domElement);
      this.orbitControls.enableZoom = false;
      this.orbitControls.enableRotate = false;
      this.orbitControls.enablePan = false; // default (right click dragging)
      this.orbitControls.mouseButtons = {
        LEFT: THREE.MOUSE.LEFT,
        RIGHT: THREE.MOUSE.LEFT, // default right click rotate
        MIDDLE: THREE.MOUSE.MIDDLE
      }
    },
    // utilities
    detectMouseEventName() {
      const isTouch = this.isTouchDevice();
      const isSafari = this.getBrowserName() === 'Safari';
      this.mouseDown = isTouch ? isSafari ? 'touchstart' : 'touchstart' : 'mousedown';
      this.mouseMove = isTouch ? isSafari ? 'touchmove' : 'touchmove' : 'mousemove';
      this.mouseUp = isTouch ? isSafari  ? 'touchend' : 'touchend' : 'mouseup';
    },
    // check touch device
    isTouchDevice() {
      return 'ontouchstart' in window || navigator.maxTouchPoints; // check on most browsers || IE10/11 and Surface
    },
    // check browser
    getBrowserName() {
      const edge = !internetExplorer && !!window.StyleMedia; // Edge 20+
      const internetExplorer = /*@cc_on!@*/false || !!document.documentMode ? 'IE' : null; // Internet Explorer 6-11
      const firefox = typeof InstallTrigger !== 'undefined' ? 'Firefox' : null; // Firefox 1.0+
      const opera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ? 'Opera' : null; // Opera 8.0+
      const chrome = !!window.chrome && !!window.chrome.webstore ? 'Chrome' : null; // Chrome 1+
      const safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent) ? 'Safari' : null; // Safari 3.0+ [object HTMLElementConstructor]
      return edge || internetExplorer || firefox || opera || chrome || safari || 'Unknown';
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
  },
  created() {
    this.detectMouseEventName();
  },
  beforeMount() {
    this.initLabelCoords();
  },
  mounted() {
    this.canvas = document.getElementById('c');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    this.initGeometry();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
  #action2 {
    background-image: url("../assets/s3-24-OAH.svg");
  }
  #action2.active {
    background-image: url("../assets/s3-24-OAH-active.svg");
  }
  ::v-deep .label {
    font-family: "Times New Roman";
  }
  .actions {
    right: 10% !important;
  }

</style>
