<template>
  <div>
    <div class="project-wrap">
      <div class="project-view">
        <div id="wrapper">
          <canvas id="c"></canvas>
        </div>
      </div>
    </div>
    <div class="actions">
      <button v-if="isShowTriangle" id="action1" @click="toggleBFH()" v-bind:class="{active: isVisibleBFH}"></button>
      <button v-if="isShowTriangle" id="action2" @click="toggleFGH()" v-bind:class="{active: isVisibleFGH}"></button>
      <button id="action-reset" @click="reset()" ref="resetBtn"></button>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import { CSS2DObject, CSS2DRenderer } from 'three/examples/jsm/renderers/CSS2DRenderer';
import { LineSegmentsGeometry } from 'three/examples/jsm/lines/LineSegmentsGeometry';
import { LineMaterial } from 'three/examples/jsm/lines/LineMaterial';
import { LineSegments2 } from 'three/examples/jsm/lines/LineSegments2';

export default {
  name: 's3-23',
  props: {
    isShowTriangle: Boolean
  },
  data() {
    return {
      canvas: null,
      camera: null,
      renderer: null,
      labelRenderer: null,
      boxSegments: null,
      aspectRatio: null,
      orbitControls: null,
      labelCoords: null,
      meshBFH: null,
      meshFGH: null,
      labels: [],
      boxSize: 1,
      cord: .5, // boxSize/2
      rendererWidth: 1024,
      rendererHeight: 868,
      isMounted: false,
      isVisibleBFH: false,
      isVisibleFGH: false,
      mouseDown: null,
      mouseMove: null,
      mouseUp: null,
      rotateBox: false,
      rotateStart: {
        x: 0,
        y: 0
      },
      angleF: null,
      angleG: null,
    }
  },
  methods: {
    initGeometry() {
      this.initRenderers();
      this.initCameraScene();
      this.addBox();

      if (this.isShowTriangle) {
        this.addTriangles();
      } else {
        this.addLines();
      }

      this.addLabels(this.labelCoords);
      this.addControls();
      this.resize(); // default zoom
      document.getElementById('label-container').addEventListener(this.mouseDown, this.startRotate);
      document.getElementById('label-container').addEventListener(this.mouseMove, this.onRotate);
      document.getElementById('label-container').addEventListener(this.mouseUp, this.endRotate);
      window.addEventListener(this.mouseUp, this.endRotate);
      requestAnimationFrame(this.render); // execute rendering
    },
    toggleBFH() {
      this.isVisibleBFH = !this.isVisibleBFH;
      this.meshBFH.visible = this.isVisibleBFH;
      this.angleF.visible = !this.angleF.visible
    },
    toggleFGH() {
      this.isVisibleFGH = !this.isVisibleFGH;
      this.meshFGH.visible = this.isVisibleFGH;
      this.angleG.visible = !this.angleG.visible
    },
    resize() {
      this.camera.zoom = 1.15;
      this.camera.updateProjectionMatrix();
    },
    reset() {
      this.isVisibleBFH = false;
      this.isVisibleFGH = false;
      this.angleF.visible = false
      this.angleG.visible = false
      this.destroyer();
      this.initGeometry();
    },
    destroyer() {
      this.labels = [];
      this.labelRenderer = null;
      this.meshBFH = null;
      this.meshFGH = null;
      const labelContainer = document?.querySelector('#label-container');
      labelContainer?.parentElement?.removeChild(labelContainer);
    },
    render() {
      requestAnimationFrame(this.render);
      if (this.renderer) {
        this.renderer.render(this.scene, this.camera);
      }
      if (this.labelRenderer) {
        this.labelRenderer.render(this.scene, this.camera);
      }
    },
    lineMaterial(params) {
      const material = new LineMaterial(params);
      material.resolution.set(window.innerWidth, window.innerHeight);
      return material;
    },
    meshMaterial(color) {
      return new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        transparent: true,
        opacity: .9,
        color
      });
    },
    initLabelCoords() {
      this.labelCoords = {
        A: { x: -this.boxSize, y: this.cord, z: -this.cord },
        B: { x: -this.boxSize, y: this.cord, z: this.cord },
        C: { x: this.boxSize, y: this.cord, z: this.cord },
        D: { x: this.boxSize, y: this.cord, z: -this.cord },
        E: { x: -this.boxSize, y: -this.cord, z: -this.cord },
        F: { x: -this.boxSize, y: -this.cord, z: this.cord },
        G: { x: this.boxSize, y: -this.cord, z: this.cord },
        H: { x: this.boxSize, y: -this.cord, z: -this.cord }
      }
    },
    initRenderers() {
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.rendererWidth, this.rendererHeight);
      document.getElementById('wrapper').appendChild(this.renderer.domElement);

      this.labelRenderer = new CSS2DRenderer();
      this.labelRenderer.setSize(this.rendererWidth, this.rendererHeight);
      this.labelRenderer.domElement.id = 'label-container';
      this.labelRenderer.domElement.className = 'label-container';
      this.labelRenderer.domElement.style.position = 'absolute';
      document.getElementById('wrapper').appendChild(this.labelRenderer.domElement);
    },
    initCameraScene() {
      const w = this.canvas.clientWidth / 250;
      const h = this.canvas.clientHeight / 250;
      const viewSize = h;
      this.aspectRatio = w/h;

      const viewport = {
        left: (-this.aspectRatio * viewSize) / 2,
        right: (this.aspectRatio * viewSize) / 2,
        top: viewSize / 2,
        bottom: -viewSize / 2,
        near: -1000,
        far: 1000
      };

      this.camera = new THREE.OrthographicCamera(
        viewport.left,
        viewport.right,
        viewport.top,
        viewport.bottom,
        viewport.near,
        viewport.far
      );

      this.camera.position.set(0, 0, 5);

      // scene
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xffffff);
      this.scene.rotation.set(.33, this.isShowTriangle ? -.24 : .66 , 0)
    },
    addBox() {
      const boxBufferGeom = new THREE.BoxBufferGeometry(this.boxSize*2, this.boxSize, this.boxSize);
      const edgeGeom = new THREE.EdgesGeometry(boxBufferGeom);
      const lineGeometry = new LineSegmentsGeometry().setPositions(edgeGeom.attributes.position.array);
      this.boxSegments = new LineSegments2(lineGeometry, this.lineMaterial({ color: 0x000000, linewidth: 4 }));
      this.scene.add(this.boxSegments);

      // box gray layer within
      const boxSize2 = this.boxSize - .005;
      const grayBoxBufferGeom = new THREE.BoxBufferGeometry(boxSize2*2, boxSize2, boxSize2);
      const grayEdgeGeom = new THREE.EdgesGeometry(grayBoxBufferGeom);
      const grayLineGeometry = new LineSegmentsGeometry().setPositions(grayEdgeGeom.attributes.position.array);
      const grayLineMat = this.lineMaterial({
        color: 0xffffff,
        opacity: .7,
        linewidth: 4,
        transparent: true
      });
      this.scene.add(new LineSegments2(grayLineGeometry, grayLineMat));
    },
    addTriangles() {
      // vectors for lines
      const B = new THREE.Vector3(this.labelCoords.B.x, this.labelCoords.B.y, this.labelCoords.B.z);
      const F = new THREE.Vector3(this.labelCoords.F.x, this.labelCoords.F.y, this.labelCoords.F.z);
      const G = new THREE.Vector3(this.labelCoords.G.x, this.labelCoords.G.y, this.labelCoords.G.z);
      const H = new THREE.Vector3(this.labelCoords.H.x, this.labelCoords.H.y, this.labelCoords.H.z);

      const Fm = new THREE.Vector3(this.labelCoords.F.x + 0.01, this.labelCoords.F.y, this.labelCoords.F.z);
      const Hm = new THREE.Vector3(this.labelCoords.H.x, this.labelCoords.H.y, this.labelCoords.H.z + 0.01);

      const Fm2 = new THREE.Vector3(this.labelCoords.F.x, this.labelCoords.F.y + .01, this.labelCoords.F.z);
      const Hm2 = new THREE.Vector3(this.labelCoords.H.x, this.labelCoords.H.y + .01, this.labelCoords.H.z);

      const colorBH = '#ef875c';
      const BH = new THREE.BufferGeometry().setFromPoints([B, Hm2]);
      const sgmBH = new LineSegmentsGeometry().setPositions(BH.attributes.position.array);
      this.scene.add(new LineSegments2(sgmBH, this.lineMaterial({ color: colorBH, linewidth: 5 })));

      const colorFH = '#2aaeeb';
      const FH = new THREE.BufferGeometry().setFromPoints([F, H]);
      const sgmFH = new LineSegmentsGeometry().setPositions(FH.attributes.position.array);
      this.scene.add(new LineSegments2(sgmFH, this.lineMaterial({ color: colorFH, linewidth: 5 })));

      // triangles mesh
      const triangleBFH = new THREE.Geometry();
      triangleBFH.vertices.push(B, Fm2, Hm2);
      triangleBFH.faces.push(new THREE.Face3( 0, 1, 2 ));
      triangleBFH.computeFaceNormals();
      this.meshBFH = new THREE.Mesh(triangleBFH, this.meshMaterial('#fceded'));
      this.meshBFH.visible = this.isVisibleBFH;
      this.scene.add(this.meshBFH);

      const triangleFGH = new THREE.Geometry();
      triangleFGH.vertices.push(Fm, G, Hm);
      triangleFGH.faces.push(new THREE.Face3( 0, 1, 2 ));
      triangleFGH.computeFaceNormals();
      this.meshFGH = new THREE.Mesh(triangleFGH, this.meshMaterial('#eaf5fc'));
      this.meshFGH.visible = this.isVisibleFGH;
      this.scene.add(this.meshFGH);

      // angles F/G
      const angleCord = .1;
      const cF = this.labelCoords.F;
      const cG = this.labelCoords.G;

      const f1 = new THREE.Vector3(cF.x, cF.y + angleCord, cF.z);
      const f2 = new THREE.Vector3(cF.x + angleCord, cF.y + angleCord, cF.z - angleCord/2);
      const f3 = new THREE.Vector3(cF.x + angleCord, cF.y, cF.z - angleCord/2);

      const g1 = new THREE.Vector3(cG.x, cG.y, cG.z - angleCord);
      const g2 = new THREE.Vector3(cG.x - angleCord, cG.y, cG.z - angleCord);
      const g3 = new THREE.Vector3(cG.x - angleCord, cG.y, cG.z);

      const angleF = new THREE.BufferGeometry().setFromPoints([f1, f2, f2, f3]);
      const sgmF = new LineSegmentsGeometry().setPositions(angleF.attributes.position.array);
      this.angleF = new LineSegments2(sgmF, this.lineMaterial({ color: colorBH, linewidth: 3 }))
      this.scene.add(this.angleF);

      const angleG = new THREE.BufferGeometry().setFromPoints([g1, g2, g2, g3]);
      const sgmG = new LineSegmentsGeometry().setPositions(angleG.attributes.position.array);
      this.angleG = new LineSegments2(sgmG, this.lineMaterial({ color: colorFH, linewidth: 3 }))
      this.scene.add(this.angleG);
      this.angleF.visible = false
      this.angleG.visible = false
    },
    addLines() {
      const E = new THREE.Vector3(this.labelCoords.E.x, this.labelCoords.E.y, this.labelCoords.E.z);
      const C = new THREE.Vector3(this.labelCoords.C.x, this.labelCoords.C.y, this.labelCoords.C.z);
      const F = new THREE.Vector3(this.labelCoords.F.x, this.labelCoords.F.y, this.labelCoords.F.z);
      const D = new THREE.Vector3(this.labelCoords.D.x, this.labelCoords.D.y, this.labelCoords.D.z);

      const lineMat = this.lineMaterial({ color: '#ef875c', linewidth: 5 });

      const EC = new THREE.BufferGeometry().setFromPoints([E, C]);
      const sgmEC = new LineSegmentsGeometry().setPositions(EC.attributes.position.array);
      this.scene.add(new LineSegments2(sgmEC, lineMat));

      const DF = new THREE.BufferGeometry().setFromPoints([D, F]);
      const sgmDF = new LineSegmentsGeometry().setPositions(DF.attributes.position.array);
      this.scene.add(new LineSegments2(sgmDF, lineMat));
    },
    addLabels(source) {
      Object.keys(source).forEach(i => {
        const indent = 0.1;
        const addIndent = number => number > 0 ? number + indent : number - indent;
        const labelDiv = document.createElement('div');
        const point = source[i];
        labelDiv.textContent = i;
        labelDiv.className = 'label';
        labelDiv.style.opacity = point.hidden ? '0' : '1';
        labelDiv.style.color = 'black';
        const label = new CSS2DObject(labelDiv);
        this.boxSegments.add(label);
        let x = point.x;
        let y = point.y;

        if (i === 'C') {
          x = point.x - .1;
          y =  point.y + .1;
        } else if (i === 'E') {
          x =  point.x - .05;
          y =  point.y + .1;
        } else if (i === 'B') {
          x =  point.x - .1;
          y =  point.y - .15;
        } else if (i === 'H' && !this.isShowTriangle) {
          x =  point.x + .15;
          y =  point.y + .1;
        }

        label.position.set(
          addIndent(x),
          addIndent(y),
          addIndent(point.z)
        );
        this.labels.push(label);
      });
    },
    addControls() {
      this.orbitControls = new OrbitControls(this.camera, this.labelRenderer.domElement);
      this.orbitControls.enableZoom = false;
      this.orbitControls.enablePan = false; // default (right click dragging)
      this.orbitControls.enableRotate = false;
      this.orbitControls.mouseButtons = {
        LEFT: THREE.MOUSE.LEFT,
        RIGHT: THREE.MOUSE.LEFT, // default right click rotate
        MIDDLE: THREE.MOUSE.MIDDLE
      }
    },
    detectMouseEventName() {
      const isTouch = this.isTouchDevice();
      const isSafari = this.getBrowserName() === 'Safari';
      this.mouseDown = isTouch ? isSafari ? 'touchstart' : 'touchstart' : 'mousedown';
      this.mouseMove = isTouch ? isSafari ? 'touchmove' : 'touchmove' : 'mousemove';
      this.mouseUp = isTouch ? isSafari  ? 'touchend' : 'touchend' : 'mouseup';
    },
    // check touch device
    isTouchDevice() {
      return 'ontouchstart' in window || navigator.maxTouchPoints; // check on most browsers || IE10/11 and Surface
    },
    // check browser
    getBrowserName() {
      const edge = !internetExplorer && !!window.StyleMedia; // Edge 20+
      const internetExplorer = /*@cc_on!@*/false || !!document.documentMode ? 'IE' : null; // Internet Explorer 6-11
      const firefox = typeof InstallTrigger !== 'undefined' ? 'Firefox' : null; // Firefox 1.0+
      const opera = (!!window.opr) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ? 'Opera' : null; // Opera 8.0+
      const chrome = !!window.chrome && !!window.chrome.webstore ? 'Chrome' : null; // Chrome 1+
      const safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent) ? 'Safari' : null; // Safari 3.0+ [object HTMLElementConstructor]
      return edge || internetExplorer || firefox || opera || chrome || safari || 'Unknown';
    },
    startRotate(e) {
      if (this.notRightClick(e)) {
          var x, y;
          switch (this.mouseMove) {
              case 'touchmove':
                  x = e.targetTouches[0].clientX;
                  y = e.targetTouches[0].clientY;
                  break;
              case 'pointermove':
                  if (e.isPrimary && this.pointerId === undefined) {
                      this.pointerId = e.pointerId;
                      x = e.pageX;
                      y = e.pageY;
                  } else {
                      x = this.rotateStart.x;
                      y = this.rotateStart.y;
                  }
                  break;
              default:
                  x = e.pageX;
                  y = e.pageY;
                  break;
          }
          this.rotateBox = true;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    notRightClick(event) {
      if (event.nativeEvent) {
        return event.nativeEvent.which === 1 || !event.nativeEvent.which;
      } else {
        return event.which === 1 || !event.which || event.buttons === 1;
      }
    },
    onRotate(e) {
      if (this.rotateBox && this.notRightClick(e)) {
        var x, y;
        switch (this.mouseMove) {
            case 'touchmove':
                x = e.targetTouches[0].clientX;
                y = e.targetTouches[0].clientY;
                break;
            case 'pointermove':
                if (e.pointerId === this.pointerId) {
                    x = e.pageX;
                    y = e.pageY;
                } else {
                    x = this.rotateStart.x;
                    y = this.rotateStart.y;
                }
                break;
            default:
                x = e.pageX;
                y = e.pageY;
                break;
        }
        this.scene.rotation.x += (y - this.rotateStart.y) / 100;
        var degX = Math.abs(this.scene.rotation.x % (2 * Math.PI));
        if (degX <= Math.PI / 2 || degX >= Math.PI * 1.5)
          this.scene.rotation.y += (x - this.rotateStart.x) / 100;
        else
          this.scene.rotation.y -= (x - this.rotateStart.x) / 100;
          this.rotateStart.x = x;
          this.rotateStart.y = y;
      }
    },
    endRotate(e) {
      if (!this.notRightClick(e)) {
        return false;
      }
      if (this.pointerId === null) {
        this.rotateBox = false;
      } else if (e.pointerId === this.pointerId) {
        this.pointerId = undefined;
        this.rotateBox = false;
      }
    },
  },
  beforeMount() {
    this.initLabelCoords();
  },
  mounted() {
    this.canvas = document.getElementById('c');
    this.renderer = new THREE.WebGLRenderer({ antialias: true, autoSize: true, canvas: this.canvas });
    this.initGeometry();
  },
  created() {
    this.detectMouseEventName();
  },
  destroyed() {
    this.destroyer();
  }
}
</script>

<style src="../assets/styles/common3d.css" scoped></style>
<style src="../assets/styles/global.css" scoped></style>
<style src="../assets/styles/action-buttons.css" scoped></style>

<style scoped>
  #action1 {
    background-image: url("../assets/s3-23-BFH.svg");
  }
  #action1.active {
    background-image: url("../assets/s3-23-BFH-active.svg");
  }
  #action2 {
    background-image: url("../assets/s3-23-FGH.svg");
  }
  #action2.active {
    background-image: url("../assets/s3-23-FGH-active.svg");
  }

  @media (max-width: 500px) {
    .actions {
      top: 600px;
    }
  }
</style>
