<template>
  <div id="app">
    <div id="nav">
      <router-link to="/s1-10">s1-10</router-link> |
      <router-link to="/s1-14">s1-14</router-link> |
      <router-link to="/s1-16">s1-16</router-link> |
      <router-link to="/">s1-17</router-link> |
      <router-link to="/s1-18">s1-18</router-link> |
      <router-link to="/s1-19">s1-19</router-link> |
      <router-link to="/s1-20">s1-20</router-link> <!-- |
       <router-link to="/s1-21">s1-21</router-link> |
      <router-link to="/s1-22">s1-22</router-link> |
      <router-link to="/s1-24">s1-24</router-link> |
      <router-link to="/s1-25">s1-25</router-link> |
      <router-link to="/s1-26">s1-26</router-link> |
      <router-link to="/s1-27">s1-27</router-link> |
      <router-link to="/s1-28">s1-28</router-link> |
      <router-link to="/s1-29">s1-29</router-link> |
      <router-link to="/s2-15">s2-15</router-link> |
      <router-link to="/s2-24">s2-24</router-link> |
      <router-link to="/s2-26">s2-26</router-link> |
      <router-link to="/s3-22">s3-22</router-link> |
      <router-link to="/s3-23">s3-23</router-link> |
      <router-link to="/s3-24">s3-24</router-link> |
      <router-link to="/a1-09">a1-9</router-link> -->
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: ITC Century Std, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-weight: 400;
}

#nav {
  padding: 30px;
  position: relative;
  z-index: 100;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
#stage_0 {
  margin: 0 auto;
}
#stage_0, #stage_1 {
  position: relative;
  width: 1280px;
  height: 960px;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}
::v-deep canvas {
  touch-action: none;
}
</style>
