::v-deep .actions {
  position: absolute;
  width: 223px;
  bottom: 10%;
  right: 0%;
}
.actions > button, .move-controls > button, .center > button {
  display: block;
  width: 223px;
  height: 90px;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}
.actions > button:not(:last-child) {
  margin-bottom: 20px;
}
#action-reset {
  background-image: url("../reset-button.svg");
}
#action-reset:active {
  background-image: url("../reset-button-active.svg");
}
#action-reset.disabled {
  pointer-events: none;
  background-image: url("../reset.svg");
}
.move-controls {
  display: flex;
  justify-content: center;
}
.move-controls > button {
  z-index: 1;
}
.move-up {
  background-image: url("../buttons-up-down/up.svg");
}
.move-up:active {
  background-image: url("../buttons-up-down/up-active.svg");
}
.move-up.disabled {
  pointer-events: none;
  background-image: url("../buttons-up-down/up-disabled.svg");
}
.move-down {
  margin-right: 15px;
  background-image: url("../buttons-up-down/down.svg");
}
.move-down:active {
  background-image: url("../buttons-up-down/down-active.svg");
}
.move-down.disabled {
  pointer-events: none;
  background-image: url("../buttons-up-down/down-disabled.svg");
}
/*@media (max-width: 800px) and (min-height: 900px) {
  .actions {
    top: 60%;
    right: 10%;
  }
}
@media (max-height: 768px) {
  .actions {
    right: 50px;
  }
}*/