.project-wrap {
  position: absolute;
  max-width: 1024px;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  margin: 75px auto 0;
  transform:  translateX(-50%);
  min-width: 100vw;
}
.project-view {
  width: 100%;
  height: 100%;
  position: relative;
}
#three_view{
  user-select: none;
  touch-action:none;
  width: 1024px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.actions {
  position: absolute;
  width: 100px;
  right: 50px;
  z-index: 12;
}
.visible-index {
  z-index: 11;
  display: block!important;
}
.hide {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
}
.disabled {
  pointer-events: none;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.preview {
  display: block;
  position: absolute;
  top: 75px;
  left: calc(50% - 960px);
  width: 1920px;
  height:768px;
  z-index: 12;
  pointer-events: none;
}
.preview img {
  box-sizing: border-box;
  max-width: 100%;
}
