/*
PLEASE, DON'T TOUCH ANYTHING HERE. THANKS
*/
.header {
  padding-right: 150px;
  font-size: 30px;
  font-weight: 600;
}
.header img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.figure-wrapper {
  /*width: 1200px;*/
  margin: 0 auto;
  height: 870px;
}
#figure {
  min-height: 100%;
}
.footer {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  min-height: 100px;
  position: absolute;
  bottom: 5%;
  right: 250px;
  max-width: 700px;
  pointer-events: none;
}
.reset-btn {
  margin-top: -75px;
  color: white!important;
  background-color: #2f5597!important;
}
::v-deep .JXGtext {
  font-size: 35px!important;
  opacity: 1 !important;
  font-family: inherit !important;
}
::v-deep text#figure_licenseText, ::v-deep #figure_navigationbar, ::v-deep .JXGinfobox {
  display: none;
}
::v-deep path {
  stroke-width: 3px;
  fill-opacity: 1;
}
::v-deep line, ::v-deep ellipse {
  stroke: black;
  fill: black;
  /*stroke-width: 3px;*/
}
::v-deep .drag {
  stroke: rgba(192, 192, 192, .7) !important;
  stroke-width: 20px;
  paint-order: stroke;
  cursor: grab;
}
::v-deep .drag-hide {
  stroke: rgba(192, 192, 192, 0) !important;
  stroke-width: 20px;
  paint-order: stroke;
  cursor: grab;
}
::v-deep .back-angle {
  fill: #fff;
}
::v-deep ellipse.red {
  stroke: #f5b37c;
}
::v-deep .hide-elips {
  opacity: 0 !important;
}
::v-deep .new-font {
  font-family: DancingScript !important;
  font-size: 40px !important;
}
.button {
  width: 223px;
  height: 90px;
  display: block;
  background-image: url(../button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
  pointer-events: auto;
}
.button:active {
  background-image: url(../button-hover.svg);
}
.button.mod1 {
  background-image: url(../button2.svg);
}
.button.mod1.active {
  background-image: url(../button2-hover.svg);
}
.button.mod2 {
  background-image: url(../button3.svg);
}
.button.mod2.active {
  background-image: url(../button3-hover.svg);
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}