::v-deep .label-container:focus, #c:focus, #c1:focus, #c2:focus {
  outline: none;
}
::v-deep .label {
  font-size: 30px;
}
::v-deep .drag-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(192, 192, 192, .7);
}
.red-point {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
}
#wrapper, #wrapper2 {
  display: flex;
  display: -ms-inline-grid;  
  justify-content: center;
  margin: -27px auto 0;
}
.wrappers:first-child {
  margin-right: 15px;
}
@media (max-width: 500px) {
  
}